<div class="vertical-layout vertical-compact-menu content-detached-right-sidebar fixed-navbar menu-open pace-done" data-open="click" data-menu="vertical-compact-menu" data-col="content-detached-right-sidebar"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div></div>
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-bg-color navbar-shadow" style="opacity: 0.97;">
  <div class="navbar-wrapper">
    <div class="navbar-header d-md-none">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto">
          <a class="nav-link nav-menu-main menu-toggle hidden-xs is-active">
          <i class="ft-menu font-large-1"></i>
        </a></li>
        <li class="nav-item d-md-none"><a class="navbar-brand"><img class="brand-logo d-none d-md-block" alt="Alpha-X" src="assets/static/images/logo.png"><img class="brand-logo d-sm-block d-md-none" alt="Alpha-X" src="assets/static/images/logo.png"></a></li>
        <li class="nav-item d-md-none">
          <a class="nav-link open-navbar-container" data-target="#navbar-mobile"></a>
        </li>
        <li class="dropdown dropdown-user nav-item nav navbar-nav float-right">
          <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown" style="text-align: right;">
          <span>
            <img *ngIf=isImage src="{{backendUrl}}/uploads/{{profileImage}}" class="image--cover " >
            <img *ngIf=!isImage src="assets/static/images/avatar-s-1.png" class="image--cover ">
          </span>
        </a>
          <div class="dropdown-menu dropdown-menu-right">          
               <a class="dropdown-item"><span translate>Welcome</span> {{userName}}</a>
            
            <a class="dropdown-item" [routerLink]="['/profile']"><i class="ft-user"></i> Profile</a>
            <div class="dropdown-divider"></div><a class="dropdown-item" (click)="logout()"><i class="ft-power" ></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-container">
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#">
              <i class="ft-menu"></i></a></li>
        
        </ul>
        <ul class="nav navbar-nav float-right">         
          <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i id="myDIV" class="flag-icon flag-icon-gb"></i>
            <span class="selected-language"></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdown-flag">
              <a class="dropdown-item"  (click)="switchLanguage('en','Back Office_ENGLISH')">
                <i class="flag-icon flag-icon-gb">

                </i>
                 English
                </a>
                <a class="dropdown-item" (click)="switchLanguage('fr','Back Office_FRENCH')">
                  <i class="flag-icon flag-icon-fr">

                  </i>
                   French
                  </a>
                  <a class="dropdown-item" (click)="switchLanguage('ch','Back Office _CHINEESE')">
                    <i class="flag-icon flag-icon-cn">

                    </i>
                     Chinese
                    </a>
                    <a class="dropdown-item" (click)="switchLanguage('ger','Back Office_GERMAN')">
                      <i class="flag-icon flag-icon-de">

                      </i>
                       German
                      </a>
                      <a class="dropdown-item" (click)="switchLanguage('rus','Back Office_RUSSIAN')">
                          <i class="flag-icon flag-icon-me">
    
                          </i>
                          Russian
                          </a>
                      <a class="dropdown-item" (click)="switchLanguage('ita','Back Office_ITALIAN')">
                              <i class="flag-icon flag-icon-it">
        
                              </i>
                              Italian
                       </a>  
                       <a class="dropdown-item" (click)="switchLanguage('spa','Back Office_SPANISH')">
                                  <i class="flag-icon flag-icon-es">
            
                                  </i>
                                  Spanish
                        </a>          
                    </div>
          </li>
         
          <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
            <span class="avatar avatar-online">
              <img *ngIf=isImage src="{{backendUrl}}/uploads/{{profileImage}}" class="image--cover">
              <img *ngIf=!isImage src="/assets/static/images/avatar-s-1.png" class="image--cover">
            </span>
          </a>
            <div class="dropdown-menu dropdown-menu-right">          
                 <a class="dropdown-item"><span translate>Welcome</span> {{userName}}</a>
              
              <a class="dropdown-item" [routerLink]="['/profile']" translate><i class="ft-user"></i>Profile</a>
              <div class="dropdown-divider"></div><a class="dropdown-item" (click)="logout()" translate><i class="ft-power"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>