<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title >Alpha-X | Intellectual</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/website/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a [routerLink]="['/home']" translate>Home</a></li>
          <li > <a href="#" translate>About Us</a></li>
          <li > <a href="#" translate>Features</a></li>
          <!-- <li ><a href="#" translate>Token</a></li> -->
          <li ><a href="#" translate>Roadmap</a></li>
         <li ><a [routerLink]="['/team']">Team</a></li> 
          <li class="menu-active" ><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li ><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          <li class="menu-has-children">

            <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
              <i id="myDIV" class="flag-icon flag-icon-gb"></i>
              <!-- <i [ngClass]="{ 'flag-icon flag-icon-gb':is_English==true, 
                              'flag-icon flag-icon-cn':is_Chinese==true, 
                              'flag-icon flag-icon-fr':is_France==true,
                              'flag-icon flag-icon-ger':is_German==true,
                              'flag-icon flag-icon-rus':is_Russian==true,
                              'flag-icon flag-icon-ita':is_Italian==true,
                              'flag-icon flag-icon-spa':is_Spanish==true
                            }"></i> -->
            </a>
            <ul>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
                  <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ch','FAQ_chineese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('fr','FAQ_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ger','FAQ_german')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('rus','FAQ_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ita','FAQ_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('spa', 'FAQ_spanish')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
              </li>
            </ul>
          </li>
		  <li ><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2 translate>INTELLECTUAL PROPERTY NOTICE</h2>
                
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      FAQ Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">

        <div class="section-header">
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>

        	<div class="row">
		<div class="col-md-12">
        <p style="font-size: 16px;">
                  
            <br><br>All logos, designs, registered and unregistered trademarks, whitepaper, and all the content
            published on <a href=" http://www.alpha-x.io/"> http://www.alpha-x.io/</a> (the <b>“Website”</b>) are intellectual property under the ownership
            of the Website. No person shall be allowed to use the Website’s intellectual property without
            seeking written permission from the Website. Any infringement of these intellectual property
            rights of the Website shall entitle the Website to initiate legal action against the person infringing
            such rights.<br><br>
            The third party intellectual property rights including but not limited to copyrights, trademarks
            and/or service marks as available on the Website are the property of their respective owners and,
            unless stated otherwise in the Terms of Service, the Website does not endorse and is not affiliated
            with any of the holders of any such rights.<br><br>
            <b> © 2018 Asaex IT Solutions Inc. Marshal Islands. All rights reserved.</b>
                            </p>
                                <div class="pxlr-club-faq">
									<!-- <h3 style="color: #e96f20; font-weight: 700;">MOBILE WALLET</h3> -->
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">


                                                                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
    
				

	                     </div>
		  
		<div class="col-md-3"></div>
		<div class="col-md-6" style="margin: 0 auto; text-align: center;margin-top: 8%;">
		<p style="font-size: 16px; color: #97999b;" translate>YOU DID NOT FIND AN ANSWER FOR YOUR QUESTION?</p>
		<a [routerLink]="['/contactus']" class="btn btn-outline-light" style="margin: 0 auto; color: #e66a20;  border: 1px solid #e66a20;
        padding: 1rem 2rem;" translate>ASK A QUESTION</a>
		</div>
		<div class="col-md-3"></div>
				
		
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
      <footer id="footer">
       
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-4 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                <p translate>Alpha-X is an entirely new generation cryptocurrency based on Scrypt having complete Proof Of Stake (POS) network.</p>
              </div>
    
             
                  <div class="col-lg-4 col-md-6 footer-info" style="color
                  :#6d6e72">
                      <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                      <!-- <a translate>Legal Opinion </a><br> -->
                      <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                            <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                            <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                            <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                            <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                            <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>

                          </div>
             
    
              <div class="col-lg-4 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                <p title="Coming Soon" translate>QT-Wallet</p>
                <p title="Coming Soon" translate>Mobile Payment</p>
                <p title="Coming Soon" translate>Exchange</p>
                <p title="Coming Soon" translate>E-Commerce Platform</p>
              </div>
    
            </div>
          </div>
        </div>
        <hr style="background: #363535; width: 85%;">
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center-md">
                <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
              </div>
              <div class="col-lg-4"></div>
              <!-- <div class="col-lg-8 text-right text-center-md">
                    <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                    
                  </ul>
                    
                  </div> -->
            </div>
          </div>
        </div>
      </footer>
      </div>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/lib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <!-- <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>


