/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800');

body {
  background: #fff;
  color: #666666;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #e86f1e;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #e86f1e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: transparent;
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
	#login.btn{
		width:50%;
		margin-left: 15px;
	}	
}

.package {
  text-align: left;
/*  border: 1px solid #e66a20;*/
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  overflow: hidden;
/*	border-radius:20px;*/
}

.package .package-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 55px;
}

.package .package-header h5 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  color: #fff;
}

.package .package-header .meta-text {
  font-size: 0.8rem;
}

.package h4 {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #fff;
}

.package .price-container {
  margin-bottom: 20px;
}

.package .price-container span.period {
  color: #777;
  font-size: 0.9rem;
  margin-left: 10px;
}

.package ul {
  padding: 0 29px;
}

.package ul li {
  padding: 10px;
/*  border-bottom: 1px solid #eee;*/
  color: #fff;
  font-size: 0.9rem;
}

.package ul i {
  margin-right: 10px;
}

.best-value .package {
  margin-top: 0;
  padding-bottom: 40px;
  border: 1px solid #e66a20;
	border-radius: 20px;
}

.best-value .package .package-header {
  height: 85px;
}

.best-value .package .package-header h5 {
  color: #fff;
}


/*timline*/

.timeline-hold{
  
}

.timeline{
  display: inline-block;
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  display: block;
  overflow-y: hidden;
  padding: 30px 0px;
}

ul#timeline{
  list-style: none;
  position: relative;
  padding: 50px 0px;
  display: flex;
  margin: 0px auto;
}

ul#timeline:before{
  content: '';
  height: 1px;
  top: auto;
  left: 42px;
  right: 0;
  width: 95%;
  margin-bottom: 20px;
  background: #fff;
  position: absolute;
}

ul#timeline li{
  display: table-cell;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
  text-align: center;
  cursor: pointer;
  flex: 1;
}

ul#timeline li:last-child .item-wrp{
  right: 0px;
}

ul#timeline li:last-child .item-wrp .border{
  right: 13px;
  position: absolute;
}

ul#timeline li:hover .border:after{
  border-color: #e96e20;
  background: #e96e20;   
}

ul#timeline li .item-wrp{
  position: absolute;
  top: 30px;
}

ul#timeline li:nth-child(even) .item-wrp{
  top: -22px;
}

ul#timeline li .border{
  width: 1px;
  height: 20px;
  background: #fff;
  margin: 20px auto;
  position: relative;
}

ul#timeline li .border:after{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  bottom: 0;
  left: -4px;
  top: -6px;
  background-color: #dedddf;
}

ul#timeline li:nth-child(even) .border:after{
  top: 7px;
  background-color: #dedddf;
}

ul#timeline li .border.active:after{
  border-color: #e96e20;
  background: #e96e20;
}

ul#timeline li .title{
  margin-top: 15px;
}

ul#timeline li .title p{
  margin: 0px 0px;
  color: #fff;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  /* background: #0e121a; */
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}
@media (max-width: 567px) and (min-width:320px)
{
#startnow {
  display: none;
}
#login1{
  text-align: center;
  margin-top: -4px;
}
#left-ax h2 {
   padding: 0%; 
   text-align: center; 
   font-size:12px;
}
#left-ax1 h3 {
  padding: 0%; 
  text-align: center; 
}
}
@media (min-width: 1024px) {
  #header #logo {
  padding-left: 6%;
  width:30%;
  }
  
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
/*  border-left: 4px solid #18d26e;*/
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.btn{
	padding: 0.75rem 2rem;
}
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  /* display: table; */
  width: 100%;
  /* height: 100vh;
  background: #000; */
}

#intro .carousel-item {
  width: 100%;
  /* height: 100vh;
  background-size: cover;
  background-position: center; */
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
/*  background-color: rgba(0, 0, 0, 0.7);*/
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #e96f20;
  /* margin-bottom: 30px; */
  font-size: 36px;
  font-weight: 700;
}

#intro h3 {
  color: #e96f20;
  /* margin-bottom: 30px; */
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #left-ax h2 {
  font-size: 22px;
  }
  #left-ax1 h3 {
    font-size: 18px;
    /* padding: 6%; */
    }
}
@media (max-width: 768px) {
  #intro p {
  font-size: 18px;
  padding-left: 6%;
  }
	#login1 .btn{
		padding: 0.35rem 1rem; 
	    margin-left: 3%;
	   font-size: 14px;}
	
	#axcoin{
		    width: 90%;
            margin: 0 auto;
	}
	}

#intro p {
  width: 80%;
/*  margin: 0 auto 30px auto;*/
  color: #7d7d7d;
  font-size: 19px;
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #e96e20;
}

#intro .btn-get-started:hover {
  background: #fff;
  color: #e96e20;
}
#soc  .fa {
  padding: 10px;
  font-size: 15px!important;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 10px;
  }
}

@media (max-width: 1440px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #e96f20;
}

.nav-menu > li {
  margin-left: 5px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #e96f20;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 1440px) and (min-width: 768px) {
  #mobile-nav-toggle {
    margin-right: 16%!important;
  }
}
@media (max-width: 1440px) {
  #mobile-nav-toggle {
    display: inline;
    margin-right: 60px;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: absolute;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  margin-left: 2%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #e96e20;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #e96e20;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  /* background: rgba(0, 0, 0, 0.7); */
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #e86f1e;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
/*  background: #ddd;*/
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: #41474f;
  bottom: 0;
  left: calc(50% - 50px);
}

.section-header p {
  text-align: left;
  padding-bottom: 30px;
  color: #6d6e72;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #111923;
}

/* Featured Services Section
--------------------------------*/
#featured-services {
  background: #0b1016;
}

#featured-services .box {
  padding: 30px 20px;
}

/*
#featured-services .box-bg {
  background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}
*/

#featured-services i {
  color: #e96e20;
  font-size: 48px;
  display: inline-block;
  line-height: 1;
}

#featured-services h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 18px;
}

#featured-services h4 a {
  color: #fff;
}

#featured-services h4 a:hover {
  color: #e96e20;
}

#featured-services p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

.rounded {
    border-radius: 0rem!important;
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
/* About Us Section
--------------------------------*/
#about {
/*  background: url("../img/about-bg.jpg") center top no-repeat fixed;*/
  background-size: cover;
/*  padding: 60px 0 40px 0;
  position: relative;*/
}

#about::before {
  /* content: ''; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
/*  background: rgba(255, 255, 255, 0.92);*/
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
/*
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
*/
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
/*  border-radius: 4px 4px 0 0;*/
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #e96e20;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: #e96e20;
}

#about .about-col h2 {
  text-align: center;
  /* font-weight: 700; */
  font-size: 20px;
  padding: 0;
  /* margin: 40px 0 12px 0; */
  text-transform: capitalize;
  text-align: right;
}

#about .about-col h2 a {
  color: #000;
}

#about .about-col h2 a:hover {
  color: #e96e20;
}

#about .about-col p {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/* Services Section
--------------------------------*/
#services {
  background-image: url(/assets/website/img/usp-back.jpg);
  background-size: 100% 100%;
  padding: 60px 0 40px 0;
}

#services .box {
  margin-bottom: 30px;
}

#services .icon {
  float: left;
}

#services .icon i {
  color: #18d26e;
  font-size: 36px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
/*  margin-left: 60px;*/
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
	color: #e96e20;
}

#services .title a {
  color: #e96e20 ;
}

#services .box:hover .title a {
  color: #e96e20;
}

#services .description {
 font-size: 16px;
/*  margin-left: 60px;*/
 line-height: 24px;
 margin-bottom: 0;
 text-align: center;
 color: #97999b;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
}

#call-to-action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #e96e20;
  border: 2px solid #e96e20;
}

/* Call To Action Section
--------------------------------*/
#skills .title{
	font-size: 18px;
	font-weight: 700
}
#skills {
  padding: 60px 0;
	background-color: #13171D;
}
#wallets {
  padding: 60px 0;
  /* background-color: #13171D; */
  background-image: url(/assets/website/img/new/rating_back.jpg);
}

#skills .progress {
  height: 35px;
  margin-bottom: 10px;
}

#skills .progress .skill {
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

#skills .progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

#skills .progress-bar {
  width: 1px;
  text-align: left;
  transition: .9s;
}

#affiliate {
  padding: 0px 0;
	/* background-color: #111923; */
}

/* Facts Section
--------------------------------*/
#facts {
  background: url("/assets/website//img/timelne.jpg") center top no-repeat;
  background-size: 100% 100%;
  padding: 60px 0 0 0;
  position: relative;
}

#facts::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
/*  background: rgba(255, 255, 255, 0.88);*/
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .counters span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #e96e20;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #111;
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  padding: 60px 0;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  background: #18d26e;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s;
}

#portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
  background: #e96e20;
}

#portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
  visibility: visible;
  left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
  visibility: visible;
  right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info h4 a {
  color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #e96e20;
}

#portfolio .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 60px 0;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #e96e20;
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 60px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item {
  text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #e96e20;
}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #000;
  position: relative;
}

#team .member .member-info {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: -50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #e96e20;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #e96e20;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #e96e20;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #28313a;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.text-center {
	text-align: right!important;}

#contact .form #sendmessage {
  color: #e96e20;
  border: 1px solid #e96e20;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: transparent;
    border: 0;
    padding: 10px 30px;
    color: #e96f20;
    transition: 0.4s;
    cursor: pointer;
    border: 2px solid #e96f20;
}

#contact .form button[type="submit"]:hover {
  background: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0b1017;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
  
}

#footer .footer-top {
  background: #0b1017;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
  text-align: left;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #e96e20;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  color: #6d6e72;
  text-align: left;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #e96e20;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #e96f20;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #e96e20;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #e96e20;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #e96e20;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e96e20;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}


.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
}
.panel-group .panel .panel-heading {
    padding: 0;
}
.panel-group .panel .panel-heading h4 a {
    background: #f6f9fc;
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    /*background: #fff;*/
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "-";
    font-size: 30px;
    line-height: 10px;
}
.panel-group .panel .panel-heading h4 a i {
    color: #999;
    font-size: 12px;
}
.panel-group .panel .panel-body {
    padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
}
.panel-title{
	color: #6e7275;
}

.panel-group {
    margin-bottom: 0;
	
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
	border-bottom: 1px solid;
	border-top: 1px solid;
}
.panel-group .panel .panel-heading {
    padding: 0;
}
.panel-group .panel .panel-heading h4 a {
    background: transparent;
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    /*background: #fff;*/
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "-";
    font-size: 30px;
    line-height: 10px;
}
.panel-group .panel .panel-heading h4 a i {
    color: #e96e20;
    font-size: 12px;
}
.panel-group .panel .panel-body {
    padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
}

.panel-body p{
	font-size: 14px;
}

/*
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}*/






/*------------progress bar-------------*/

#countdown-wrap {
  width: 100%;
  /* height: 300px; */
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  max-width: 650px;
	margin: 0 auto;
}
#goal {
  font-size: 20px;
  text-align: right;
  color: #FFF;
}
@media only screen and (max-width: 640px) {
  #goal {
    text-align: right;
  }
}
#glass {
  width: 100%;
  height: 8px;
  background: #c7c7c7;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}
#progress {
  float: left;
  width: 16%;
  height: 20px;
  background: #e96f20;
  z-index: 333;
}
.goal-stat {
  width: 50%;
  padding: 10px;
  float: left;
  margin: 0;
  color: #FFF;
}
.goal-stat1 {
  width: 50%;
  padding: 10px;
  float: right;
  margin: 0;
  color: #FFF;
}
@media only screen and (max-width: 640px) {
  .goal-stat {
    width: 50%;
    text-align: center;
  }
}
.goal-number,
.goal-label {
  display: block;
}
.goal-number {
  font-weight: bold;
}

.exachager {
  background: #101923;
  margin-top: 0px;
  border-top: 6px solid #e76a35;
  border-top-style: dashed;
  border-bottom: 6px solid #e76a35;
  margin-bottom: 0px;
  border-bottom-style: dashed;
  font-size: 16px;
}

.social-link{
  font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

 #container {
  width: 100%;
  margin:  auto;
  border-radius: 3px;
  text-align: center
} 

#container .content {
  /* width: 100%; */
  margin: 0 auto;
  
}

  #container .content > div {
  display: inline-block;
  margin: -12px 14px;
  width: 90px;
  /* height: 150px; */
  /* background: #13171d; */
  border-radius: 5px;
  /* color: #f3851e; */
  line-height: 1.2;
  font-size: 54px;
  font-weight: 700;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 60.417px;
  font-family: "Montserrat";
  color: rgb(243, 133, 30);
}

  /* .container .title {
  width: ;
  height: 50px;
  background: #01b388;
  position: relative
} */

  #container .title span {
  display: table-cell;
  width: 115px;
  font-size: 12px;
  color: #d2d5d8;
  /* line-height: 50px; */
  padding-left: 6%;
  font-family: "Montserrat";
  font-weight: 600;

}



@media only screen and (max-width: 480px){
  #container .content > div {
  display: inline-block;
  margin: 10px 9px 10px;
  width: 45px;
  font-size: 18px;
  line-height: 36px;
  }

  #container .title span{
    display: none;
  }
}


#modal{
  /* height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.7);
  text-align:center; */
 
}

/*the black transparent to cover website*/

/*the pop up*/
#mymodal{
  height:12%;
  width:33%;
  position:fixed;
  left:34%;
  top:13%;
  margin: 0 auto;
  z-index: 99999;
  /* margin-left:-100px;
  margin-top:-95px; */
  
}

/*remove link color and underline*/
a{
  text-decoration:none;
  color:black;
}

/*changing the close button design to red 'x' without background*/
#close{
  position:relative;
  left:94%;
  background-color:rgba(250,250,250,0);
  border:none;
  border-radius:50%;
  color:#fff;
  font-size:20px;
  font-weight: 700;
}
@media only screen and (max-width: 480px) {
   #modal #mymodal  {
    width: 90%!important;
    left:5%;
    top:20%;
   }
   #ai-img{
    width: 90%;
    text-align: center;
  }
#left-ax2 img{
  width: 190%!important;
  margin-top: -20%!important;
}
#left-ax h1{
  font-size: 25px!important;
  padding-right: 0rem!important;
}
  }

@media screen and (max-width: 568px) {
  #left-ax h2 {
    font-size: 12px!important;
    text-align: center;
    padding-top: 3%;
   }
   #left-ax1 h3 {
    font-size: 12px!important;
    margin-left: 8%;
  }
  #left-ax2 {
    width: 55%;
    margin: 0 auto;
    text-align: center;
  }
  #login1 .btn{
    padding: 0.50rem 1rem !important;
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 16%;
  }
   #axcoin {
    width: 90%;
    margin: 0 auto;
    margin-top: 12px!important;
  }
    
  #axcoin h3 {
font-size: 12px!important;
    }  
  #axcoin #buyax{
    padding: 0.50rem 1rem!important;
    }
 #left-ax2 img{
  width: 190%!important;
  margin-top: -20%!important;
}
#left-ax h1{
  font-size: 25px!important;
  padding-right: 0rem!important;
}
#ai-img{
  width: 90%;
  text-align: center;
}
  }

  @media screen and (max-width: 768px) and (min-width: 567px) {
    #left-ax h2 {
      font-size: 16px!important;
      text-align: center;
      padding-top: 6%;
     }
     #left-ax1 h3 {
      font-size: 12px!important;
      margin-left: 25%;
      
    }
    #left-ax2 {
      width: 40%;
      margin: 0 auto;
      text-align: center!important;
    }
    /* #login1 .btn{
      padding: 0.65rem 1rem !important;
      font-size: 14px;
  
      text-align: center;
      margin-left: 23%!important;
      margin: -153px;
    } */
     #axcoin {
      width: 90%;
      margin: 0 auto;
      margin-top: 12px!important;
    }
     #crypto h3{
       text-align: center!important;
       color: #fff;
       font-size: 16px;
     } 
    #axcoin h3 {
  font-size: 12px!important;
      }  
    #axcoin #buyax{
      padding: 0.50rem 1rem!important;
      }
      #left-ax2 img{
        width: 126%!important;
        margin-top: -20%!important;
      }
      #left-ax h1{
        font-size: 25px!important;
        padding-right: 0rem!important;
      }
      #ai-img{
        width: 55%!important;
        margin: 0 auto;
    }

@media screen and (max-width: 768px){
  #left-ax2 img{
    width: 126%!important;
    margin-top: -20%!important;
  }
  #left-ax h1{
    font-size: 25px!important;
    padding-right: 0rem!important;
  }
  #ai-img{
    width: 55%!important;
    margin: 0 auto;
  }
  #login1 .btn{
    padding: 0.50rem 1rem !important;
    font-size: 12px;
    margin: 0 auto!important;
    margin-bottom: 5%!important;
  } 
}