<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title >Alpha-X | FAQ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


</head>

<body>

  <!--==========================
    Header
  ============================-->
  <!-- <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>
      <nav id="nav-menu" style="float: right; margin-right: 25%;">
        <ul class="nav-menu">
            <li class="menu-has-children">
                <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                  <i id="myDIV" class="flag-icon flag-icon-gb"></i>
                </a>
                <ul> 
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                      <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ch','HOME_chineese')">
                      <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('fr','HOME_french')">
                      <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ger','HOME_german')">
                      <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('rus','HOME_russian')">
                      <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ita','HOME_italian')">
                      <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('spa', 'HOME_spanish')">
                      <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
                  </li>
                </ul>
              </li>
          </ul>
          </nav>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a [routerLink]="['/home']" translate>Home</a></li>
          <li > <a href="#" translate>About Us</a></li>
          <li > <a href="#" translate>Features</a></li>
          <li ><a href="#" translate>Roadmap</a></li>
         <li ><a [routerLink]="['/team']" translate>Team</a></li> 
          <li class="menu-active" ><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li ><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          
		  <li ><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav>
    </div>
  </header> -->
<!--header -->
<header id="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <div class="logo">
                        <a href="/index.html">
                            <img src="assets/website/img/logo.png" />
                        </a>
                    </div>
                    <div class="lang-menu">
                        <div class="language">
                            <a _ngcontent-c5="" class="sf-with-ul"><i _ngcontent-c5="" class="flag-icon flag-icon-gb" id="myDIV"></i></a>
                            <ul _ngcontent-c5="">
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp;
                                        English</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp;
                                        Chinese</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp;
                                        French</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-de"></i>&nbsp;&nbsp;
                                        German</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-me"></i>&nbsp;&nbsp;
                                        Russian</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-it"></i>&nbsp;&nbsp;
                                        Italian</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-es"></i>&nbsp;&nbsp;
                                        Spanish</a></li>
                            </ul>
                        </div>
                        <span onclick="openNav()" class="menu-icon"><img src="assets/website/img/menu-icon.png" /></span>

                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="#section">Home</a>
                            <a href="#problem-solution">About Us</a>
                            <a href="#unique-section">Features</a>
                            <a href="#roadmap">Roadmap</a>
                            <a routerLink="/team">Team</a>
                            <a routerLink="/webfaq">Faq</a>
                            <a routerLink="/contactus">Contact Us</a>
                            <a routerLink="/login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--header -->
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;padding-top: 10%;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
                <h2 style="text-align: left;" translate>FAQ</h2>
                <p translate>FREQUENTLY ASKED QUESTIONS</p>
				<img src="assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      FAQ Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">

        <div class="section-header">
         
        </div>

        	<div class="row">
		<div class="col-md-12">
                                <div class="pxlr-club-faq">
									<!-- <h3 style="color: #e96f20; font-weight: 700;">MOBILE WALLET</h3> -->
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingOne" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseOne"
                                                           aria-expanded="false" aria-controls="collapseOne" style="color: #97999b;" translate>What is Alpha-X ?<i class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"
                                                     aria-labelledby="headingOne">
                                                    <div class="panel-body pxlr-faq-body"><p style="font-size: 16px;" translate>Alpha-X is a new generation crypto-currency based on Scrypt a with complete Proof Of Stake (POS) network providing instant, private and secure transactions. Alpha-X’s intention is to utilise blockchain technology to overcome the historical shortcomings of the traditional system and make it as good as virtual cash (plastic cards) have used in real time liquidity and give a utility proposition in the market.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingTwo" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo" style="color: #97999b;" translate>HOW CAN I BUY ALPHA-X ?<i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
                                                     aria-labelledby="headingTwo">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>To buy Alpha-X, you have to register yourself on the Alpha-X website. Once registered successfully login within the portal and deposit BTC, ETH, BCH and LTC at the given address inside the user panel. Once you deposit the given coins, click on the Buy button and you will get Alpha-X to that value.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingThree" role="tab">
                                                    <h4 class="panel-title">
														<a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseThree"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseThree" style="color: #97999b;" translate>WHAT IS THE COST OF 1 ALPHA-X ?<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseThree" role="tabpanel"
                                                     aria-labelledby="headingThree">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>We will sell Alpha-X in three different phases for a particular time and the will price change in each phase. We have private pre sell, coins priced at 5 cents each, open pre sell coins priced at 7 cents each, and crowd sale where the coins are priced at 9 cents each.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                    <div class="panel-heading" id="headingFour" role="tab">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button"
                                                                                   data-toggle="collapse"
                                                                                   data-parent="#accordion"
                                                                                   href="#collapseFour"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="collapseThree" style="color: #97999b;" translate>WHAT PAYMENT OPTION DOES ALPHA-X PROVIDE ?<i
                                                                        class="pull-right fa fa-plus"></i></a></h4>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="collapseFour" role="tabpanel"
                                                         aria-labelledby="headingFour">
                                                        <div class="panel-body pxlr-faq-body">
                                                            <p style="font-size: 16px;" translate>Alpha-X lets you make the payment in the top 4 most famous currencies that is Bitcoin, Ethereum, Bitcoin Cash and Litecoin.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading" id="headingFive" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapseFive"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>WHAT IS THE MINIMUM AND MAXIMUM INVESTMENT IN ALPHA-X ?<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapseFive" role="tabpanel"
                                                             aria-labelledby="headingFive">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>The minimum investment differs in all three phases, and there is no maximum investment, for any phase. In private pre sell the minimum buy is $1, open pre sell the minimum buy is $1 and in crowd sale the minimum buy is $1.</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel panel-default">
                                                            <div class="panel-heading" id="headingSix" role="tab">
                                                                <h4 class="panel-title">
                                                                    <a class="collapsed" role="button"
                                                                                           data-toggle="collapse"
                                                                                           data-parent="#accordion"
                                                                                           href="#collapseSix"
                                                                                           aria-expanded="false"
                                                                                           aria-controls="collapseThree" style="color: #97999b;" translate>CAN I BUY ALPHA-X AFTER THE ICO ?<i
                                                                                class="pull-right fa fa-plus"></i></a></h4>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="collapseSix" role="tabpanel"
                                                                 aria-labelledby="headingSix">
                                                                <div class="panel-body pxlr-faq-body">
                                                                    <p style="font-size: 16px;" translate>Yes you can buy Alpha-X after the ICO through the exchanges on which we are going to list it.</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-default">
                                                                <div class="panel-heading" id="headingSeven" role="tab">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" role="button"
                                                                                               data-toggle="collapse"
                                                                                               data-parent="#accordion"
                                                                                               href="#collapseSeven"
                                                                                               aria-expanded="false"
                                                                                               aria-controls="collapseSeven" style="color: #97999b;" translate>WHEN WILL I GET THE ALPHA-X IN MY WALLET ?<i
                                                                                    class="pull-right fa fa-plus"></i></a></h4>
                                                                </div>
                                                                <div class="panel-collapse collapse" id="collapseSeven" role="tabpanel"
                                                                     aria-labelledby="headingSeven">
                                                                    <div class="panel-body pxlr-faq-body" >
                                                                        <p style="font-size: 16px;"translate>We give your Alpha-X directly to the user panel at the time of the ICO, but you can only withdraw it to your wallet only after the ICO is completed for all three phases.</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                 <div class="panel panel-default">
                                                                    <div class="panel-heading" id="headingEight" role="tab">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button"
                                                                                                   data-toggle="collapse"
                                                                                                   data-parent="#accordion"
                                                                                                   href="#collapseEight"
                                                                                                   aria-expanded="false"
                                                                                                   aria-controls="collapseEight" style="color: #97999b;" translate>IS ALPHA-X A COIN OR A TOKEN ?<i
                                                                                        class="pull-right fa fa-plus"></i></a></h4>
                                                                    </div>
                                                                    <div class="panel-collapse collapse" id="collapseEight" role="tabpanel"
                                                                         aria-labelledby="headingEight">
                                                                        <div class="panel-body pxlr-faq-body">
                                                                            <p style="font-size: 16px;" translate>Alpha-X is a coin based on Scrypt algorithm and uses a 100% Proof Of Stake network.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                                
                                                                <div class="panel panel-default">
                                                                        <div class="panel-heading" id="headingNine" role="tab">
                                                                            <h4 class="panel-title">
                                                                                <a class="collapsed" role="button"
                                                                                                       data-toggle="collapse"
                                                                                                       data-parent="#accordion"
                                                                                                       href="#collapseNine"
                                                                                                       aria-expanded="false"
                                                                                                       aria-controls="collapseNine" style="color: #97999b;" translate>HOW MANY ALPHA-X COINS ARE THERE AVAILABLE IN THE ICO ?<i
                                                                                            class="pull-right fa fa-plus"></i></a></h4>
                                                                        </div>
                                                                        <div class="panel-collapse collapse" id="collapseNine" role="tabpanel"
                                                                             aria-labelledby="headingNine">
                                                                            <div class="panel-body pxlr-faq-body">
                                                                                <p style="font-size: 16px;"translate>There are 200 Million Alpha-X coins available, out of which 170 Million will be sold in the ICO and 30 Million will be used for bounty, development, legal, promotional programs etc.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>      
                                                                    <div class="panel panel-default">
                                                                            <div class="panel-heading" id="headingTen" role="tab">
                                                                                <h4 class="panel-title">
                                                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                                                       data-parent="#accordion" href="#collapseTen"
                                                                                       aria-expanded="false" aria-controls="collapseTen" style="color: #97999b;"translate>CAN I DEPOSIT BTC AND OTHER COINS AND WITHDRAW LATER ?<i
                                                                                                class="pull-right fa fa-plus"></i></a>
                                                                                </h4>
                                                                            </div>
                                                                            <div class="panel-collapse collapse" id="collapseTen" role="tabpanel"
                                                                                 aria-labelledby="headingTen">
                                                                                <div class="panel-body pxlr-faq-body">
                                                                                    <p style="font-size: 16px;" translate>Nope, Alpha-X is an ICO program, not a wallet. The amount you deposit here can be used only for Alpha-X purchase and not for withdrawals.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>  
                                                                        <div class="panel panel-default">
                                                                                <div class="panel-heading" id="headingEleven" role="tab">
                                                                                    <h4 class="panel-title">
                                                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                                                           data-parent="#accordion" href="#collapseEleven"
                                                                                           aria-expanded="false" aria-controls="collapseEleven" style="color: #97999b;" translate>WHAT HAPPEN IF I DEPOSIT LESS THAN THE MINIMUM INVESTMENT IN ALPHA-X ?<i
                                                                                                    class="pull-right fa fa-plus"></i></a>
                                                                                    </h4>
                                                                                </div>
                                                                                <div class="panel-collapse collapse" id="collapseEleven" role="tabpanel"
                                                                                     aria-labelledby="headingEleven">
                                                                                    <div class="panel-body pxlr-faq-body">
                                                                                        <p style="font-size: 16px;" translate>If you deposit less than the minimum investment you can top up your wallet up to the minimum investment amount and buy Alpha-X right away.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading" id="headingTwelve" role="tab">
                                                                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                                                                               data-toggle="collapse"
                                                                                                               data-parent="#accordion"
                                                                                                               href="#collapseTwelve" aria-expanded="false"
                                                                                                               aria-controls="collapseTwelve" style="color: #97999b;" translate>WHAT IS THE AFFILIATE/ REFERRAL PLAN ?<i class="pull-right fa fa-plus"></i></a></h4>
                                                                                </div>
                                                                                <div class="panel-collapse collapse" id="collapseTwelve" role="tabpanel"
                                                                                     aria-labelledby="headingTwelve">
                                                                                    <div class="panel-body pxlr-faq-body">
                                                                                        <p style="font-size: 16px;" translate>You can use your Alpha-X referral link and share it with your friends, families and other interested parties. If any of them sign up with your referral link, and then they buy Alpha-X, you will get 10.0% reward amount from your first level referrals. If your referral shares his referral link and so on, you will get a benefit of 5% from the 2nd level, 3% from the 3rd level, and 1% from the 4th and 5th levels.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                
                                                                            <div class="panel panel-default">
                                                                                    <div class="panel-heading" id="headingTharteen" role="tab">
                                                                                        <h4 class="panel-title"><a class="collapsed" role="button"
                                                                                                                   data-toggle="collapse"
                                                                                                                   data-parent="#accordion"
                                                                                                                   href="#collapseTharteen" aria-expanded="false"
                                                                                                                   aria-controls="collapseTharteen" style="color: #97999b;" translate>WHERE DO I FIND MY REFERRAL LINK ?<i
                                                                                                        class="pull-right fa fa-plus"></i></a></h4>
                                                                                                                           </div>
                                                                                    <div class="panel-collapse collapse" id="collapseTharteen" role="tabpanel"
                                                                                         aria-labelledby="headingTharteen">
                                                                                        <div class="panel-body pxlr-faq-body">
                                                                                            <p style="font-size: 16px;" translate>Your referral link is inside the user panel after you login within your profile section. Just copy it and share it.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                
                                
                                                                            <div class="panel panel-default">
                                                                                    <div class="panel-heading" id="headingFourteen" role="tab">
                                                                                        <h4 class="panel-title"><a class="collapsed" role="button"
                                                                                                                   data-toggle="collapse"
                                                                                                                   data-parent="#accordion"
                                                                                                                   href="#collapseFourteen" aria-expanded="false"
                                                                                                                   aria-controls="collapseFourteen" style="color: #97999b;" translate>WHAT IS THE FEE FOR REFERRAL PAYOUT ?<i
                                                                                                        class="pull-right fa fa-plus"></i></a></h4>
                                                                                    </div>
                                                                                    <div class="panel-collapse collapse" id="collapseFourteen" role="tabpanel"
                                                                                         aria-labelledby="headingFourteen">
                                                                                        <div class="panel-body pxlr-faq-body">
                                                                                            <p style="font-size: 16px"translate>Referral payout fee is a straight 1%</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                
                                                                                <div class="panel panel-default">
                                                                                        <div class="panel-heading" id="headingFifteen" role="tab">
                                                                                            <h4 class="panel-title"><a class="collapsed" role="button"
                                                                                                                       data-toggle="collapse"
                                                                                                                       data-parent="#accordion"
                                                                                                                       href="#collapseFifteen" aria-expanded="false"
                                                                                                                       aria-controls="collapseFifteen" style="color: #97999b;"translate>WHAT IS THE ALPHA-X ECOSYSTEM ?<i class="pull-right fa fa-plus"></i></a></h4>
                                                                                        </div>
                                                                                        <div class="panel-collapse collapse" id="collapseFifteen" role="tabpanel"
                                                                                             aria-labelledby="headingFifteen">
                                                                                            <div class="panel-body pxlr-faq-body">
                                                                                                <p style="font-size: 16px" translate>The Alpha-X ecosystem is a place the where you can do all you want using the Alpha-X blockchain. It will have a mobile wallet, debit card, marketplace, coin exchange, all with the base currency as Alpha-X.</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                
                                                                                    <div class="panel panel-default">
                                                                                            <div class="panel-heading" id="headingSixteen" role="tab">
                                                                                                <h4 class="panel-title"><a class="collapsed" role="button"
                                                                                                                           data-toggle="collapse"
                                                                                                                           data-parent="#accordion"
                                                                                                                           href="#collapseSixteen" aria-expanded="false"
                                                                                                                           aria-controls="collapseSixteen" style="color: #97999b;" translate>HOW ARE THE ALPHA-X COIN ARE DISTRIBUTED ?<i
                                                                                                                class="pull-right fa fa-plus"></i></a></h4>
                                                                                            </div>
                                                                                            <div class="panel-collapse collapse" id="collapseSixteen" role="tabpanel"
                                                                                                 aria-labelledby="headingSixteen">
                                                                                                <div class="panel-body pxlr-faq-body">
                                                                                                    <p style="font-size: 16px" translate>Total ICO Coins 
                                                                                                        – 200 Million Private Pre Sale
                                                                                                        – 30 Million Open Pre Sale 
                                                                                                        – 50 Million Crowd Sale 
                                                                                                        – 90 Million Bounty + Referrals 
                                                                                                        – 10 Million Management + Legal 
                                                                                                        – 10 Million Development 
                                                                                                        – 10 Million.</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                
                                                                                        <div class="panel panel-default">
                                                                                                <div class="panel-heading" id="headingSeventeen" role="tab">
                                                                                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                                                                                               data-toggle="collapse"
                                                                                                                               data-parent="#accordion"
                                                                                                                               href="#collapseSeventeen" aria-expanded="false"
                                                                                                                               aria-controls="collapseSeventeen" style="color: #97999b;" translate>WHAT HAPPENS TO THE UNSOLD ALPHA-X COIN ?<i class="pull-right fa fa-plus"></i></a></h4>
                                                                                                </div>
                                                                                                <div class="panel-collapse collapse" id="collapseSeventeen" role="tabpanel"
                                                                                                     aria-labelledby="headingSeventeen">
                                                                                                    <div class="panel-body pxlr-faq-body">
                                                                                                        <p style="font-size: 16px" translate>All the unsold coins would be sold through the website at a price of 10 cents each, until our hard cap is reached. Once reached the remaining unsold will be given to the 5000 highest contributors on a pro-rata basis.</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>                                              
                                        </div>
                                    </div>
                                </div>
                            </div>
    
				
				 
	                     </div>
		  
		<div class="col-md-3"></div>
		<div class="col-md-6" style="margin: 0 auto; text-align: center;margin-top: 8%;">
		<p style="font-size: 16px; color: #97999b;" translate>YOU DID NOT FIND THE ANSWER TO YOUR QUESTION?</p>
		<a [routerLink]="['/contactus']" class="btn btn-outline-light" style="margin: 0 auto; color: #e66a20;  border: 1px solid #e66a20;
        padding: 1rem 2rem;" translate>ASK A QUESTION</a>
		</div>
		<div class="col-md-3"></div>
				
		
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
        <footer id="footer">
         
          <div class="footer-top">
            <div class="container">
              <div class="row">
                    
                <div class="col-lg-3 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                  <p translate>AlphaX is an entirely new generation cryptocurrency based on Scrypt using a complete Proof Of Stake (POS) network.</p>
                </div>
      
               
                    <div class="col-lg-3 col-md-6 footer-info" style="color
                    :#6d6e72">
                        <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                        <!-- <a translate>Legal Opinion </a><br> -->
                        <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                              <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                              <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                              <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                              <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                              <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>
                            </div>
               
      
                <div class="col-lg-3 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                  <p title="Coming Soon" translate>QT-Wallet</p>
                  <p title="Coming Soon" translate>Mobile Payment</p>
                  <p title="Coming Soon" translate>Exchange</p>
                  <p title="Coming Soon" translate>E-Commerce Platform</p>
                </div>
                <div class="col-lg-3 col-md-6 footer-info">
                        <h5 style="color: #e96e20; font-weight: 600" translate>Social Links</h5>
                        <div id="soc">
                            <a href="https://alphax-dev.slack.com/messages" target="_blank" style="background:#e9a820;color:white"class="fa fa-slack circle"></a>
                            <a href="https://www.pinterest.com/alphax0113" target="_blank" style="background: #c8232c;color:white"class="fa fa-pinterest circle"></a>
                            <a href="https://plus.google.com/u/1/104456778950569905138" target="_blank" style="background: #d34836;color:white" class="fa fa-google-plus circle"></a>
                            <a href="https://www.facebook.com/alphaxofficialsupport" target="_blank" style="background-color: #3B5998; color: #fff;" class="fa fa-facebook"></a>
                            <a href="https://twitter.com/alphax_official" target="_blank" style="background-color: #1dcaff; color: #fff;" class="fa fa-twitter"></a>
                            <a href="https://medium.com/@office.alphax" target="_blank" style="background-color: #00ab6c; color: #fff;" class="fa fa-medium"></a><br>
                            <a href="https://web.telegram.org/#/im?p=@alphax_official/" style="background-color: #0088cc; color: #fff;"  target="_blank" class="fa fa-telegram"></a>
                            <a href="https://www.reddit.com/user/AlphaX2807/posts/" style="background-color: #ff4500; color: #fff;" target="_blank" class="fa fa-reddit"></a>
                            <a href="https://vk.com/public172333507" target="_blank" style="background-color: #45668e; color: #fff;" class="fa fa-vk"></a>
                            <a href="https://www.instagram.com/alphax_admin/" style="background-color: #fb3958; color: #fff;" target="_blank" class="fa fa-instagram"></a>
                            <a href="https://bitcointalk.org/index.php?topic=5028888.80" target="_blank" style="background-color: #f7931a; color: #fff;" class="fa fa-btc"></a>
                          </div>
                          </div>
              </div>
            </div>
          </div>
          <hr style="background: #363535; width: 85%;">
          <div class="copyrights">
            <div class="container">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center-md">
                  <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X - Asaex IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
                </div>
                <div class="col-lg-4"></div>
                <!-- <div class="col-lg-8 text-right text-center-md">
                      <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                      
                    </ul>
                      
                    </div> -->
              </div>
            </div>
          </div>
        </footer>
        </div><!-- #footer -->

        <a href="#" class="back-to-top" style="">
                <i class="fa fa-chevron-up"></i>
              </a>
            

  <!-- JavaScript Libraries -->
  <script src="assets/website/lib/jquery/jquery.min.js"></script>
  <script src="assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/website/lib/easing/easing.min.js"></script>
  <script src="assets/website/lib/superfish/hoverIntent.js"></script>
  <!-- <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="assets/website/js/main.js"></script>

</body>
</html>
