<div class="vertical-layout vertical-compact-menu content-detached-right-sidebar fixed-navbar menu-open pace-done" data-open="click"
  data-menu="vertical-compact-menu" data-col="content-detached-right-sidebar">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>

  <div class="main-menu menu-fixed menu-dark menu-bg-default rounded menu-accordion menu-shadow">
    <div class="main-menu-content ps-container ps-theme-light" data-ps-id="9da5c68b-8a8a-94bc-0a3e-103200b06684"><a class="navigation-brand d-none d-md-block d-lg-block d-xl-block"
       [routerLink]="['/index']"><img class="brand-logo" alt="Alpha-X" src="assets/static/images/logo.png"></a>
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="nav-item">
          <a [routerLink]="['/index']"><i class="icon-grid"></i>
          <span class="menu-title" data-i18n="" translate>Dashboard</span></a>
        </li>
       
        <li class="nav-item"><a [routerLink]="['/transactions']"><i class="icon-shuffle"></i>
          <span class="menu-title" data-i18n="" translate>Transactions</span></a>
        </li>
        <!-- <li class="nav-item"><a [routerLink]="['/faq']"><i class="icon-support"></i>
            <span class="menu-title" data-i18n="">FAQ</span></a>
        </li> -->
        <li class="nav-item"><a [routerLink]="['/profile']"><i class="icon-user-following"></i>
            <span class="menu-title" data-i18n="" translate>Profile</span></a>
        </li>
        
      <li class="nav-item"><a [routerLink]="['/affiliate']"><i class="icon-link"></i>
        <span class="menu-title" data-i18n=""translate>Affiliate</span></a>
    </li>
      <li class="nav-item"><a target="_blank" href="https://alpha-x.freshdesk.com/support/home"><i class="icon-earphones-alt"></i>
        <span class="menu-title" data-i18n="" translate>Support</span></a>
    </li>
      </ul>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
      </div>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
      </div>
    </div>
  </div>
</div>