<body style="background: #262625;">
<section id="account-register" class="flexbox-container">    
<div class="col-12 d-flex align-items-center justify-content-center">
    <!-- login form -->
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
        <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-400">                
            <div class="card-content" style="background: #262625;padding: 14% 0 0;">                    
                <div class="card-body p-3">
                        <p class="text-center"><img src="/assets/static/images/logo1.png" style="padding-bottom: 20px;width: 70%;"></p>
                    <!-- <p class="text-center h5 text-capitalize">Started with Alpha-X</p> -->
                     <!-- <p class="mb-3 text-center">Please enter your 2fa verification code</p> -->
                    <form class="form-horizontal form-signin" action="index.html">                            
                        
                        <fieldset class="form-label-group">
                            <input class="form-control" id="user-password" placeholder="2fa Code" required="" autofocus=""[(ngModel)]="twofatoken" [ngModelOptions]="{standalone: true}">
                            <label for="user-password" style="color: #e76a35; font-size: 16px;">2fa Code</label>
                        </fieldset>
                        <!-- <div class="form-group row">
                            <div class="col-12 text-center text-sm-left">
                                <fieldset>
                                    <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="remember-me" class="chk-remember" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    <label for="remember-me" class=""> I agree to Crypto ICO's terms</label>
                                </fieldset>
                            </div>                                
                        </div> -->
                        <button type="submit" class="btn-gradient-secondary btn-block my-1" (click)="verification()">VERIFY</button>
                        <p class="text-center" style="color: #e76a35; font-size: 16px; font-weight: 700"><a routerLink="/login" class="card-link" style="color: #e76a35;">LOGIN</a></p>
                    </form>
                </div>                    
            </div>
        </div>
    </div>        
</div>    
</section>
</body>

