
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title >Alpha-X | Coin Sale</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/website/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a [routerLink]="['/home']" translate>Home</a></li>
          <li > <a href="#" translate>About Us</a></li>
          <li > <a href="#" translate>Features</a></li>
          <!-- <li ><a href="#" translate>Token</a></li> -->
          <li ><a href="#" translate>Roadmap</a></li>
         <li ><a [routerLink]="['/team']">Team</a></li> 
          <li class="menu-active" ><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li ><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          <li class="menu-has-children">

            <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
              <i id="myDIV" class="flag-icon flag-icon-gb"></i>
              <!-- <i [ngClass]="{ 'flag-icon flag-icon-gb':is_English==true, 
                              'flag-icon flag-icon-cn':is_Chinese==true, 
                              'flag-icon flag-icon-fr':is_France==true,
                              'flag-icon flag-icon-ger':is_German==true,
                              'flag-icon flag-icon-rus':is_Russian==true,
                              'flag-icon flag-icon-ita':is_Italian==true,
                              'flag-icon flag-icon-spa':is_Spanish==true
                            }"></i> -->
            </a>
            <ul>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
                  <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ch','FAQ_chineese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('fr','FAQ_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ger','FAQ_german')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('rus','FAQ_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ita','FAQ_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('spa', 'FAQ_spanish')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
              </li>
            </ul>
          </li>
		  <li ><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2 translate>ALPHA-X COIN SALE AGREEMENT</h2>
                
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      FAQ Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">

        <div class="section-header">
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>

        	<div class="row">
		<div class="col-md-12">
        <p style="font-size: 16px;">
                  
            <br><br><b>PLEASE READ THIS ALPHA-X COIN SALE AGREEMENT CAREFULLY AS IT AFFECTS
            YOUR OBLIGATIONS AND LEGAL RIGHTS, INCLUDING, BUT NOT LIMITED TO
            WAIVERS OF RIGHTS AND LIMITATION OF LIABILITY.</b><br>
            The following terms and conditions of the Coin Sale Agreement govern your (“You” or the
            “Purchaser”) purchase of Alpha-X Coin (“AXC”) from Asaex IT Solutions Inc., a company
            incorporated and registered in Marshal Islands, having its registered address located at Trust
            Company Complex, Ajeltake Road, Ajeltake Island, Majuro, Marshall Islands MH96960 (the
            “Company”), during the Initial Coin Offering (ICO) and anytime thereafter as may be decided by
            the Company from time to time. AXC may be used by the Purchaser on the Alpha-X coin Network
            subject to provisions of this Agreement and any other terms that may be published by the Company
            in this regard. The Purchaser and the Company each are “Party” and, together, the “Parties” to
            this Agreement agree as follows:
                            </p>
                                <div class="pxlr-club-faq">
									<!-- <h3 style="color: #e96f20; font-weight: 700;">MOBILE WALLET</h3> -->
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingOne" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseOne"
                                                           aria-expanded="false" aria-controls="collapseOne" style="color: #97999b;" translate>1. Acceptance<i class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"
                                                     aria-labelledby="headingOne">
                                                    <div class="panel-body pxlr-faq-body"><p style="font-size: 16px;" translate>1.1 YOU UNDERSTAND AND AGREE THAT BY VIRTUE OF PURCHASE OF AXC, YOU
                                                        ARE SUBJECT TO AND BOUND BY THIS AGREEMENT.<br>
                                                        1.2 Subject to the Terms of this Agreement, Terms and Conditions and Privacy Policy of the
                                                        Website, Whitepaper, and any other terms or policies as may be issued by the Company from
                                                        time to time, the Company agrees to sell to you and you agree to purchase from Company a
                                                        specific number of AXC at the price set out in the Whitepaper.<br>
                                                        1.3 By the fact of purchase of AXC from the Company at the website at http://www.alpha-x.io/,
                                                        (“Website”), you confirm that you have read this Agreement carefully and in its entirety and
                                                        understand that YOU ARE CONSENTING TO BE BOUND BY AND ARE BECOMING A
                                                        PARTY TO THIS AGREEMENT AND ANY TERMS OR AGREEMENTS
                                                        INCORPORATED BY REFERENCE, AND AGREE THAT THIS AGREEMENT IS
                                                        ENFORCEABLE LIKE ANY WRITTEN NEGOTIATED AGREEMENT SIGNED BY
                                                        YOU.<br>
                                                        1.4 Unless otherwise stated herein, this Agreement governs only your acquisition of AXC from
                                                        the Company during the sale and any period as may be determined by the Company. Any use
                                                        of AXC in connection with providing or receiving services on the Network shall be governed
                                                        primarily by this Agreement as well as any other applicable agreements and/or policies. The
                                                        Company may use third party services to process the coin sale and any rules applicable by
                                                        third party described in this Agreement to such processing of AXC should also be applicable
                                                        in addition to this Agreement.<br>
                                                        1.5 No provision of this Agreement shall be considered waived unless such waiver is accepted by
                                                        the Company, which shall be published on the Website. No waiver of any provision in this
                                                        Agreement, however, will be deemed a waiver of a subsequent breach of such provision or a
                                                        waiver of a similar provision. In addition, a waiver of any breach or a failure to enforce any
                                                        term or condition of this Agreement will not in any way affect, limit, or waive a Party’s rights
                                                          hereunder at any time to enforce strict compliance thereafter with every term and condition
                                                        hereof. <br>
                                                        1.6 You acknowledge and accept that this Agreement may be modified, changed, supplemented,
                                                        updated at any time without prior written notice, at sole discretion of the Company. Your
                                                        continued use of the AXC after any amendments or alterations of this Agreement shall
                                                        constitute your consent hereto and acceptance hereof. If you do not agree to such revised terms
                                                        of the Agreement you must stop using AXC and inform the Company any time under
                                                        conditions of this Agreement.

                                                    </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingTwo" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo" style="color: #97999b;" translate>2. Definitions<i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
                                                     aria-labelledby="headingTwo">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>
                                                            2.1. "Agreement" means the terms and conditions of this Alpha-X Coin Sale Agreement and any
                                                            other rules, policies or procedures that may be issued by the Company and published from
                                                            time to time on the Website.<br>
                                                            2.2. "Alpha-X coin Network" means digital platform (not a legal entity) operated by the Company
                                                            or any of its affiliated company to establish a peer to peer decentralised core network or a
                                                            utility ecosystem, whereby, AXC will be used by its holders as a medium of transaction for
                                                            various services offered at the Network.<br>
                                                            2.3. "Intellectual Property Rights" means any invention, patent, utility model right, copyright
                                                            and related right, registered design, unregistered design right, trade mark, trade name, internet
                                                            domain name, design right, design, service mark, database rights, topography rights, rights in
                                                            get-up and trade dress, rights in goodwill or to sue for passing off and any other rights of a
                                                            similar nature or other industrial or intellectual property rights owned or used by the Company
                                                            in any part of the world whether or not any of the same is registered (or capable of registration),
                                                            including applications and the right to apply for and be granted, extensions or renewals of and
                                                            rights to claim priority from, such rights and all equivalent or similar rights or protections
                                                            which subsist now or will subsist in the future.<br>
                                                          2.4. "AX" means digital cryptographic token, which is a software digital product, created and
                                                          issued by the Company as a cryptographically secured representation of the right to exchange
                                                          AX for services on the Network and which give the Purchaser access to certain features on
                                                            the Network.<br>
                                                            2.5. "AXC Sale" means an offering, public sale and distribution of AXC to eligible Purchasers held during a limited period of time specified in this Agreement.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingThree" role="tab">
                                                    <h4 class="panel-title">
														<a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseThree"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseThree" style="color: #97999b;" translate>3. Interpretationt<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseThree" role="tabpanel"
                                                     aria-labelledby="headingThree">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>
                                                            3.1. Unless the context otherwise requires, words in the singular shall include the plural and in the
                                                            plural shall include the singular.<br>
                                                            3.2. Unless the context otherwise requires, a reference to one gender shall include a reference to
                                                            the other genders.<br>
                                                            3.3. A reference to any party shall include that party’s personal representatives, successors and
                                                            permitted assigns.<br>
                                                            3.4. All references to a person include firms, companies, government entities, trusts and
                                                            partnerships or other or unincorporated body (whether or not having separate legal
                                                            personality);<br>
                                                            3.5. A reference to “writing” or “written” includes fax and/or e-mail.<br>
                                                            3.6. Any obligation on a party not to do something includes an obligation not to allow that thing to
                                                            be done.<br>
                                                            3.7. Any words following this Agreement including, include, in particular, for example or any
                                                            similar expression shall be construed as illustrative and shall not limit the sense of the
                                                          words, description, definition, phrase or term preceding or following that agreement.<br>
                                                          3.8. Headings of sections are for convenience only and shall not be used to limit or construe such
                                                          sections. All the sections in this Agreement shall survive any termination or expiration of this
                                                          Agreement.                            
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                    <div class="panel-heading" id="headingFour" role="tab">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button"
                                                                                   data-toggle="collapse"
                                                                                   data-parent="#accordion"
                                                                                   href="#collapseFour"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="collapseThree" style="color: #97999b;" translate>4. Eligible Purchasers<i
                                                                        class="pull-right fa fa-plus"></i></a></h4>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="collapseFour" role="tabpanel"
                                                         aria-labelledby="headingFour">
                                                        <div class="panel-body pxlr-faq-body">
                                                            <p style="font-size: 16px;" translate>
                                                                4.1. By purchasing AXC the Purchaser covenants, represents, and warrants that (under the
                                                                Applicable Law and law of the country of Purchaser’s residence):<br>
                                                                4.1.1. he is of an age of majority to enter into this Agreement (at least 18 years of age),
                                                                meets all other eligibility criteria and residency requirements, and is fully able and
                                                                legally competent to use the Website, enter into agreement with the Company and in
                                                                doing so will not violate any other agreement to which he/she/it is a party;<br>
                                                                4.1.2. he has necessary and relevant experience and knowledge to deal with cryptographic
                                                                Coins, Tokens, cryptocurrencies and Blockchain-based systems, as well as full
                                                                understanding of their framework, and is aware of all the merits, risks and any
                                                                restrictions associated with cryptographic tokens (their purchase and use),
                                                                cryptocurrencies and Blockchain-based systems, as well as knows how to manage
                                                                them, and is solely responsible for any evaluations based on such knowledge;<br>
                                                                4.1.3. he will not be using either AXC, Network or the Website for any illegal activity,
                                                                including but not limited to money laundering and the financing of terrorism; and<br>
                                                                4.1.4. Purchaser has created an Account on the Website and accepted the Company Terms
                                                                and Conditions, Privacy Policy and Cookies Policy.<br>
                                                                4.2. Purchaser is only allowed to purchase AXC if and by buying AXC he covenants, represents,
                                                                and warrants that he is neither a citizen, resident, nor a tax resident of the United States of
                                                                America, People's Republic of China, North Korea, Iran, Syria, Sudan or Cuba. The Company
                                                                may add countries to this list as it may deem appropriate.<br>
                                                                4.3. Purchaser also represents and warrants that he is not a citizen or resident of a geographic area
                                                                in which access to or use of the cryptocurrency or cryptographic tokens is prohibited by
                                                                applicable law, decree, regulation, treaty, or administrative act. The Company shall reserve
                                                                the right to refuse to sell AXC to anyone who does not meet the citizenship and residence
                                                              criteria set forth above. Purchasers cannot resell AXC to citizens and residents of countries
                                                              and territories restricted in this Agreement.

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading" id="headingFive" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapseFive"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>5. Disclaimer of Liability<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapseFive" role="tabpanel"
                                                             aria-labelledby="headingFive">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    5.1. To the maximum extent possible by the applicable laws, rules and regulations, the Company
                                                                    or its founders are not responsible for any special, vicarious or any kind of consequential
                                                                    damages as well as any other losses, like loss of income, profits, or loss of use or data, caused
                                                                    by purchase or use of AXC.<br>
                                                                    5.2. AX C carries no rights, express or implied, other than those, set out herein. In particular,
                                                                    AXC holders shall not have any influence in the development or governance of AXC or the
                                                                    Network.<br>
                                                                    5.3. Any potential future use of AXC in connection with the provision or receipt of services on
                                                                    Network, shall be subject to and governed by such other applicable terms, conditions and
                                                                    policies relating to the use of each such service or Network. Such terms and conditions
                                                                    regulating the use of the Network shall be made available to the users.<br>
                                                                    5.4. AXC is not consumer product and its holders accepts explicitly and agree to it that they are
                                                                    not covered by the consumer protection regulation of any jurisdiction.<br>
                                                                    5.5. BUYING AXC INVOLVES RISKS AND PURCHASERS SHOULD BE ABLE TO BEAR
                                                                    THE LOSS OF THEIR ENTIRE PURCHASE. ALL PURCHASERS SHOULD MAKE
                                                                    THEIR OWN DETERMINATION OF WHETHER OR NOT TO MAKE ANY
                                                                    PURCHASE, BASED ON THEIR OWN INDEPENDENT EVALUATION AND
                                                                    ANALYSIS. DO NOT PURCHASE AXC IF YOU ARE NOT AN EXPERT IN DEALING
                                                                    WITH CRYPTOGRAPHIC TOKENS AND BLOCKCHAIN-BASED SOFTWARE
                                                                    SYSTEMS. PRIOR TO PURCHASING AXC, YOU SHOULD CAREFULLY CONSIDER THE TERMS AND CONDITIONS OF THIS AXC SALE AGREEMENT AND, TO THE
                                                                    EXTENT NECESSARY, CONSULT AN APPROPRIATE LAWYER, ACCOUNTANT,
                                                                    OR TAX PROFESSIONAL. IF ANY OF THE THESE TERMS ARE UNACCEPTABLE
                                                                    TO YOU, YOU SHOULD NOT PURCHASE AXC. BY PURCHASING AXC, AND TO
                                                                    THE EXTENT PERMITTED BY LAW, YOU AGREE NOT TO HOLD ANY OF THE
                                                                    COMPANY AND ITS RESPECTIVE PAST, PRESENT AND FUTURE EMPLOYEES,
                                                                    OFFICERS, DIRECTORS, CONTRACTORS, CONSULTANTS, EQUITY HOLDERS,
                                                                    SUPPLIERS, VENDORS, SERVICE PROVIDERS, PARENT COMPANIES,
                                                                    SUBSIDIARIES, AFFILIATES, AGENTS, REPRESENTATIVES, PREDECESSORS,
                                                                    SUCCESSORS AND ASSIGNS LIABLE FOR ANY LOSSES OR ANY SPECIAL,
                                                                    INCIDENTAL, OR CONSEQUENTIAL DAMAGES ARISING FROM, OR IN ANY WAY
                                                                    CONNECTED, TO THE SALE OF AXC, INCLUDING LOSSES ASSOCIATED WITH
                                                                    THE TERMS SETFORTH HEREIN.<br>
                                                                    5.6. THE COMPANY DOES NOT ACCEPT ANY USERS FROM THE COUNTRIES OR
                                                                    TERRITORIES WHERE ITS ACTIVITY SHALL BE ESPECIALLY LISENCED,
                                                                    ACCREDITATED OR REGULATED BY OTHER WAYS. IT SHALL BE YOUR
                                                                    RESPONSIBILITY TO CONFIRM AND CHECK THE APPLICABLE LAW IN YOUR
                                                                    JURISDICTION AND YOU SHALL BE FULLY RESPONSIBLE FOR ANY NEGATIVE
                                                                    IMPACT ARISEN FROM YOUR RESIDENCE COUNTRY REGULATIONS. IF YOU
                                                                    ARE TRAVELLING TO ANY OF THESE COUNTRIES, YOU ACKNOWLEDGE THAT
                                                                    OUR SERVICES MAY BE UNAVAILABLE AND/OR BLOCKED IN SUCH
                                                                    COUNTRIES.<br>
                                                                    5.7. THE COMPANY RESERVES THE RIGHT TO IMPOSE ADDITIONAL
                                                                    REQUIREMENTS OR CONDITIONS BEFORE ACCEPTING PURCHASERS
                                                                    RESIDING IN OR FROM SPECIFIC COUNTRIES IN ITS SOLE DISCRETION.
                                                                    5.8. IF YOU DO NOT AGREE WITH THIS AGREEMENT AND CONDITIONS, OF AXC
                                                                    SALE YOU MUST NOT ACCESS OR USE THE WEBSITE OR PURCHASE AXC.                  
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading6" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapsesix"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>6. No Representations and Warranties<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapsesix" role="tabpanel"
                                                             aria-labelledby="heading6">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    6.1. The Company does not make or claim to make any representation, warranties and obligations
                                                                    in any form whatsoever to any entity or person, as well as any representation, warranty or
                                                                    undertaking in relation to the accuracy, truth or completeness of any information, provided
                                                                    on the Website or Whitepaper.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading7" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapseseven"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>7. Representations and Warranties Provided By You<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapseseven" role="tabpanel"
                                                             aria-labelledby="heading7">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    7.1. You agree and acknowledge that in case you wish to purchase any AXC, they shall not be
                                                                    perceived or classified as:<br>
                                                                    a) any kind of currency other than cryptocurrency;<br>
                                                                    b) debt securities, stocks or shares issued by any the Company;<br>
                                                                    c) rights, options or derivatives in relation to such debt obligations, shares or stocks;<br>
                                                                    d) rights under a contract for differences or for any other contract the purpose or feigned
                                                                        purpose of which is to gain profit or avoid loss;<br>
                                                                    e) units in the scheme of collective investment;<br>
                                                                    f) units in business trust;<br>
                                                                    g) derivative units in business;<br>
                                                                    h) any other security or class of securities;<br>
                                                                    i) representation of any ownership right or stake or any right to receive future revenue shares;<br>
                                                                    j) any right to receive any form of participation or governance right from, in or relating
                                                                      to Company and Network;<br>
                                                                    k) any form of money or legal tender in any jurisdiction; or<br>
                                                                    l) any representation of money (including electronic money).<br>
                                                                    7.2. You agree that you have a basic understanding of the operation, functionality, use, storage,
                                                                transfer mechanisms and other material features of cryptocurrencies, software systems based
                                                                on blockchain, wallets for cryptocurrencies or other related tokens storage mechanisms,
                                                                technology of blockchain and technology of smart contracts.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading8" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse8"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>8. Legal risks regarding securities regulations<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse8" role="tabpanel"
                                                             aria-labelledby="heading8">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    8.1. Legal ability of the Company to provide AXC and its services in some jurisdictions may be
                                                                    eliminated by future regulation or legal actions. In the event, it turns out with a high degree
                                                                    certainty that AXC are not legal in certain jurisdiction, the Company will either:<br>
                                                                    a. cease operations in that jurisdiction; or<br>
                                                                    b. adjust AXC and the Network in a way to comply with the regulation should that be
                                                                    possible and viable.<br>
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading9" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse10"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>9. Associated Risks<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse10" role="tabpanel"
                                                             aria-labelledby="heading9">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    9.1. AXC is an entirely new generation cryptocurrency based on X13 algorithm having complete
                                                                    Proof Of Stake (POS) network. The transactions made over Alpha-X blockchain network are
                                                                    instant, anonymous, private, and very secure. Our motive is to make it as good as virtual cash
                                                                    (plastic cards) which can provide real time liquidity and utility proposition in the market.<br>
                                                                    9.2. As such, any malfunction, unintended function or unexpected functioning of the Network
may cause the AXC to malfunction or function in an unexpected or unintended manner.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading10" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse11"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>10. Risk of theft and hacking<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse11" role="tabpanel"
                                                             aria-labelledby="heading10">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    10.1. Hackers or other groups or organizations may attempt to interfere with Your Third-party
                                                                    Wallet, the Website or the availability of AXC and Digital Assets in any number of ways,
                                                                    including without limitation denial of service attacks, Sybil attacks, spoofing, smurfing,
                                                                    malware attacks, or consensus-based attacks. You hereby agree that the Company shall have
                                                                    no liability for any such loss the Purchaser incur.<br>
                                                                    10.2. There is a risk that the Website and AXC may unintentionally include weaknesses or bugs in
                                                                    the source code interfering with the use of or causing the loss of AXC.<br>
                                                                    10.3. Advances in cryptography, or technical advances such as the development of quantum
                                                                    computers, could present risks to cryptocurrencies, AXC, the Network, which could result
                                                                    in the theft or loss of AXC.<br>
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading11" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse12"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>11. Risk of loss of value<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse12" role="tabpanel"
                                                             aria-labelledby="heading11">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    11.1. Value of AXC may fluctuate and their Purchasers might suffer loss in value of such acquired
tokens. There might be different reasons that would cause unfavourable fluctuations of the
value of the AXC.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading14" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse14"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>12. Internet transmission risks<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse14" role="tabpanel"
                                                             aria-labelledby="heading14">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    12.1. Purchaser acknowledges that there are risks associated with using the AXC including, but
                                                                    not limited to, the failure of hardware, software, and Internet connections. Purchaser
                                                                    acknowledges that the Company shall not be responsible for any communication failures,
                                                                    disruptions, errors, distortions or delays you may experience when using the Website and
                                                                    AXC, howsoever caused.
                                                                    
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading15" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse15"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>13. Unanticipated risks<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse15" role="tabpanel"
                                                             aria-labelledby="heading15">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    13.1. Cryptocurrencies and blockchains are new and untested technology. In addition to the risks
set forth here, there are risks that AXC cannot foresee and it is unreasonable to believe that
such risks could have been foreseeable. Risks may further materialize as unanticipated.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading16" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse16"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>14. Prohibited activities<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse16" role="tabpanel"
                                                             aria-labelledby="heading16">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    14.1. You are prohibited from violating any law, statute, ordinance or regulation in our
registered jurisdiction as well as your country or residency by using AXC.<br>
14.2. You may not use your AXC to engage in the following categories of prohibited activity and you confirm that you will not use AXC to do any of the following:
<br>
a.Engage in a transaction involving the proceeds of any unlawful activity;<br>
b.Defraud or attempt to defraud the Company or its affiliates;<br>
c.Provide false, inaccurate or misleading information;<br>
d.Infringe upon Company’s or any third party’s copyright, patent, trademark,
or intellectual property rights;<br>
e. Take any action that imposes an unreasonable or disproportionately large load on
infrastructure of the Company, or detrimentally interfere with, intercept, or
expropriate any system, data, or information;<br>
f. Transmit or upload any material to the Network that contains viruses or malware
or any other harmful or deleterious programs;<br>
g. Otherwise attempt to gain unauthorized access to the Network and Website,
computer systems or networks connected to the Website, through password
mining or any other means;<br>
14.3. Company reserves the right at all times to monitor, review, retain and/or disclose any
information as necessary to satisfy any applicable law, regulation, legal process or
governmental request. The Company reserves the right to cancel and/or suspend your Account
and usage of AXC immediately and without notice if Company determine, in its sole
discretion, that your Account and usage of AXC is associated with prohibited use, and/or a
prohibited business, and or illegal activity under Applicable law.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading17" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse17"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>15. Taxation<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse17" role="tabpanel"
                                                             aria-labelledby="heading17">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    15.1. The Purchaser bears the sole responsibility to determine if the purchase of AXC or the
potential appreciation or depreciation in the value of AXC over time has tax implications for
the Purchaser in the Purchaser's home jurisdiction. By purchasing AXC and to the extent
permitted by law, the Purchaser agrees not to hold any of the Company, its affiliates,
shareholders, directors or advisors liable for any tax liability associated with or arising from
the purchase of AXC.<br>
15.2. Purchaser is solely responsible for withholding, collecting, reporting, paying, settling
and/or remitting any and all taxes to the appropriate tax authorities in such jurisdiction(s) in
which Purchaser may be liable to pay tax. Company shall not be responsible for
withholding, collecting, reporting, paying, settling and/or remitting any taxes (including,
but not limited to, any income, capital gains, sales, value added or similar tax) which may
arise from Purchaser’s acquisition of AXC under or in connection with this Agreement.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading18" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse18"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>16. Indemnification<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse18" role="tabpanel"
                                                             aria-labelledby="heading18">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    16.1. To the extent allowable pursuant to Applicable Law, the Purchaser shall indemnify, defend,
and hold the Company and/or its subsidiaries, affiliates, directors, officers, employees, agents,
successors, and permitted assignees harmless from and against any and all claims, damages,losses, suits, actions, demands, proceedings, expenses, and/or liabilities (including but not
limited to reasonable attorneys’ fees incurred and/or those necessary to successfully
establish the right to indemnification) filed/incurred by any third party against the
Company arising out of a breach of any warranty, representation, or obligation hereunder
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading19" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse19"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>17. Circumstances beyond the control of either party<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse19" role="tabpanel"
                                                             aria-labelledby="heading19">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    17.1. The Purchaser shall not have any claim of any nature whatsoever against AXC for any failure
by Company to carry out any of its obligations under this Agreement as a result of causes
beyond its control, including but not limited to power failure, Internet service provider
failure, acts of God, epidemic, pandemic, civil unrest, fire, flood, droughts, storms,
earthquakes, collapse of buildings, explosion or accident, acts of terrorism, acts of war,
governmental action, any law or any action taken by a government or public authority,
including without limitation imposing an export or import restriction, quota or prohibition,
or any other event that is beyond the absolute and direct control of AXC.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading20" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse20"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>18. Severability<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse20" role="tabpanel"
                                                             aria-labelledby="heading20">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    18.1. If any term, provision, covenant or restriction of this Agreement is held by a court of
                                                                    competent jurisdiction to be invalid, illegal, void or unenforceable, the remainder of the
                                                                    Agreement, provisions, covenants and restrictions set forth herein shall remain in full force
                                                                    and effect and shall in no way be affected, impaired or invalidated, and the parties hereto
                                                                    shall use their commercially reasonable efforts to find and employ an alternative means to
                                                                    achieve the same or substantially the same result as that contemplated by such term,
                                                                    provision, covenant or restriction. It is hereby stipulated and declared to be the intention
                                                                    of the parties that they would have executed the remaining terms, provisions, covenants
                                                                    and restrictions of the Agreement without including any of such that may be hereafter
                                                                    declared invalid, illegal, void or unenforceable.
Martial Islands.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading21" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse21"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>19. Applicable Law<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse21" role="tabpanel"
                                                             aria-labelledby="heading21">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    19.1. All questions concerning the construction, validity, enforcement and interpretation of this
Agreement shall be governed by and construed and enforced in accordance with the laws of
Martial Islands.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading22" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse22"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>20. Dispute resolution<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse22" role="tabpanel"
                                                             aria-labelledby="heading22">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    20.1. To resolve any dispute, controversy or claim between Parties arising out of or relating to
this Agreement or the breach thereof, the Parties agree first to negotiate the issue in good
faith for a period of not less than thirty (30) days following written notification of such
controversy or claim to the other Party.<br>
20.2. If the negotiations do not resolve the dispute, controversy or claim to the reasonable
satisfaction of all Parties during such period, then the Parties irrevocably and unconditionally submit to the respective claim to the binding arbitration administered by
the competent court of Marshal Islands.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" id="heading23" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapse23"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>21. Termination<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapse23" role="tabpanel"
                                                             aria-labelledby="heading23">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>
                                                                    21.1. The Company reserves the right, without notice and at its sole discretion, to terminate this
Agreement or suspend the Purchasers right to use AXC, including (but not limited to) in
case of Purchaser’s breach of this Agreement or if the Company believes it has committed
fraud, negligence or other misconduct. All rights granted to the Purchaser under this
Agreement will immediately be revoked upon our termination of this Agreement or
Company suspension of Purchaser’s access to AXC, the Network or the Website Services.
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
    
				
				 <!-- <div class="col-md-6">
                                <div class="pxlr-club-faq"><br><br><br>
									<h3 style="color: #e96f20; font-weight: 700;">CRYPTOCURRENCIES</h3>
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingSeven" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseSeven"
                                                           aria-expanded="false" aria-controls="collapseSeven" style="color: #97999b;">
                                                            Anonymous user won’t receive
                                                            email private? <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseSeven" role="tabpanel"
                                                     aria-labelledby="headingSeven">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                            aliqua
                                                            put a bird on it esciunt you probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingEight" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseEight"
                                                           aria-expanded="false" aria-controls="collapseEight" style="color: #97999b;"> How to
                                                            have
                                                            an editor like this editor? <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseEight" role="tabpanel"
                                                     aria-labelledby="headingEight">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. ea proident. Ad vegan
                                                            excepteur butcher vice lomo. Leggings occaecat craft beer
                                                            farm-to-table, raw denim aesthetic synth nesciunt you
                                                            probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingNine" role="tab">
                                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseNine" aria-expanded="false"
                                                                               aria-controls="collapseNine" style="color: #97999b;"> Problem
                                                            with Knowledge base Article? <i
                                                                    class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseNine" role="tabpanel"
                                                     aria-labelledby="headingNine">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                            aliqua
                                                            put a bird on it squid single-origin coffee nulla assumenda
                                                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                            labore
                                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                            excepteur butcher vice lomo. Leggings occaecat craft beer
                                                            farm-to-table, raw denim aesthetic synth nesciunt you
                                                            probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
	                     </div>
		  
		<div class="col-md-3"></div>
		<div class="col-md-6" style="margin: 0 auto; text-align: center;margin-top: 8%;">
		<p style="font-size: 16px; color: #97999b;" translate>YOU DID NOT FIND AN ANSWER FOR YOUR QUESTION?</p>
		<a [routerLink]="['/contactus']" class="btn btn-outline-light" style="margin: 0 auto; color: #e66a20;  border: 1px solid #e66a20;
        padding: 1rem 2rem;" translate>ASK A QUESTION</a>
		</div>
		<div class="col-md-3"></div>
				
		
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
        <footer id="footer">
         
          <div class="footer-top">
            <div class="container">
              <div class="row">
      
                <div class="col-lg-4 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                  <p translate>Alpha-X is an entirely new generation cryptocurrency based on Scrypt having complete Proof Of Stake (POS) network.</p>
                </div>
      
               
                    <div class="col-lg-4 col-md-6 footer-info" style="color
                    :#6d6e72">
                        <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                        <!-- <a translate>Legal Opinion </a><br> -->
                        <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                              <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                              <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                              <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                              <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                              <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>
                            </div>
               
      
                <div class="col-lg-4 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                  <p title="Coming Soon" translate>QT-Wallet</p>
                  <p title="Coming Soon" translate>Mobile Payment</p>
                  <p title="Coming Soon" translate>Exchange</p>
                  <p title="Coming Soon" translate>E-Commerce Platform</p>
                </div>
      
              </div>
            </div>
          </div>
          <hr style="background: #363535; width: 85%;">
          <div class="copyrights">
            <div class="container">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center-md">
                  <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X - Asaex IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
                </div>
                <div class="col-lg-4"></div>
                <!-- <div class="col-lg-8 text-right text-center-md">
                      <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                      
                    </ul>
                      
                    </div> -->
              </div>
            </div>
          </div>
        </footer>
        </div>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/lib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <!-- <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>

