<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alpha-X | Exchange</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/website/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="menu-active"><a href="#about">Exchange</a></li>
          <li><a href="#services">Payment <i class="fa fa-caret-down"></i></a></li>
          <li><a href="#portfolio">Token</a></li>
          <li><a href="#home">Timeline</a></li>
          <li><a href="#home">Roadmap</a></li>
          <li><a [routerLink]="['/webfaq']">FAQ</a></li>
          <li class="menu-has-children"><a class="dropdown-item"  (click)="switchLanguage('en','HOME_english')">
              <i class="flag-icon flag-icon-gb"></i> </a>
              <ul>
                  <li><a class="dropdown-item"  (click)="switchLanguage('en','aboutus_english')">
                      <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('ch','aboutus_chinese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('fr','aboutus_english')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('ger','german_about_us')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('rus','HOME_english')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('ita','aboutus_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('spa','spanish_about_us')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a></li>
              </ul>
              </li>   
		  <li><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;">LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/ex-header.png'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2>CRYPTO CURRENCY EXCHANGE</h2>
                <p style="font-size: 18px;">GET READY TO MAXIMIZE YOUR INCOME POTENTTIAL WITHOUT EXPERIENCE</p>
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">
        <div class="section-header">
          <p style="font-size: 18px;">With the proposed AX crypto exchange, users and business will enjoy the following benfites:</p>
        </div>
     <div class="row">
		 <!--Grid column-->
            <div class="col-lg-12 col-md-12 mb-4">
              <img src="/assets/website/img/exchange.png" class="img-responsive" alt="" style="width: 100%;"> 
            </div>
            <!--Grid column-->
 
	 </div>	 
      </div>
    </section>

    <section id="About" class="section-bg" style="background-image: url(/assets/website/img/participate.jpg)">
      <div class="container">
     <div class="row">
     
     <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-12 mb-4" style="padding-top: 10%; text-align: center;">
              <P style="font-size: 18px; color: #acadad;">Come see the hottest Crypto Currency<br>Exchange on the scene and get ready to <br> 
                maximize your income potential without</P><br>

                <a href="#" class="btn btn-outline-light" style="padding: 7px 26px 10px 23px; margin: 0 auto; margin-top: 6%; color: #e66a20;
                border: 1px solid #e66a20;  padding: 0.75rem 2rem;">PARTICIPATE NOW</a> <br> <br>    
            </div>
    <div class="col-lg-3"></div>
		 
	 </div>	 
      </div>
    </section>

    
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
	  <div class="container">
        <div class="row">
			<div class="col-lg-4"></div>
			  <div class="col-lg-4 text-center-md" style="text-align: center;"><br>
			  <a class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; color: #e66a20; border: 1px solid #e66a20; padding: 1rem 2rem;" target="_blank" ng-reflect-target="_blank" ng-reflect-router-link="/login" href="#/login">START NOW</a>
      </div>
			<div class="col-lg-4"></div>
		  </div>
	  </div><br>
	  <hr style="background: #363535; width: 85%;">
    <div class="footer-top">
      <div class="container">
        <div class="row">
				
          <div class="col-lg-4 col-md-6 footer-info">
            <h5 style="color: #e96e20; font-weight: 600">About Alpha-X</h5>
            <p>Alpha-X is an entirely new generation cryptocurrency based on Script having complete Proof Of Stake (POS) network.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-info">
              <h5 style="color: #e96e20; font-weight: 600; padding-top: 2%;">SOCIAL LINKS</h5>
              <div class="social-links">
                <a href="https://www.facebook.com/alphaxofficialsupport/" target="_blank" class="facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/alphax_official" target="_blank" class="twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="https://medium.com/@alphaX" target="_blank" class="medium">
                  <i class="fa fa-medium"></i>
                </a>
                <a href="https://web.telegram.org/#/im?p=@alphax_official" target="_blank" class="telegram">
                  <i class="fa fa-telegram"></i>
                 </a> 
                  <a href="https://www.reddit.com/user/AlphaX2807/posts/" target="_blank" class="reddit">
                    <i class="fa fa-reddit"></i>  
                </a>
              </div>
            </div>
  

          <div class="col-lg-4 col-md-6 footer-info">
            <h5 style="color: #e96e20; font-weight: 600">Features</h5>
            <p><i class="fa fa-angle-double-right"></i> QT-Wallet</p>
			<p><i class="fa fa-angle-double-right"></i> Mobile Payment</p>
			<p><i class="fa fa-angle-double-right"></i> Exchange</p>  
			<p><i class="fa fa-angle-double-right"></i> E-Commerce Platform </p>  
          </div>

          </div>
        </div>
      </div>
    <hr style="background: #363535; width: 85%;">
     <div class="copyrights">
          <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>        
                <div class="col-lg-4 text-center-md">
                  <p style="color: #6d6e72; text-align:center;">&copy; 2018 ALPHA-X IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
                      </div>
                      <div class="col-lg-4"></div> 
              <!-- <div class="col-lg-8 text-right text-center-md">
                <ul class="list-inline">
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">CONTACT US &nbsp;&nbsp; |</a> </li> 
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">ABOUT US &nbsp;&nbsp; |</a></li>
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                
              </ul>
                
              </div> -->
            </div>
          </div>
        </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="l/assets/website/ib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <script src="/assets/website/lib/superfish/superfish.min.js"></script>
  <script src="/assets/website/lib/wow/wow.min.js"></script>
  <script src="/assets/website/lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script> 
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>-->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>
