<div class="vertical-layout vertical-compact-menu content-detached-right-sidebar fixed-navbar menu-open pace-done" data-open="click"
 data-menu="vertical-compact-menu" data-col="content-detached-right-sidebar">
	<div class="pace  pace-inactive">
		<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
			<div class="pace-progress-inner"></div>
		</div>
		<div class="pace-activity"></div>
	</div>

	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-header row" style="padding-top: 8%;">
				<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
					<h3 class="content-header-title mb-0 d-inline-block" translate>Affiliate</h3>
					<div class="row breadcrumbs-top d-inline-block">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a routerLink="/index" translate>Dashboard</a>
								</li>
								<li class="breadcrumb-item active" translate>Affiliate</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
		  <div class="btn-group float-md-right">
			<a class="btn-gradient-secondary btn-sm white" href="wallet.html">Buy now</a>
		  </div>
		</div> -->
			</div>
			<div class="row">
					<div class="col-md-6 col-12">
						<div class="card pull-up">
							<div class="row">
							<div class="col-md-12 col-12">
						    <img src="/assets/website/img/5level.jpg" style="width: 100%;border-radius: 1%;">
							 </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-12">
							<div class="card pull-up">
								<div class="row">
								<div class="col-md-12 col-12">
								<img src="/assets/website/img/instant.jpg" style="width: 100%;border-radius: 1%;">
								 </div>
								</div>
							</div>
						</div>
				</div>
			<!-- <div class="content-wrapper">
			<div class="row">	
			<div class="content-detached content-left" style="width: 76%;">
				<div class="content-body">
				 
				  <section class="card pull-up" >
					<div class="card-content">
					  <div class="card-body">
						<div class="col-12">
						  <div class="row">
							
							<div class="col-md-12">
							<p><img src="/assets/website/img/5level.jpg" style="width: 100%"></p>
							</div>
							
						  </div>
						</div>
					  </div>
					</div>
				  </section>
				</div>
			  </div>
			  <div class="content-detached content-right" style="width: 76%;">
					<div class="content-body">
					  
					  <section class="card pull-up" style="box-shadow: none; background-color: transparent;">
						<div class="card-content">
						  <div class="card-body">
							<div class="col-12">
							  <div class="row">
								
								<div class="col-md-12">
								  <img src="/assets/website/img/instant.jpg" style="width: 100%">
								</div> 
								
							  </div>
							</div> 
						  </div>
						</div>
					  </section>
					</div>
				  </div>
			</div>
			</div> -->
			<!-- <div class="content-detached content-center">
				<div class="content-body">
					<section class="card pull-up">
						<div class="card-content">
							<div class="card-body" style="text-align: center;">
								<p translate>Share your Alpha-X referral link with your friends, families & other interested parties. Once the referred users buy Alpha-X you will get the bonus as below in BTC.</p>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-2" translate>1st level 10%</div>
									<div class="col-md-2" translate>2nd level 5%</div>
									<div class="col-md-2" translate>3rd level 3%</div>
									<div class="col-md-2" translate>4th level 1%</div>
									<div class="col-md-2" translate>5th level 1%</div>
									<div class="col-md-1"></div>
								</div>
								<br>
							</div>
						</div>
					</section>
				</div>
			</div> -->
			<div class="content-detached content-center">
				<div class="content-body">
					<section class="card pull-up">
						<div class="card-content">
							<div class="card-body" style="text-align: center; padding-top: 30px;">
								<form class="form-horizontal form-purchase-token row" action="buy-ico.html">
		
									<div class="col-md-4 col-12 text-center">
										<fieldset class="form-label-group mb-0">
											<input type="text" class="form-control" id="wallet-address" value="{{liveUrl}}/#/registration?reff={{currentName}}" required=""
											 autofocus="" disabled>
											<label for="wallet-address" translate>Referral Link</label>
										</fieldset>
									</div>
									<div class="col-md-3 col-12">
										<button type="submit" style="cursor: pointer;padding: 4px 15px;" ngxClipboard [cbContent]="getUrl()" (click)="arertcopy()"
										 class="btn-gradient-secondary" translate>Copy Referral</button>
									</div>
									<div class="col-md-5 col-12">

										<!-- <div class="row"> -->
											<!-- <div class="col-12"> -->
												<div class="social-links">
														<!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Falpha-x.io%2F&layout=button&size=small&mobile_iframe=false&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->
														<a (click)="onfacebookClick()" target="_blank" class="facebook" style="background-color: #3b5998;"><i class="fa fa-facebook"></i></a>
													<a (click)="onTwitterClick()" target="_blank" class="twitter" style="background-color: #1dcaff;"><i class="fa fa-twitter"></i></a>
													<!-- <a href="" target="_blank" class="youtube" style="background-color: #cc181e;"><i class="fa fa-youtube"></i></a> -->
													<a (click)="onTelegram()" target="_blank" class="telegram" style="background-color: #0088cc;"><i class="fa fa-telegram"></i></a>
													<a (click)="onreddit()" target="_blank" class="reddit" style="background-color: #ff4500;"><i class="fa fa-reddit"></i></a>
													<a (click)="onlinkedinclick()" target="_blank" class="Linkedin" style="background-color: #0077b5;"><i class="fa fa-linkedin"></i></a>
													<a (click)="vk()" target="_blank" class="vk" style="background-color: #45668e;"><i class="fa fa-vk"></i></a>
													<!-- <a  target="_blank" class="instagram" style="background-color: #fb3958;"><i class="fa fa-instagram"></i></a> -->
												  </div>
											<!-- </div> -->
										<!-- </div> -->
									</div>
									<!-- <div class="col-md-2 col-12 mb-1"> -->
										<!-- <fieldset class="form-label-group mb-0">
											<input type="text" class="form-control" id="wallet-address" value="0XD38D9EEB5B9617D758CEE2C683E1D385637635E9" required="" autofocus="">
											<label for="wallet-address">Wallet address</label>
										</fieldset> -->
									<!-- </div> -->
									<!-- <div class="col-md-2 col-12 text-center"> -->
										<!-- <button type="submit" class="btn-gradient-secondary">Buy now</button> -->
									<!-- </div> -->



									
								</form>
								<!-- <div class="referral" style="display: flex; justify-content: center;">
									<div (click)="onfacebookClick()" class="fa fa-facebook" title="Facebook"></div>
									<div (click)="onTwitterClick()" class="fa fa-twitter" title="Twitter"></div>
									<div  (click)="onslack()" class="fa fa-slack" title="Slack"></div>
									<div (click)="onlinkedinclick()" class="fa fa-linkedin" title="Linkedin"></div>
									<div (click)="onmedia()" class="fa fa-medium" title="Medium"></div>
									
									</div> -->

									
								

							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="card">
			<div class="row match-height">
				
				<div class="col-xl-3 col-lg-12">
					<div class="card">
							<!-- <button data-toggle="modal" data-target="#withdrawBTC" class="btn-gradient-secondary">Send Request</button> -->
						<div class="card-content">
							<!-- <img class="img-fluid" src="../../../app-assets/images/pages/blog-post.png" alt="Card image cap"> -->
							<div class="card-body" style="text-align: center;">
								<h5 class="card-text" translate>Total Earned</h5>
								<h5 class="card-text">BTC</h5>
								<h3>{{btcAmount | number:'1.8-8'}}</h3>
							</div>
						</div>
						<!-- <div class="card-footer" style="padding: 0px;">
							<span class="float-right" style="padding-top: 20px;">
								<a data-toggle="modal" data-target="#purchaseBTCModalLabel" class="card-link">Send Withdraw Request
									<i class="fa fa-angle-right"></i>
								</a>
							</span>
						</div> -->
					</div>
				</div>
				<div class="col-xl-3 col-lg-12">
					<div class="card">
						<div class="card-content">
							<!-- <img class="img-fluid" src="../../../app-assets/images/pages/blog-post.png" alt="Card image cap"> -->
							<div class="card-body" style="text-align: center;">
								<h5 class="card-text" translate>Total Earned</h5>
								<h5 class="card-text">ETH</h5>
								<h3>{{ethAmount | number:'1.8-8'}}</h3>
							</div>
						</div>
						<!-- <div class="card-footer"  style="padding: 0px;">
							<span class="float-right"   style="padding-top: 20px;">
								<a data-toggle="modal" data-target="#purchaseETHModalLabel" class="card-link">Send Withdraw Request
									<i class="fa fa-angle-right"></i>
								</a>
							</span>
						</div> -->
					</div>
				</div>

				<div class="col-xl-3 col-lg-12">
					<div class="card">
						<div class="card-content">
							<!-- <img class="img-fluid" src="../../../app-assets/images/pages/blog-post.png" alt="Card image cap"> -->
							<div class="card-body" style="text-align: center;">
								<h5 class="card-text" translate>Total Earned</h5>
								<h5 class="card-text">BCH</h5>
								<h3>{{bchAmount | number:'1.8-8'}}</h3>
							</div>
						</div>
						<!-- <div class="card-footer"  style="padding: 0px;">
							<span class="float-right"  style="padding-top: 20px;">
								<a data-toggle="modal" data-target="#purchaseBCHModalLabel" class="card-link">Send Withdraw Request
									<i class="fa fa-angle-right"></i>
								</a>
							</span>
						</div> -->
						<!-- <label>* After converting BTC balance will be  </label>
						<strong style="text-align: center;">{{totalBTCequ}} BTC</strong> -->
					</div>
				</div>
				<div class="col-xl-3 col-lg-12">
					<div class="card">
						<div class="card-content">
							<!-- <img class="img-fluid" src="../../../app-assets/images/pages/blog-post.png" alt="Card image cap"> -->
							<div class="card-body" style="text-align: center;">
								<h5 class="card-text" translate>Total Earned</h5>
								<h5 class="card-text">LTC</h5>
								<h3>{{ltcAmount | number:'1.8-8'}}</h3>
							</div>
						</div>
						<!-- <div class="card-footer"  style="padding: 0px;">
							<span class="float-right"  style="padding-top: 20px;">
								<a data-toggle="modal" data-target="#purchaseLTCModalLabel" class="card-link">Send Withdraw Request
									<i class="fa fa-angle-right"></i>
								</a>
							</span>
						</div> -->
						<!-- <button data-toggle="modal" data-target="#withdrawBTC" class="btn-gradient-secondary" style="width: 85%">Send Request</button> -->

					</div>

				</div>
				

			</div>
			<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<label translate><span translate>After converting all coins you will get</span> {{totalEQUusd | number:'1.2-2'}} USD.  <span translate>And after converting USD to BTC, BTC balance will be</span> {{totalBTCequ | number:'1.8-8'}} BTC. <span translate>Would you like to withdraw BTC ?</span>  </label>
							<!-- <strong style="text-align: center;"></strong>	 -->
					</div>
				<div *ngIf = "isValidUSD" class="col-md-3" style="padding-bottom: 20px;">
						<button data-toggle="modal" data-target="#withdrawBTC" class="btn-gradient-secondary" translate>Send Request</button>

				</div>
				<div *ngIf = "!isValidUSD" class="col-md-3" style="padding-bottom: 20px;">
					<button data-toggle="modal" data-target="#withdrawBTC" class="btn-gradient-secondary" style="cursor: not-allowed" disabled translate>Send Request</button>
					<label style="padding-top: 4px;" translate>* Please Maintain 10 USD</label>
				</div>
			</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-xl-1" style="text-align: right;">
					<!-- <a (click)="Affiliate()"> << Go to root</a> -->
				</div>
				<div class="col-xl-10">
					<div class="row">
						<div class="col-md-4">
							<a (click)="Affiliate()" translate>
								<< Go to Level 1</a>
						</div>
						<div class="col-md-8" translate>
							<h4><span translate>Referral List of</span>  {{currentName}}</h4>
						</div>
					</div>

					<!-- <h5>SubUser : {{subUser}}</h5> -->
				</div>
				<div class="col-xl-1"></div>
			</div>
			<div class="row" style="text-align: center;">
				<div class="col-xl-1"></div>
				<div class="col-xl-10">
					<!-- <div class="row">
						<div class="col-md-2">Action</div>
						<div class="col-md-2">Username</div>
						<div class="col-md-2">BTC Balance</div>
						<div class="col-md-2">BCH Balance</div>
						<div class="col-md-2">ETH Balance</div>
						<div class="col-md-2">LTC Balance</div>
					</div> -->
					<div class="content-detached content-center">
						<div class="content-body">
							<!-- AX -->
							<section class="card pull-up" style="background: transparent;">
								<div class="card-content">
									<div class="card-body">
										<div class="col-12">
											<div class="row">
												<div class="col-md-1">
													+
												</div>
												<div class="col-md-1" translate>
													Level
												</div>
												<div class="col-md-2">
													<strong translate>Username</strong>
												</div>

												<div class="col-md-2" translate><span translate>Earned</span> BTC</div>
												<div class="col-md-2" translate><span translate>Earned</span> BCH</div>
												<div class="col-md-2" translate><span translate>Earned</span>ETH</div>
												<div class="col-md-2" translate><span translate>Earned</span> LTC</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="col-xl-1"></div>
			</div>
			<div *ngFor="let affiliate of dataJSONArray" class="row">
				<div class="col-xl-1"></div>
				<div class="col-xl-10">
					<div class="content-detached content-center">
						<div class="content-body">
							<!-- AX -->
							<section class="card pull-up">
								<div class="card-content">
									<div class="card-body">
										<div class="col-12">
											<div class="row" style="text-align: center;">
												<div class="col-md-1">
													<button style="padding: 3px 15px; cursor: pointer;" type="button" class="btn-gradient-secondary" (click)="callReferal(affiliate.username)">
														+ </button>
												</div>
												<div class="col-md-1">
													<strong>{{level}}</strong>
												</div>
												<div class="col-md-2">
													<strong>{{affiliate.username}}</strong>
												</div>

												<div *ngIf="affiliate.refBTCbalances" class="col-md-2">
													{{affiliate.refBTCbalances | number:'1.8-8'}}
												</div>
												<div *ngIf="!affiliate.refBTCbalances" class="col-md-2">
													{{0 | number:'1.8-8'}}
												</div>


												<div *ngIf="affiliate.refBCHbalances" class="col-md-2">
													{{affiliate.refBCHbalances | number:'1.8-8'}}
												</div>
												<div *ngIf="!affiliate.refBCHbalances" class="col-md-2">
													{{0 | number:'1.8-8'}}
												</div>


												<div *ngIf="affiliate.refETHbalances" class="col-md-2">
													{{affiliate.refETHbalances | number:'1.8-8'}}
												</div>
												<div *ngIf="!affiliate.refETHbalances" class="col-md-2">
													{{0 | number:'1.8-8'}}
												</div>


												<div *ngIf="affiliate.refLTCbalances" class="col-md-2">
													{{affiliate.refLTCbalances | number:'1.8-8'}}
												</div>
												<div *ngIf="!affiliate.refLTCbalances" class="col-md-2">
													{{0 | number:'1.8-8'}}
												</div>
												<!-- </div> -->
												<!-- <p>
														<strong>{{affiliate.username}}</strong>
													</p>
													<p> BTC : {{affiliate.refBTCbalances}} BTC</p>
													<p> BCH : {{affiliate.refBTCbalances}} BCH</p>
													<p> ETH : {{affiliate.refETHbalances}} ETH</p>
													<p> LTC : {{affiliate.refLTCbalances}} LTC</p>
												</div>
												<div class="col-md-4 col-xl-4 col-12 d-none d-md-block text-right">
													<button type="button" class="btn-gradient-secondary mt-2" (click)="callReferal(affiliate.username)"> >> </button>
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>

				</div>
				<div class="col-xl-1"></div>
			</div>
			<!-- Purchase with BTC Modal -->
			<div class="modal fade" id="purchaseBTCModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseBTCModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="purchaseModalLabel" translate>Withdraw Request</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card-content">
								<div class="card-body">
									<div class="col-12">
										<div class="row">

											<div class="col-md-8 col-12">
												<p>
													<strong>Bitcoin : {{btcAmount}} BTC</strong>
												</p>
											</div>

										</div>
									</div>
								</div>
							</div>

							<form class="form form-horizontal mx-2">
								<div class="form-body">
									<div class="row">
										<div class="col-12 col-md-8">
											<div class="form-group row">
												<label class="col-6 label-control" for="projectinput1">Wallet Address</label>
												<fieldset class="col-6">
													<div class="input-group">
														<input type="text" placeholder="Wallet Address" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="btcAddress"
														 [ngModelOptions]="{standalone: true}">

													</div>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</form>

							<h6 class="mx-1">Guide</h6>
							<ol>
								<li translate>Given wallet address will be sent to admin for transaction and cannot be changed. </li>

							</ol>

							<div class="col-md-12" style="text-align: center;">
								<button type="button" class="btn btn-warning round mr-1 mb-0" (click)="withdrawRequest('BTC', btcAmount, btcAddress)">Send Request</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="purchaseETHModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseETHModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="purchaseModalLabel" translate>Withdraw Request</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card-content">
								<div class="card-body">
									<div class="col-12">
										<div class="row">

											<div class="col-md-8 col-12">
												<p>
													<strong>Ethereum : {{ethAmount}} ETH</strong>
												</p>
											</div>

										</div>
									</div>
								</div>
							</div>

							<form class="form form-horizontal mx-2">
								<div class="form-body">
									<div class="row">
										<div class="col-12 col-md-8">
											<div class="form-group row">
												<label class="col-6 label-control" for="projectinput1" translate>Wallet Address</label>
												<fieldset class="col-6">
													<div class="input-group">
														<input type="text" placeholder="Wallet Address" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="ethAddress"
														 [ngModelOptions]="{standalone: true}">

													</div>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</form>

							<h6 class="mx-1" translate>Guide</h6>
							<ol>
								<li translate>Given wallet address will be sent to admin for transaction and cannot be changed. </li>

							</ol>

							<div class="col-md-12" style="text-align: center;">
								<button type="button" class="btn btn-warning round mr-1 mb-0" (click)="withdrawRequest('ETH', ethAmount, ethAddress)">Send Request</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="purchaseBCHModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseBCHModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="purchaseModalLabel" translate>Withdraw Request</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card-content">
								<div class="card-body">
									<div class="col-12">
										<div class="row">

											<div class="col-md-8 col-12">
												<p>
													<strong>Bitcoin Cash : {{bchAmount}} BCH</strong>
												</p>
											</div>

										</div>
									</div>
								</div>
							</div>

							<form class="form form-horizontal mx-2">
								<div class="form-body">
									<div class="row">
										<div class="col-12 col-md-8">
											<div class="form-group row">
												<label class="col-6 label-control" for="projectinput1" translate>Wallet Address</label>
												<fieldset class="col-6">
													<div class="input-group">
														<input type="text" placeholder="Wallet Address" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="bchAddress"
														 [ngModelOptions]="{standalone: true}">

													</div>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</form>

							<h6 class="mx-1" translate>Guide</h6>
							<ol>
								<li translate>Given wallet address will be sent to admin for transaction and cannot be changed. </li>

							</ol>

							<div class="col-md-12" style="text-align: center;">
								<button type="button" class="btn btn-warning round mr-1 mb-0" (click)="withdrawRequest('BCH', bchAmount, bchAddress)" translate>Send Request</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="purchaseLTCModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseLTCModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="purchaseModalLabel" translate>Withdraw Request</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card-content">
								<div class="card-body">
									<div class="col-12">
										<div class="row">

											<div class="col-md-8 col-12">
												<p>
													<strong>LiteCoin : {{ltcAmount}} LTC</strong>
												</p>
											</div>

										</div>
									</div>
								</div>
							</div>

							<form class="form form-horizontal mx-2">
								<div class="form-body">
									<div class="row">
										<div class="col-12 col-md-8">
											<div class="form-group row">
												<label class="col-6 label-control" for="projectinput1" translate>Wallet Address</label>
												<fieldset class="col-6">
													<div class="input-group">
														<input type="text" placeholder="Wallet Address" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="ltcAddress"
														 [ngModelOptions]="{standalone: true}">

													</div>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</form>

							<h6 class="mx-1">Guide</h6>
							<ol>
								<li translate>Given wallet address will be sent to admin for transaction and cannot be changed. </li>

							</ol>

							<div class="col-md-12" style="text-align: center;">
								<button type="button" class="btn btn-warning round mr-1 mb-0" (click)="withdrawRequest('LTC', ltcAmount, ltcAddress)" translate>Send Request</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="withdrawBTC" tabindex="-1" role="dialog" aria-labelledby="withdrawBTC" aria-hidden="true">
					<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="withdrawBTCLabel" translate>Withdraw Request</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="card-content">
									<div class="card-body">
										<div class="col-12">
											<div class="row">
	
												<div class="col-md-8 col-12">
													<p>
														<strong translate>Total Balance in USD : {{totalEQUusd | number:'1.2-2'}} USD</strong><br>
														<strong translate>Total Balance in BTC : {{totalBTCequ | number:'1.8-8'}} BTC</strong><br>
														<strong translate>Wallet Address : {{walletAddressPayout}}</strong><br><br>
														<strong translate> Would you like to confirm this request ?</strong>
													</p>
												</div>
	
											</div>
										</div>
									</div>
								</div>
	
								<!-- <form class="form form-horizontal mx-2">
									<div class="form-body">
										<div class="row">
											<div class="col-12 col-md-8">
												<div class="form-group row">
													<label class="col-6 label-control" for="projectinput1">Wallet Address : {{walletAddressPayout}}</label>
													<fieldset class="col-6">
														<div class="input-group">
															
														</div>
													</fieldset>
												</div>
											</div>
										</div>
									</div>
								</form> -->
	
								<h6 class="mx-1" translate>Note</h6>
								<ol>
									<!-- <li>Given wallet address will be sent to admin for transaction and cannot be changed. </li> -->
									
											
											<i>	* If you find incorrect wallet address here or did not added yet, then please update address in user profile page.</i>
									
								</ol>
	
								<div class="col-md-12" style="text-align: center;">
									<button type="button" class="btn btn-warning round mr-1 mb-0" (click)="WithdrawPayoutRequest()">Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
