@import url('https://fonts.googleapis.com/css?family=Muli');
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  /* background: #FFFFFF; */
  max-width: 360px;
  margin: 0 auto 100px;
  /* padding: 45px; */
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.form input {
  font-family: 'Muli', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 14px;
  /* border-radius: 8px; */
}
.form button {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image : linear-gradient(to right,#FF4137 0,#FDC800 51%,#FF4137 100%);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background-image : linear-gradient(to right,#FF4137 0,#FDC800 51%,#FF4137 100%);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
 background-color: #262625;
  /* background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .login-page  {
      width: 85%;
  } 
}

#mobile-nav{
  display: none;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, legend, main, nav, section{
  display: none;
}