<div class="col-md-12" style="background-color: #262625;">  
<div class="row" style="background-repeat: round; background-image:url(/assets/website/img/login_back1.png)"> 
    <div class="login-page">
        <div class="form">
            <p class="text-center">
                <a routerLink="/home">
                <img src="assets/static/images/logo1.png" style="width: 70%;">
            </a>
            </p>

            <div class="login">
                <div class="login-header">
                    <br>
                    <!-- <h3>
                <i
                  class="fa fa-lock"
                  aria-hidden="true"></i>LOGIN
              </h3>
              <p>Please enter your credentials to login.</p> -->
                </div>
            </div>
            <form class="login-form">
                <input type="text" placeholder="Username" [(ngModel)]="logusername" [ngModelOptions]="{standalone: true}">
                <input type="password" placeholder="Password" [(ngModel)]="logpassword" [ngModelOptions]="{standalone: true}">
                <form [formGroup]="aFormGroup">
                    <ngx-recaptcha2
                      [siteKey]="sitekey"
                      [size]="size"
                      [hl]="lang"
                      [theme]="theme"
                      [type]="type"
                      (expire)="handleExpire()"
                      (load)="handleLoad()"
                      (success)="handleSuccess($event)"
                      formControlName="recaptcha">
                    </ngx-recaptcha2>
                  </form>
                <button class="btn-gradient-secondary mt-2" (click)="signin()" translate>login</button>
                <div class="row">
                    <div class="col md 6">
                            <p class="message" style="color: #e76a35; font-size: 16px">
                        <a routerLink="/forgotpassword" style="color: #e76a35; font-size:16px">
                        <b translate>Forgot Password?</b>
                        
                    </a></p></div>
                    <div class="col md 6" style="text-align: right;"><p class="message" style="color: #e76a35; font-size: 16px">
                            <a routerLink="/signup" style="color: #e76a35" translate>
                                <b translate>Signup</b>
                            </a>
                        </p></div>
                    
                </div>
               
                <div class="row">
                    
                    <div class="col-md-12"><br><br>
                        <a routerLink = "/home" style="color: #e76a35;font-size: 16px" translate><b>Go Back To Home</b> <br>
                        <i class="fa fa-long-arrow-left" style="font-size:48px;color: #e76a35"></i>
                    </a>
                    </div>
                </div>
                <!-- <re-captcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></re-captcha> -->
            </form>
        </div>
       
    </div>
    </div>
</div>