<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alpha-X | About Alpha-X</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/src/assets/website/img/favicon.png" rel="icon">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>
      <nav id="nav-menu" style="float: right; margin-right: 25%;">
        <ul class="nav-menu">
            <li class="menu-has-children">
                <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                  <i id="myDIV" class="flag-icon flag-icon-gb"></i>
                </a>
                <ul> 
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                      <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ch','HOME_chineese')">
                      <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('fr','HOME_french')">
                      <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ger','HOME_german')">
                      <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('rus','HOME_russian')">
                      <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ita','HOME_italian')">
                      <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('spa', 'HOME_spanish')">
                      <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
                  </li>
                </ul>
              </li>
          </ul>
          </nav>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a [routerLink]="['/home']" translate>Home</a></li>
          <li><a href="#" translate>About Us</a></li>
          <li><a href="#" translate>Features</a></li>
          <!-- <li><a href="#portfolio" translate>Token</a></li> -->
          <li><a href="#" translate>Roadmap</a></li>
           <li><a [routerLink]="['/team']">Team</a></li>
          <li><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          <!-- <li class="menu-has-children">
            <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
              <i id="myDIV" class="flag-icon flag-icon-gb"></i>
              
            </a>
            <ul>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('en','aboutus_english')">
                  <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ch','aboutus_chinese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('fr','ABOUTUS_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ger','german_about_us')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('rus','ABOUTUS_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ita','aboutus_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('spa', 'spanish_about_us')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
              </li>
            </ul>
          </li> -->
		  <li><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;">LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2 style="text-align: left;" translate>Alpha-X</h2>
                <p translate>ALPHA-X BLOCKCHAIN CHARACTERISTICS</p>
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      FAQ Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">
<!--

        <div class="section-header">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
-->

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            
            <h4 class="title"><a href="" style="color: #e96e20;" translate>Complete Anonymity</a></h4>
            <p class="description" translate>It take cares of your financial privacy in a very strict manner.  No one else will even get to know about your holding anymore.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            
            <h4 class="title"><a href="" style="color: #e96e20;" translate>Advanced Security</a></h4>
            <p class="description" translate>Alpha-X have an extra layer of encryption, to ensure its user complete security and anonymity in each and every transaction.</p>
          </div>
				
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <h4 class="title"><a href="" style="color: #e96e20;" translate>Negligible Low Fee</a></h4>
            <p class="description" translate>Unlike other crypto currencies, now you don’t have to pay huge transaction fee, In Alpha-X coin you don’t have to pay any third party commission, you cover your own network fee.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
           <br><br>
            <h4 class="title"><a href="" style="color: #e96e20;" translate>Decentralised Governance</a></h4>
            <p class="description" translate>	The governance of Alpha-X coin is democratically distributed in the hands of all stake holder across the network, in a complete decentralised manner.</p>
          </div>
			
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
			  <br><br>
            <h4 class="title"><a href="" style="color: #e96e20;" translate>P2P Network</a></h4>
            <p class="description" translate>An online marketplace to bring the merchants and buyers closers. Here the participating merchants can sell their merchandise directly to the buyers with Alpha-X coins</p>
          </div>
			
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
			  <br><br>
            <h4 class="title"><a href="" style="color: #e96e20;" translate>Alpha-X Debit Card</a></h4>
            <p class="description" translate>Like other cryptocurrencies, even Alpha-X is based on peer to peer decentralised core network, but is much ahead in every perspective compared to its contemporary network with its future advanced technical approach.</p>
          </div>                
        </div>
		 
      </div>
    </section>

  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
      <footer id="footer">
       
        <div class="footer-top">
          <div class="container">
            <div class="row">
                
              <div class="col-lg-3 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                <p translate>AlphaX is an entirely new generation cryptocurrency based on Scrypt using a complete Proof Of Stake (POS) network.</p>
              </div>
    
             
                  <div class="col-lg-3 col-md-6 footer-info" style="color:#6d6e72">
                      <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                      <!-- <a translate>Legal Opinion </a><br> -->
                      <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                            <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                            <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                            <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                            <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                            <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>
                    </div>
             
    
              <div class="col-lg-3 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                <p title="Coming Soon" translate>QT-Wallet</p>
                <p title="Coming Soon" translate>Mobile Payment</p>
                <p title="Coming Soon" translate>Exchange</p>
                <p title="Coming Soon" translate>E-Commerce Platform</p>
              </div>
              <div class="col-lg-3 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>Social Links</h5>
                  <div id="soc">
                      <a href="https://alphax-dev.slack.com/messages" target="_blank" style="background:#e9a820;color:white"class="fa fa-slack circle"></a>
                      <a href="https://www.pinterest.com/alphax0113" target="_blank" style="background: #c8232c;color:white"class="fa fa-pinterest circle"></a>
                      <a href="https://plus.google.com/u/1/104456778950569905138" target="_blank" style="background: #d34836;color:white" class="fa fa-google-plus circle"></a>
                      <a href="https://www.facebook.com/alphaxofficialsupport" target="_blank" style="background-color: #3B5998; color: #fff;" class="fa fa-facebook"></a>
                      <a href="https://twitter.com/alphax_official" target="_blank" style="background-color: #1dcaff; color: #fff;" class="fa fa-twitter"></a>
                      <a href="https://medium.com/@alphaxblog" target="_blank" style="background-color: #00ab6c; color: #fff;" class="fa fa-medium"></a><br>
                      <a href="https://web.telegram.org/#/im?p=@alphax_official/" style="background-color: #0088cc; color: #fff;"  target="_blank" class="fa fa-telegram"></a>
                      <a href="https://www.reddit.com/user/AlphaX2807/posts/" style="background-color: #ff4500; color: #fff;" target="_blank" class="fa fa-reddit"></a>
                      <a href="https://vk.com/public172333507" target="_blank" style="background-color: #45668e; color: #fff;" class="fa fa-vk"></a>
                      <a href="https://www.instagram.com/alphax_admin/" style="background-color: #fb3958; color: #fff;" target="_blank" class="fa fa-instagram"></a>
                      <a href="https://bitcointalk.org/index.php?topic=5028888.80" target="_blank" style="background-color: #f7931a; color: #fff;" class="fa fa-btc"></a>
                    </div>
                    </div>

            </div>
          </div>
        </div>
        <hr style="background: #363535; width: 85%;">
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center-md">
                <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X - Asaex IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
              </div>
              <div class="col-lg-4"></div>
              <!-- <div class="col-lg-8 text-right text-center-md">
                    <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                    
                  </ul>
                    
                  </div> -->
            </div>
          </div>
        </div>
      </footer>
      </div>
  <!-- #footer -->

  <a href="#" class="back-to-top" style="">
      <i class="fa fa-chevron-up"></i>
    </a>
  
    <script>
      $(document).ready(function(){
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
      });
      </script>
      
  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/lib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <script src="/assets/website/lib/superfish/superfish.min.js"></script>
  <script src="/assets/website/lib/wow/wow.min.js"></script>
  <script src="/assets/website/lib/waypoints/waypoints.min.js"></script>
  <script src="/assets/website/lib/counterup/counterup.min.js"></script>
  <script src="/assets/website/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/assets/website/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/assets/website/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/assets/website/lib/touchSwipe/jquery.touchSwipe.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/assets/website/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>


</body>
</html>