<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title >Alpha-X | Disclaimer</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/website/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a [routerLink]="['/home']" translate>Home</a></li>
          <li > <a href="#" translate>About Us</a></li>
          <li > <a href="#" translate>Features</a></li>
          <!-- <li ><a href="#" translate>Token</a></li> -->
          <li ><a href="#" translate>Roadmap</a></li>
         <li ><a [routerLink]="['/team']">Team</a></li> 
          <li class="menu-active" ><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li ><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          <li class="menu-has-children">

            <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
              <i id="myDIV" class="flag-icon flag-icon-gb"></i>
              <!-- <i [ngClass]="{ 'flag-icon flag-icon-gb':is_English==true, 
                              'flag-icon flag-icon-cn':is_Chinese==true, 
                              'flag-icon flag-icon-fr':is_France==true,
                              'flag-icon flag-icon-ger':is_German==true,
                              'flag-icon flag-icon-rus':is_Russian==true,
                              'flag-icon flag-icon-ita':is_Italian==true,
                              'flag-icon flag-icon-spa':is_Spanish==true
                            }"></i> -->
            </a>
            <ul>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
                  <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ch','FAQ_chineese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('fr','FAQ_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ger','FAQ_german')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('rus','FAQ_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ita','FAQ_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('spa', 'FAQ_spanish')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
              </li>
            </ul>
          </li>
		  <li ><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2 translate>DISCLAIMER</h2>
                
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      FAQ Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">

        <div class="section-header">
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>

        	<div class="row">
		<div class="col-md-12">
        <p style="font-size: 16px;">
            Purpose :      
            <br><br>The purpose of this White Paper is to present Alpha-X and the AX coin to potential
            token holders in connection with the proposed ICO. The information set forth
            below may not be exhaustive and does not imply any elements of a contractual
            relationship. Its sole purpose is to provide relevant and reasonable information
            to potential coin holders in order for them to determine whether to undertake a
            thorough analysis of the company with the intent of acquiring AX coins. Nothing
            in this White Paper shall be deemed to constitute a prospectus of any sort or a
            solicitation for investment, nor does it in any way pertain to an offering or a
            solicitation of an offer to buy any securities in any jurisdiction.<br><br>

            This document is not composed in accordance with, and is not subject to, laws
            or regulations of any jurisdiction, which are designed to protect investors. Some
            of the statements outlined in this document are not statements in historical fact
            but constitute “forward-looking statements” those are predictive and may
            involve risk and uncertainty. Please familiarize yourself with all information
            mentioned in this document including risk and uncertainties prior to any
            purchase or expression of interest, ensuring you are fully aware of all potential
            outcomes and risks prior to conduct any business with us.<br><br>


            Risks and Uncertainties : 

            <br><br>The Alpha-X ecosystem is not yet developed and is subject to further changes,
updates, and adjustments prior to its launch. Such changes may result in
unexpected and unforeseen effects on its projected appeal to users, possibly
due to the failure to meet users’ preconceived expectations based on this
White Paper, and hence, influence its success. For the foregoing or any other
reason, the development of the Alpha-X ecosystem and launch of Alpha-X
future business lines may not be completed and there is no assurance that it
will be launched at all.<br><br>

Additionally, in a down-cycle economic environment, Alpha-X may
experience the negative effects of a slowdown in trading and usage of the
Alpha-X ecosystem and may delay or cancel altogether the structuring and
launch of the anticipated ALPHA-X future business lines.<br><br>

Further, should the costs, financial or otherwise, of complying with any
newly implemented regulations exceed a certain threshold, bearing in mind
the fact that it is difficult to predict how or whether governments or regulatory
authorities may implement any changes to laws and regulations affecting
future business lines, maintaining the Alpha-X ecosystem and structuring and
launching Alpha-X future business lines may no longer be commercially viable,
and the Company may opt to discontinue the development and operation of
Alpha-X ecosystem.<br><br>

We may not be able to pay any anticipated rewards in the future. There
is no assurance that there will be sufficient engagement in the Alpha-X
ecosystem and that you will receive any rewards/discounts. The ability of the
Company to pay any reward to you will depend on the future results of
operations and the future business and financial condition of the Company.<br><br>

In the case of unforeseen circumstances, the objectives stated in this
document may be changed. Despite the fact that we intend to reach all goals
described in this document, all parties involved in the purchase of AX coins do
so at their own risk.<br><br>

The funds raised in the ICO are exposed to risks of theft. The Company
will make every effort to ensure that the funds will be securely held in
blockchain wallets. Notwithstanding such security measures, there is no
assurance that there will be no theft of the cryptocurrencies as a result of hacks,
sophisticated cyber-attacks, distributed denials of service or errors, or
otherwise. In such event, even if the ICO is completed, the Company may not
be able to receive the cryptocurrencies raised and Asaex IT Solutions Inc. may
not be able to use such funds for the development of the Alpha-X ecosystem.
In such case, the launch of the Alpha-X ecosystem might be temporarily or
permanently curtailed.<br><br>


No Cancellation and No Refund : 

<br><br>All AX coin orders are deemed firm and final. The Client acknowledges that they
are fully aware that they will not be entitled to claim any full or partial
reimbursement under any circumstances whatsoever. As the sale of the
proposed coins is strictly reserved for experienced professional clientele, the
Client may not claim any right of return against Alpha-X.<br><br>


No guarantee on trading : 

<br><br>The Company will use reasonable endeavors to seek the approval for availability
of the AX coins for trading on a cryptocurrency exchange. Furthermore, even if
such approval is granted by a cryptocurrency exchange, there is no assurance
that an active or liquid trading market for the AX coins will develop, or if
developed, will be sustained after the AX coins have been made available for
trading on such cryptocurrency exchange.
The Company is not responsible for, nor does it pursue, the circulation and trading
of AX coins on the market. Trading of AX coins will merely depend on the
consensus on its value between the relevant market participants.<br><br>

Note on forward-looking statements : 

<br><br>All claims and statements made in this Alpha-X white paper, Alpha-X website,
press releases made by Alpha-X, also any oral statements made by Alpha-X team
members of agents acting on behalf of Alpha-X that are not an accomplished
fact may represent so called forward-looking statements.<br><br>

Some of these forward-looking statements may be considered such by
containing the following terms: “will”, “anticipate”, “plan”, “aim”, “target”,
“expect”,” estimate”, “envision”, “intend”, “project”, “may”, “believe”, “if”, or
any other such terms. Further, the terms listed above are not necessary to identify
a forward-looking statement. All statements that include, but are not limited to
any financial projections, estimates, plans or possible trends, risks, as well as future
prospects of cryptocurrencies should be considered as forward-looking
statements as well.<br><br>

These forward-looking statements are not yet accomplished facts and Alpha-X
does not take responsibility and cannot guarantee that the future results will
correspond with above-mentioned forward-looking statements. These forward-
looking statements are also provided as-is and Alpha-X takes no responsibility for
updating these forward-looking statements, should any information relevant to
the pertaining forward-looking statements become available in the future. No
information contained in this white paper should be considered as a promise,
representation of commitment or undertaking as to the future performance of the
Alpha-X marketplace, AX coin or any other product from the Alpha-X.<br><br>


                            </p>
                                <div class="pxlr-club-faq">
									<!-- <h3 style="color: #e96f20; font-weight: 700;">MOBILE WALLET</h3> -->
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">                                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
	                     </div>
		  
		<div class="col-md-3"></div>
		<div class="col-md-6" style="margin: 0 auto; text-align: center;margin-top: 8%;">
		<p style="font-size: 16px; color: #97999b;" translate>YOU DID NOT FIND AN ANSWER FOR YOUR QUESTION?</p>
		<a [routerLink]="['/contactus']" class="btn btn-outline-light" style="margin: 0 auto; color: #e66a20;  border: 1px solid #e66a20;
        padding: 1rem 2rem;" translate>ASK A QUESTION</a>
		</div>
		<div class="col-md-3"></div>
				
		
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
      <footer id="footer">
       
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-4 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                <p translate>Alpha-X is an entirely new generation cryptocurrency based on Scrypt having complete Proof Of Stake (POS) network.</p>
              </div>
    
             
                  <div class="col-lg-4 col-md-6 footer-info" style="color
                  :#6d6e72">
                      <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                      <!-- <a translate>Legal Opinion </a><br> -->
                      <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                            <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                            <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                            <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                            <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                            <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>
                          </div>
             
    
              <div class="col-lg-4 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                <p title="Coming Soon" translate>QT-Wallet</p>
                <p title="Coming Soon" translate>Mobile Payment</p>
                <p title="Coming Soon" translate>Exchange</p>
                <p title="Coming Soon" translate>E-Commerce Platform</p>
              </div>
    
            </div>
          </div>
        </div>
        <hr style="background: #363535; width: 85%;">
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center-md">
                <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X - Asaex IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
              </div>
              <div class="col-lg-4"></div>
              <!-- <div class="col-lg-8 text-right text-center-md">
                    <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                    
                  </ul>
                    
                  </div> -->
            </div>
          </div>
        </div>
      </footer>
      </div>
  
  
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/lib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <!-- <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>


