<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title >Alpha-X | FAQ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/assets/website/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li ><a [routerLink]="['/home']" translate>Home</a></li>
                <li > <a href="#" translate>About Us</a></li>
                <li > <a href="#" translate>Features</a></li>
                <!-- <li ><a href="#" translate>Token</a></li> -->
                <li ><a href="#" translate>Roadmap</a></li>
                <li ><a [routerLink]="['/team']">Team</a></li> 
                <li class="menu-active" ><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
                <li ><a [routerLink]="['/contactus']" translate>Contact us</a></li>
                <li class="menu-has-children">

                    <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
                        <i id="myDIV" class="flag-icon flag-icon-gb"></i>
                        <!-- <i [ngClass]="{ 'flag-icon flag-icon-gb':is_English==true,
                                        'flag-icon flag-icon-cn':is_Chinese==true,
                                        'flag-icon flag-icon-fr':is_France==true,
                                        'flag-icon flag-icon-ger':is_German==true,
                                        'flag-icon flag-icon-rus':is_Russian==true,
                                        'flag-icon flag-icon-ita':is_Italian==true,
                                        'flag-icon flag-icon-spa':is_Spanish==true
                                      }"></i> -->
                    </a>
                    <ul>
                        <li>
                            <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
                                <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="switchLanguage('ch','FAQ_chineese')">
                                <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="switchLanguage('fr','FAQ_french')">
                                <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="switchLanguage('ger','FAQ_german')">
                                <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="switchLanguage('rus','FAQ_russian')">
                                <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="switchLanguage('ita','FAQ_italian')">
                                <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="switchLanguage('spa', 'FAQ_spanish')">
                                <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
                        </li>
                    </ul>
                </li>
                <li ><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-10">
                    <br><br><br><br><br><br><br><br><br>
                    <h2 translate>TERMS AND CONDITIONS</h2>

                    <img src="/assets/website/img/oline.jpg">

                </div>

            </div>
        </div>

    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      FAQ Section
    ============================-->


    <section id="contact" class="section-bg">
        <div class="container">

            <div class="section-header">
                <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="font-size: 16px;">

                        <br><br>Please read these terms and conditions carefully. These terms and conditions shall be binding
                        upon users and members of www.alpha-x.io website and its services.<br> <br>
                    </p>
                    <div class="pxlr-club-faq">
                        <!-- <h3 style="color: #e96f20; font-weight: 700;">MOBILE WALLET</h3> -->
                        <div class="content1">
                            <div class="panel-group" id="accordion" role="tablist"
                                 aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingOne" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseOne"
                                               aria-expanded="false" aria-controls="collapseOne" style="color: #97999b;" translate>1. Introduction<i class="pull-right fa fa-plus"></i></a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body pxlr-faq-body"><p style="font-size: 16px;" translate>1.1 Please carefully read the Terms and Conditions (“Terms”)
                                            for the website located at <a href="http://www.alpha-x.io/">http://www.alpha-x.io/</a> (the “Website”) including its sub-domains
                                            and mobile optimized version, as set out hereinafter. The Website is operated by Asaex IT Solutions
                                            Inc. Marshal Islands (hereinafter referred to also as “Company”). Any ancillary terms, guidelines,
                                            the Privacy Policy (the “Policy”) and other documents made available by the Website from time to time
                                            and as incorporated herein by reference, shall be deemed as an integral part of the Terms.<br>
                                            This Agreement sets forth the legally binding agreement between you as the user(s) of the Website
                                            (hereinafter referred to as “you”, “your” or “User”) and the Company. If you are using the Website or its services
                                            on behalf of an entity, organization, or company (collectively "Subscribing Organization"), you declare that you
                                            are an authorized representative of that Subscribing Organization with the authority to bind such organization to
                                            these Terms; and agree to be bound by these Terms on behalf of such Subscribing Organization. In such a case, "you"
                                            in these Terms refers to your Subscribing Organization, and any individual authorized to use the Service on behalf of
                                            the Subscribing Organization, including you. <br><br>
                                            1.2	By accessing or using the Website in any manner, including, but not limited to, visiting or browsing it, or
                                            contributing content or other materials to it, you agree to be bound by these Terms.<br><br>
                                            1.3	These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but
                                            may be assigned by the Website without restriction. Any attempted transfer or assignment in violation hereof
                                            shall be null and void.<br></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingTwo" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseTwo"
                                               aria-expanded="false" aria-controls="collapseTwo" style="color: #97999b;" translate>2. Acceptance of the Terms<i
                                                    class="pull-right fa fa-plus"></i></a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
                                         aria-labelledby="headingTwo">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>2.1	Each time by viewing, using, accessing, browsing, or submitting any content
                                                or material on the Website, including the webpages contained or hyperlinked therein and owned or controlled by the Website
                                                and its Services (the “Services”), whether through the Website itself or through such other media or media channels, devices,
                                                software, or technologies as the Website may choose from time to time, you are agreeing to abide by these Terms, as amended
                                                from time to time with or without your notice.<br><br>
                                                2.2	You must be at least 18 years of age to use the Website and/or the Website Services; and by using the Website in any
                                                manner, before or after registering your account on the Website, you warrant and represent to us that you are at least
                                                18 years of age.<br><br>
                                                2.3	The Website reserves the right to modify or discontinue, temporarily or permanently, and at any time, the Website
                                                and/or the Website Services (or any part thereof) with or without notice. You agree that the Website shall not be liable
                                                to you or to any third party for any modification, suspension or discontinuance of the Website Services.<br><br>
                                                2.4	Website or the Website management may modify these Terms from time to time, and any change to these Terms
                                                will be reflected on the Website with the updated version of the Terms and you agree to be bound to any changes to
                                                these Terms when you use the Website or the Website Services. The Website may also, in its sole and absolute discretion,
                                                choose to alert via email all users with whom it maintains email information of such modifications<br><br>
                                                2.5	Also, occasionally there may be information on the Website or within the Website Services that
                                                contains typographical errors, inaccuracies or omissions that may relate to service descriptions, pricing,
                                                availability, and various other information, and the Website management reserves the right to correct any errors,
                                                inaccuracies or omissions and to change or update the information at any time, without prior notice. <br><br>
                                                2.6	When you register an account on the Website and/or upload, submit, enter any information or material
                                                to the Website or use any of the Website Services, you shall be deemed to have agreed to and understand the Terms.<br><br>
                                                2.7	The Website uses cookies and by using the Website in any manner whatsoever, you also agree and consent to
                                                the use of cookies in accordance with the privacy policy and cookies policy.<br>
                                                IF YOU DO NOT AGREE TO THESE TERMS OF USE, THEN YOU MAY NOT USE THE WEBSITE.

                                            </p>
                                        </div>
                                    </div>
                                </div>




                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingThree" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseThree"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>3.	Account Registration and Membership<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseThree" role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>3.1	In order to use some or all of the functionalities and Services
                                                provided through the Website, you may be required to register an account with the Website. At the time of
                                                registration of account, you will be asked to complete a registration form which shall require you to provide
                                                personal information such as name, address, phone number, email address, Telegram username and any other personal
                                                information as may be required under the Privacy Policy.<br><br>
                                                3.2	Upon verification of your details, the Website may grant you the membership and register your account.<br><br>
                                                3.3	You represent, warrant and covenant that:<br><br>
                                                (i)	you have full power and authority to accept these Terms, to grant any license and authorization
                                                and to perform any of your obligations hereunder;<br>
                                                (ii) you will undertake the use the Website and Services for business or personal purposes only; and <br>
                                                (iii) the address you provide when registering is the principal place of business of your business
                                                entity, or your personal address.<br><br>
                                                3.4	You must not allow any other person to use your account to access the Website.<br><br>
                                                3.5	You must notify us in writing immediately if you become aware of any unauthorised use of your account.<br><br>
                                                3.6	You must not use any other person's account to access the Website, unless you have that person's express
                                                 written permission to do so.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading4" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse4"
                                               aria-expanded="false"
                                               aria-controls="collapseTwo" style="color: #97999b;" translate>4.	User IDs and passwords<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse4" role="tabpanel"
                                         aria-labelledby="heading4">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>4.1 If you register for an account with the Website, you will be
                                                asked to choose a user ID and password. Your user ID must not be misleading and must comply with the
                                                content rules set out in this document; you must not use your account or user ID for or in connection
                                                with the impersonation of any person.<br><br>
                                                4.2	You shall be responsible to maintain the confidentiality of your password and shall be responsible
                                                for all uses via your registration and/or login, whether authorized or unauthorized by you. You agree to
                                                immediately notify us of any unauthorized use or your registration, user account or password.<br><br>
                                                4.3	You must notify the Website by filling the form available on the Website or emailing us at
                                                <a href="info@alpha-x.io">info@alpha-x.io</a>, if you have reason to believe that your account is no longer secure for any reason
                                                (for example, in the event of a loss, theft or unauthorized disclosure or use of your password). <br><br>
                                                4.4	You are responsible for any activity and content on the account arising out of any failure to
                                                keep your password confidential, and may be held liable for any losses arising out of such a failure.<br><br>
                                                4.5	Registration data and other personally identifiable information that we may collect is subject to the
                                                terms of our Privacy Policy. 
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingFive" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseFive"
                                               aria-expanded="false"
                                               aria-controls="collapseTwo" style="color: #97999b;" translate>5.	Personal profiles<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseFive" role="tabpanel"
                                         aria-labelledby="headingFive">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>5.1	All information that you supply as part of a personal
                                                profile on the website must be true, accurate, current, complete and non-misleading.<br><br>
                                                5.2 You must keep your personal profile on the website up to date.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingsix" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapsesix"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>6.  Electronic Signature Consent<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapsesix" role="tabpanel" aria-labelledby="headingsix">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>6.1	You agree that your “Electronic Signature”
                                                is the legal equivalent of your manual signature for this Agreement, thereby indicating
                                                your consent to do business electronically.<br><br>
                                                6.2	By clicking on the applicable button in the Website, you will be deemed to
                                                have executed these Terms electronically via your Electronic Signature with Company;
                                                effective on the date you first click to accept these Terms<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingseven" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseseven"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>7.	Electronic Delivery of Communications<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseseven" role="tabpanel"
                                         aria-labelledby="headingseven">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>7.1	You agree to receive communications from Website in electronic
                                                form. Such electronic communications may include, but will not be limited to, any and all current and future
                                                notices and/or disclosures that various laws or regulations require that we provide to you, as well as such
                                                other documents, statements, data, records and any other communications regarding your relationship
                                                with the Website.<br><br>
                                                7.2	You accept that the electronic documents, files and associated records provided via your account
                                                with Website are reasonable and proper notice, for the purpose of any and all laws, rules, and regulations,
                                                and you acknowledge and agree that such electronic form fully satisfies any requirement that such
                                                communications be provided to you in writing or in a form that you may keep. Website reserves the
                                                right to require ink signatures on hard copy documents from the related parties, at any time.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingeight" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseeight"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>8.	User Responsibility<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseeight" role="tabpanel"
                                         aria-labelledby="headingeight">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>8.1	Users are solely responsible for all of the transactions conducted on,
                                                through or as a result of use of the Website or Services.<br><br>
                                                8.2	You agree that the use of the Website and/or the Website
                                                Services on the Website is subject to all applicable local, state and
                                                federal laws and regulations. You also agree:<br><br>
                                                i.	not to access the Website or services using a third-party's account/registration without the
                                                express consent of the account holder;<br>
                                                ii. not to use the Website for illegal purposes;<br>
                                                iii. not to commit any acts of infringement on the
                                                Website or with respect to content on the Website;<br>
                                                iv. not to copy any content for republication in print or online;<br>
                                                v. not to create reviews or blog entries for or with any purpose or intent
                                                that does not in good faith comport with the purpose or spirit of the Website;<br>
                                                vi. not to attempt to gain unauthorized access to other computer systems from or through the Website;<br>
                                                vii. not to interfere with another person's use and enjoyment of the Website or another entity's use
                                                and enjoyment of the Website;<br>
                                                viii. not to upload or transmit viruses or other harmful, disruptive or destructive files; and/or<br>
                                                ix. not to disrupt, interfere with, or otherwise harm or violate the security of the Website, or any services,
                                                system restores, accounts, passwords, servers or networks connected to or accessible through the Website
                                                or affiliated or linked website.<br>
                                                x. not to use the Website in any way or take any action that causes, or may cause, damage to the
                                                Website or impairment of the performance, availability or accessibility of the Website;<br>
                                                xi. not to use the Website in any way that is unlawful, illegal, fraudulent or harmful, or in
                                                connection with any unlawful, illegal, fraudulent or harmful purpose or activity;<br>
                                                xii. not to use se the Website to copy, store, host, transmit, send, use, publish or distribute any material
                                                which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit
                                                or other malicious computer software;<br>
                                                xiii. not to conduct any systematic or automated data collection activities (including without limitation scraping,
                                                data mining, data extraction and data harvesting) on or in relation to the Website without the express written consent
                                                of the Website owner;<br>
                                                xiv. not to access or otherwise interact with the Website using any robot, spider or other automated means;
                                                xv. not to violate the directives set out in the robots.txt file for the website;<br>
                                                xvi. not to use data collected from the website for any direct marketing activity
                                                (including without limitation email marketing, SMS marketing, telemarketing and direct mailing);<br>
                                                xvii. not to infringe these Terms or allow, encourage or facilitate others to do the same;<br>
                                                xviii. not to plagiarize and/or infringe the intellectual property rights or privacy rights of any third party;<br>
                                                xix. not to disturb the normal flow of Services provided within the Website;<br>
                                                xx. not to create a link from the Website to another website or document without Company’s prior written consent;<br>
                                                xxi. not to obscure or edit any copyright, trademark or other proprietary rights notice
                                                or mark appearing on the Website;<br>
                                                xxii. not to create copies or derivate works of the Website or any part thereof;<br>
                                                xxiii. not to reverse engineer, decompile or extract the Website’s source code;<br>
                                                xxiv. not to remit or otherwise make or cause to deliver unsolicited advertising,
                                                email spam or other chain letters;<br>
                                                xxv. not to collect, receive, transfer or disseminate any personally identifiable
                                                information of any person without consent from title holder; and/or<br>
                                                xxvi. not to pretend to be or misrepresent any affiliation with any legal entity or third party.<br><br>
                                                8.3	In addition to the above clause, unless specifically endorsed or approved by the Website, the following
                                                uses and activities of and with respect to the Website and the Website Services are prohibited:<br><br>
                                                i. criminal or tortuous activity, including child pornography, fraud, trafficking in obscene
                                                material, drug dealing, gambling, harassment, stalking, spamming, copyright infringement, patent
                                                infringement, or theft of trade secrets;<br>
                                                ii. transmitting chain letters or junk email;<br>
                                                iii. engaging in any automated use of the Website or the Website Services.<br>
                                                iv. interfering with, disrupting, or creating an undue burden on the Website
                                                or the Website Services or the networks or services connected or linked thereto;<br>
                                                v. attempting to impersonate another user or person;<br>
                                                vi. using the username of another user;<br>
                                                vii. selling or otherwise transferring your profile;<br>
                                                viii. using any information obtained from the Website or the Website
                                                Services in order to harass, abuse, or harm another person;<br>
                                                ix. deciphering, decompiling, disassembling or reverse engineering
                                                any of the software comprising or in any way making up a part of the Website
                                                or the Website Services;<br>
                                                x. attempting to bypass any measures of the Website or the Website Services
                                                designed to prevent or restrict access to the Website or the Website Services, or
                                                any portion of the Website or the Website Services;<br>
                                                xi. harassing, annoying, intimidating or threatening any the Website employees or
                                                agents engaged in providing any portion of the Website Services;<br>
                                                xii. using the Website and/or the Website Services in any manner inconsistent with
                                                any and all applicable laws and regulations.<br>
                                                xiii. Using data collected from the website to contact individuals, companies or
                                                other persons or entities.<br>
                                                xiv. Supplying false, untrue, expired, incomplete or misleading information through the Website.<br><br>
                                                8.4 You also acknowledge and accept that any violation of the aforementioned provisions may result in
                                                the immediate termination of your access to the Website and use of our Services, without refund, reimbursement,
                                                or any other credit on our part. Access to the Website may be terminated or suspended without prior notice or
                                                liability of Company. You represent and warrant to us that you have all right, title, and interest to any
                                                and all content you may post, upload or otherwise disseminate through the Website. You hereby agree to provide
                                                Company with all necessary information, materials and approval, and render all reasonable assistance and
                                                cooperation necessary for our Services.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingnine" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapsenine"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>9.	Third party websites<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapsenine" role="tabpanel"
                                         aria-labelledby="headingnine">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>9.1 The Website includes hyperlinks to other websites
                                                owned and operated by third parties; such hyperlinks are not recommendations. Goods and services of
                                                third parties may be advertised and/or made available on or through this web site. Representations made
                                                regarding products and services provided by third parties are governed by the policies and representations
                                                made by these third parties. The Website shall not be liable for or responsible in any manner for any of your
                                                dealings or interaction with third parties.<br><br>
                                                9.2 The management of the Website has no control over third party websites and their contents, and subject to
                                                the Terms it accepts no responsibility for them or for any loss or damage that may arise from your use of them.<br><br>
                                                9.3 The Website may contain links from third party websites. External hyperlinks to or from the site do not
                                                constitute the Website’s endorsement of, affiliation with, or recommendation of any third party or its website,
                                                products, resources or other information. The Website is not responsible for any software, data or other information
                                                available from any third party website. You are solely responsible for complying with the terms and conditions for
                                                the third party sites. You acknowledge that Company shall have no liability for any damage or loss arising from your
                                                access to any third party website, software, data or other information.<br><br>
                                                9.4 We do not always review the information, pricing, availability or fitness for use of such products and services
                                                and they will not necessarily be available or error free or serve your purposes, and any use thereof is at your sole risk.
                                                We do not make any endorsements or warranties, whether express or implied, regarding any third party websites (or their
                                                products and services). Any linked websites are ruled by their privacy policies, terms and conditions and legal disclaimers.
                                                Please read those documents, which will rule any interaction thereof.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingten" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseten"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>10. Third party rights<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseten" role="tabpanel"
                                         aria-labelledby="headingten">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>10.1 A contract under the Terms is for our benefit
                                                and your benefit, and is not intended to benefit or be enforceable by any third party.<br><br>
                                                10.2 The exercise of the Parties' rights under a contract under the Terms
                                                is not subject to the consent of any third party.<br><br>
                                                10.3 You agree not to; modify, copy, distribute, transmit, display, perform, reproduce, publish, license,
                                                create derivative works from, transfer, scrape, gather, market, rent, lease, re-license, reverse engineer, or sell any information
                                                published by other users without the original publishers written consent.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingeleven" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseeleven"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>11. License<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseeleven" role="tabpanel"
                                         aria-labelledby="headingeleven">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>11.1 By posting or displaying any information, content or material on
                                                the Website or providing any user generated content to Website (herein referred to as “User Content”), you thereto
                                                grant an irrevocable, perpetual, worldwide, royalty-free., and sub-licensable license to Website, in order for to
                                                display, transmit, distribute, reproduce, publish, duplicate, adapt, modify, translate, create derivative works,
                                                and otherwise use any or all of the User Content in any form, media, or technology now known or not currently known
                                                in any manner and for any purpose which may be beneficial to the operation of the Website, the provision of any
                                                Services and/or the business of the User. You represent, confirm and warrant to Company that you have all the rights,
                                                power and authority necessary to grant the above license.<br><br>
                                                11.2 You hereby grant to Company and its affiliates, an unlimited, non-exclusive, assignable, transferable,
                                                sub-licensable, irrevocable, royalty free, perpetual and for all the countries and territories in the world,
                                                right and license to use any feedback, suggestion, enhancement, request, recommendation, correction or comment
                                                provided by you to Company regarding the Website, and to exploit and otherwise incorporate it into the Website.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading12" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse12"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>12. Ownership<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse12" role="tabpanel"
                                         aria-labelledby="heading12">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>12.1 The trademarks, copyright, service marks, trade names and other
                                                intellectual and proprietary notices displayed on the Website are the property of – or otherwise are licensed
                                                to – Company or its licensors or affiliates, whether acknowledged (or not), and which are protected under
                                                intellectual and proprietary rights throughout the world. Respective title holders may or may not be affiliated
                                                with us or our affiliates, partners and advertisers.<br><br>
                                                12.2 No section hereof shall be construed as intent to grant to you any interest in the Website
                                                or our Services, in whole or in part. All content and materials included as part of the Services, such as images,
                                                photographs, graphics, texts, forms, lists, charts, guidelines, data, logos, code, icons, videos, audio and other
                                                content are the property of, are licensed to or are otherwise duly available to Company, its affiliates,
                                                its licensors or to the appertaining third party copyrights holder.<br><br>
                                                12.3 You acknowledge and agree that any and all infringing use or exploitation of copyrighted content in
                                                the Website and our Services may cause us, our affiliates, licensors or content providers irreparable injury,
                                                which may not be remedied solely at law, and therefore our affiliates, licensors or content providers may seek
                                                remedy for breach of these Terms, either in equity or through injunctive or other equitable relief.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading13" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse13"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>13. Term and Termination<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse13" role="tabpanel"
                                         aria-labelledby="heading13">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>13.1 The term hereof shall begin on the date that comes first among:
                                                (i) first access to the Website; <br>(ii) your first access or execution of our Services; or <br>(iii) Company begins
                                                providing its Services to you.<br><br>
                                                13.2 The term hereof will automatically end on the earlier date of either your: <br>(i) account
                                                deactivation, suspension, freezing or deletion; <br>(ii) access termination or access revocation
                                                for our Services or the Website; <br>(iii) Company’s termination of these Terms or its Services,
                                                at its sole and final discretion; <br>(iv) the termination date indicated by Company to you from
                                                time to time; or <br>(v) Company’ decision to make the Website or Services no longer available for use,
                                                at its sole and final discretion.<br><br>
                                                13.3 If you engage in Prohibited Conduct or otherwise violate any provision of the Terms or any other
                                                legal document agreed upon by you including but not limited to Token Sales Agreement and Privacy Policy,
                                                your permission to use the Website and Service will automatically terminate and you will no longer be
                                                eligible to use the Website and Services.<br><br>
                                                13.4 You also agree that we may, at any time and without notice to you, suspend or revoke your
                                                access to and use of the Website and Services, and any accounts you may have including: (i) where we determine
                                                in our sole discretion that such action is reasonable in order to comply with legal requirements or to protect
                                                the rights or interests of Company or any third party; or (ii) in connection with any general discontinuation
                                                of the Service.<br><br>
                                                13.5 We will have no liability whatsoever on account of any change to the Website or Service or any suspension
                                                or revocation of your access to or use of the Website or Service. You may terminate your account at any time by
                                                visiting our Help Center. If you are unable to log-in to the Help Center please send an email to <a href="info@alpha-x.io">info@alpha-x.io</a>.<br>
                                                13.6 Upon expiration of these Terms or termination of your subscription to our Services, you shall thereafter immediately
                                                cease any and all use of our Services, along with any and all information and data collected therefrom.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading14" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse14"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>14. Amendments<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse14" role="tabpanel"
                                         aria-labelledby="heading14">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate> Company hereby reserves the right
                                                to update, modify, change, amend, terminate or discontinue the Website,
                                                the Terms and/or the Policy, at any time and at its sole and final discretion.
                                                Company may change the Website’s functionalities and (any) applicable fees at any
                                                time. Any changes to these Terms will be displayed in the Website, and we may notify
                                                you through the Website or by email. Your use of our Services after the effective date
                                                of any update– either by an account registration or simple use – thereby indicates your acceptance thereof.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading15" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse15"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>15. No Warranty<i class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse15" role="tabpanel"
                                         aria-labelledby="heading15">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>15.1 Your use of our Website is at your own risk, and
                                                therefore you hereby acknowledge and agree that our Website and Services are provided “as is”,
                                                “with all faults”, and “as available”, including all content, guides, checklists, reference guides,
                                                sample filing forms, software, materials, services, functions and/or information made available thereby.
                                                It shall be your own responsibility to ensure that the Services or information available through this Website
                                                meet your specific requirements.<br><br>
                                                15.2 Neither Company, nor its affiliates, subsidiaries, officers, employees and agents warrantee that the
                                                Website will be error-free, uninterrupted, secure, or produce any particular results; or that any listing,
                                                purchase, order, amount, information, guide, sheet, checklist and/or content will be current, measured useful
                                                and/or valid, or that it will produce any particular results or that the information obtained therefrom will
                                                be reliable or accurate. No advice or information given by Company or its employees, affiliates, contractors
                                                and/or agents shall create a guarantee. No warranty or representation is made with regard to such services or
                                                products of third parties contacted on or through the Website. In no event shall Company or our affiliates be
                                                held liable for any such services.<br><br>
                                                15.3 Neither Company, nor its affiliates, licensors, owners, subsidiaries, brands or advertisers are a professional
                                                advisor in any industry. The results described in the Website are not typical and will vary based on a variety of
                                                factors outside the control of Company. Your use of any information and/or materials on this Website is entirely at
                                                your own risk, for which we shall not be held liable.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading16" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse16"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>16. Disclaimer of Damages<i
                                                    class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse16" role="tabpanel"
                                         aria-labelledby="heading16">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>16.1 In no event shall Company be liable
                                                to you or to any third party for any direct, indirect, incidental, consequential, special,
                                                exemplary or punitive damages, including but not limited to: <br>(i) damages for business interruption,
                                                loss of profits, loss of data, computer or software failure or inaccessibility or any other type of
                                                personal damages or losses arising out of or related to your use of or inability to use the Website,
                                                including negligence; <br>(ii) infringement of third party intellectual property rights; and <br>(iii) claims
                                                by any party that they are entitled to defense or indemnification in relation to assertions of rights,
                                                demands or claims by third party rights claimants.<br><br>
                                                16.2 The aforementioned limitation of damage liability, shall be in force regardless of however caused
                                                or however awarded, regardless of the theory of liability applied (including contract, warranty or tort),
                                                whether active, passive or imputed, including negligence, strict liability, product liability or other legal
                                                theory, regardless of the product or service offered by action or inaction by merchant; and even if you have
                                                been advised of such possibility.<br><br>
                                                16.3 To the fullest extent allowable under applicable law, Company hereby expressly disclaims any
                                                and all representations and warranties of any kind with respect to the Website, including any and all
                                                liability arising out of or related to any purported facts or information and description of any information,
                                                products and/or Services displayed on our Website, including all warranties of any kind, whether express or implied;
                                                including, without limitation, warranties of title,merchantability, accuracy, completeness, condition, quality, durability,
                                                performance, accuracy, reliability, suitability, fitness for a particular purpose or non-infringement.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading17" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse17"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>17. Indemnification<i
                                                    class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse17" role="tabpanel"
                                         aria-labelledby="heading17">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>17.1 You agree to indemnify, defend and hold Company and its
                                                independent contractors, affiliates, subsidiaries, officers, employees and agents, and their respective
                                                employees, agents and representatives, harmless from and against any and all actual or threatened
                                                proceedings (at law or in equity), suits, actions, damages, claims, deficiencies, payments, settlements,
                                                fines, judgments, costs, liabilities, losses and expenses (including, but not limited to, reasonable expert
                                                and attorney fees and disbursements) arising out of, caused or resulting from: <br>(i) your conduct and any user
                                                content;<br> (ii) your violation of these Terms or the Policy; and <br>(iii) your violation of the rights of any third-party.<br><br>
                                                17.2 You indemnify the Website and its management for any time that the Website may be unavailable
                                                due to routine maintenance, updates or any other technical or non-technical reasons. You agree
                                                to indemnify the Website and its management for any error, omission, interruption, deletion, defect,
                                                delay in operation or transmission, communication line failure, theft or destruction or unauthorized
                                                access to your published content, damages from lost profits, lost data or business interruption.<br><br>
                                                17.3 You hereby indemnify the Website and its management and will not hold them responsible for copyright
                                                theft, reverse engineering and use of your content by other users on the website.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading18" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse18"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>18. Generals<i
                                                    class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse18" role="tabpanel"
                                         aria-labelledby="heading18">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate><b>18.1 Advertisements and Promotions.</b><br>
                                                From time to time, we may place ads and promotions from third party sources in the Website.
                                                Accordingly, your participation or undertakings in promotions of third parties other than Company,
                                                and any terms, conditions, warranties or representations associated with such undertakings,
                                                are solely between you and such third party. Company is not responsible or liable for any loss
                                                or damage of any sort incurred as the result of any such dealings or as the result of the presence
                                                of third party advertisers on the Website.<br><br>
                                                <b>18.2 No Assignment.</b><br>
                                                You may not assign or transfer these Terms by operation of law or otherwise without our prior written
                                                consent. Notwithstanding the foregoing, we may assign any rights or obligations hereunder to any current
                                                or future affiliated company and to any successor in interest. Any rights not expressly granted herein
                                                are thereby reserved. These terms will inure to the benefit of any successors of the parties. We reserve
                                                the right, at any time, to transfer some or all of Company’s assets in connection with a merger, acquisition
                                                , reorganization or sale of assets or in the event of bankruptcy.<br><br>
                                                <b>18.3 Content Moderation.</b><br> Company hereby reserves the right, at its sole and final discretion,
                                                to review any and all content delivered into the Website, and use moderators and/or any monitoring
                                                technology to flag and remove any user generated content or other content deemed inappropriate.<br><br>
                                                <b>18.4 Force Majeure.</b><br> Company is no liable for any failure of performance on its obligations as set forth herein,
                                                where such failure arises from any cause beyond Company's reasonable control, including but not limiting to, electronic,
                                                power, mechanic or Internet failure, from acts of nature, forces or causes beyond our control, including without limitation,
                                                Internet failures, computer, telecommunications or any other equipment failures, electrical power failures, strikes, labor disputes,
                                                riots, insurrections, civil disturbances, shortages of labor or materials, fires, flood, storms, explosions, acts of God, war,
                                                governmental actions, orders of domestic or foreign courts or tribunals or non-performance of third parties.<br><br>
                                                <b>18.5 Headings.</b><br> The titles of paragraphs in these Terms are shown only for ease of reference and will not affect
                                                any interpretation therefrom.<br><br>
                                                <b>18.6 No Waiver.</b> <br>Failure by Company to enforce any rights hereunder shall not be construed as a waiver of any rights
                                                with respect to the subject matter hereof.<br><br>
                                                <b>18.7 No Relationship.</b> <br>You and Company are independent contractors, and no agency, partnership, joint venture,
                                                employee-employer, or franchiser-franchisee relationship is intended or created by these Terms.<br><br>
                                                <b>18.8 Notices. </b><br>All legal notices or demands to or upon Company shall be made in writing and sent to Company
                                                personally, by courier, certified mail, or facsimile, and shall be delivered to any address the parties may provide.
                                                For communications by e-mail, the date of receipt will be the one in which confirmation receipt notice is obtained.
                                                You agree that all agreements, notices, demands, disclosures and other communications that Company sends to you electronically
                                                satisfy the legal requirement that such communication should be in writing.<br><br>
                                                <b>18.9 Severability. </b><br>If any provision of these Terms is held unenforceable, then such provision will be modified to
                                                reflect the parties' intention. All remaining provisions of these Terms will remain in full force and effect. The failure
                                                of either party to exercise in any respect any right provided for herein will not be deemed a waiver of any further rights hereunder.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading19" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse19"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>19. Applicable Law and Dispute Resolution<i
                                                    class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse19" role="tabpanel"
                                         aria-labelledby="heading20">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate><b>Applicable Law. </b><br>Your use of this Website
                                                and any cause of action, claim and/or dispute that might arise between the parties
                                                hereon, shall be subject to the laws of Marshal Island, without regard to conflict of law principles.<br>

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="heading20" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapse20"
                                               aria-expanded="false"
                                               aria-controls="collapseThree" style="color: #97999b;" translate>20. Contact<i
                                                    class="pull-right fa fa-plus"></i></a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse20" role="tabpanel"
                                         aria-labelledby="heading20">
                                        <div class="panel-body pxlr-faq-body">
                                            <p style="font-size: 16px;" translate>For any inquires or complaints
                                                regarding the Service or Website, please contact by email at <a href="info@alpha-x.io">info@alpha-x.io</a>.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-md-3"></div>
            <div class="col-md-6" style="margin: 0 auto; text-align: center;margin-top: 8%;">
                <p style="font-size: 16px; color: #97999b;" translate>YOU DID NOT FIND AN ANSWER FOR YOUR QUESTION?</p>
                <a [routerLink]="['/contactus']" class="btn btn-outline-light" style="margin: 0 auto; color: #e66a20;  border: 1px solid #e66a20;
        padding: 1rem 2rem;" translate>ASK A QUESTION</a>
            </div>
            <div class="col-md-3"></div>


        </div>
    </section><!-- #contact -->




</main>

<!--==========================
  Footer
============================-->
<div class="text-center">
    <footer id="footer">
     
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 col-md-6 footer-info">
              <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
              <p translate>Alpha-X is an entirely new generation cryptocurrency based on Scrypt having complete Proof Of Stake (POS) network.</p>
            </div>
  
           
                <div class="col-lg-4 col-md-6 footer-info" style="color
                :#6d6e72">
                    <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                    <!-- <a translate>Legal Opinion </a><br> -->
                    <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                          <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                          <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                          <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                          <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a>
                  </div>
           
  
            <div class="col-lg-4 col-md-6 footer-info">
              <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
              <p title="Coming Soon" translate>QT-Wallet</p>
              <p title="Coming Soon" translate>Mobile Payment</p>
              <p title="Coming Soon" translate>Exchange</p>
              <p title="Coming Soon" translate>E-Commerce Platform</p>
            </div>
  
          </div>
        </div>
      </div>
      <hr style="background: #363535; width: 85%;">
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center-md">
              <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
            </div>
            <div class="col-lg-4"></div>
            <!-- <div class="col-lg-8 text-right text-center-md">
                  <ul class="list-inline">
                  <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                  <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                  
                </ul>
                  
                </div> -->
          </div>
        </div>
      </div>
    </footer>
    </div>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="/assets/website/lib/jquery/jquery.min.js"></script>
<script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
<script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/website/lib/easing/easing.min.js"></script>
<script src="/assets/website/lib/superfish/hoverIntent.js"></script>
<!-- <script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
<!-- Contact Form JavaScript File -->
<!-- <script src="contactform/contactform.js"></script> -->

<!-- Template Main Javascript File -->
<script src="/assets/website/js/main.js"></script>

</body>
</html>


