@import url('https://fonts.googleapis.com/css?family=Muli');
body {
    background-color: #262625;
     /* background-color: #328f8a;
     background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
     font-family: "Muli", sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   .card-body{
       background:#262625;
   
   }
  