<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title >Alpha-X | FAQ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/website/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a [routerLink]="['/home']" translate>Home</a></li>
          <li > <a href="#" translate>About Us</a></li>
          <li > <a href="#" translate>Features</a></li>
          <!--<li ><a href="#" translate>Token</a></li>-->
          <li ><a href="#" translate>Roadmap</a></li>
          <li ><a [routerLink]="['/team']">Team</a></li>
          <li class="menu-active" ><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li ><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          <li class="menu-has-children">

            <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
              <i id="myDIV" class="flag-icon flag-icon-gb"></i>
              <!-- <i [ngClass]="{ 'flag-icon flag-icon-gb':is_English==true, 
                              'flag-icon flag-icon-cn':is_Chinese==true, 
                              'flag-icon flag-icon-fr':is_France==true,
                              'flag-icon flag-icon-ger':is_German==true,
                              'flag-icon flag-icon-rus':is_Russian==true,
                              'flag-icon flag-icon-ita':is_Italian==true,
                              'flag-icon flag-icon-spa':is_Spanish==true
                            }"></i> -->
            </a>
            <ul>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
                  <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ch','FAQ_chineese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('fr','FAQ_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ger','FAQ_german')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('rus','FAQ_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
             
     </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ita','FAQ_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('spa', 'FAQ_spanish')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
              </li>
            </ul>
          </li>
		  <li ><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2 translate>PRIVACY POLICY</h2>
                
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      FAQ Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">

        <div class="section-header">
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>

        	<div class="row">
		<div class="col-md-12">
        <p style="font-size: 16px;">
                  
            <br><br>By accessing or using <a href="http://www.alpha-x.io/">http://www.alpha-x.io/</a> (the “Website”), a website developed and owned by
            Asaex IT Solutions Inc. Marshal Islands (“we” “us” or “our”), you consent to the information
            collection, disclosure and use practices described in this Privacy Policy. This Privacy Policy
            applies to all Services provided by us and sets out how we may collect, use and disclose
            information in relation to users of the Website.<br>
            The Website is a new generation cryptocurrency based on Script having complete Proof of Stake
            (POS) network, which offers range of solutions including but not limited to QT-Wallet, Mobile
            Payment, Exchange, and E-Commerce Platform (the “Service”).<br>
            Use of Website, including all materials presented herein and all Services provided by us, is subject
            to separate Terms and Conditions, Token Sales Agreement, and this Privacy Policy. This Privacy
            Policy applies to all site visitors, customers, and all other users of the Website. By using the
            Website or Services, you agree to this Privacy Policy, without modification, and acknowledge
            reading it.<br> <br>
                            </p>
                                <div class="pxlr-club-faq">
									<!-- <h3 style="color: #e96f20; font-weight: 700;">MOBILE WALLET</h3> -->
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingOne" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseOne"
                                                           aria-expanded="false" aria-controls="collapseOne" style="color: #97999b;" translate>1. Information We Collect<i class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"
                                                     aria-labelledby="headingOne">
                                                    <div class="panel-body pxlr-faq-body"><p style="font-size: 16px;" translate>1.1 Your privacy is important to us and we have taken steps to ensure that we do not collect more
                                                        information from you than is necessary for us to provide you with our services and to protect
                                                        your account.<br><br>
                                                        1.2 We may process the following categories of personal data about you:<br><br>
                                                        1.2.1 Communication Data that includes any communication that you send to us whether
                                                        that be through the contact form on our Website, through email, text, social media
                                                        messaging, social media posting or any other communication that you send us. We
                                                        process this data for the purposes of communicating with you, for record keeping and
                                                        for the establishment, pursuance or defence of legal claims. Our lawful ground for this
                                                        processing is our legitimate interests which in this case are to reply to communications
                                                        sent to us, to keep records and to establish, pursue or defend legal claims.<br><br>
                                                        1.2.2 Customer Data that includes data relating to any purchases of goods and/or services
                                                        such as your name, title, billing address, delivery address email address, phone number,
                                                        contact details, purchase details and your card details. We use your email to
                                                        communicate with you about your order and to manage our customer relationship with
                                                        you. When you contact us through any of the communication modes as mentioned
                                                        hereinabove, your email address may be added to our mailing list from which you can
                                                        unsubscribe at any time using the unsubscribe link in each email or by contacting us at <a href="info@alpha-x.io">info@alpha-x.io</a>
                                                        <br><br>
                                                        1.2.3 User Data that includes data about how you use our Website and Services together
                                                        with any data that you post for publication on our Website or through other Services.
                                                        We process this data to operate our Website and ensure relevant content is provided to
                                                        you, to ensure the security of our Website, to maintain back-ups of our Website and/or
                                                        databases and to enable publication and administration of our Website, other online
                                                        services and business. Our lawful ground for this processing is our legitimate interests
                                                        which in this case are to enable us to properly administer our Website and our business.<br><br>
                                                        1.2.4 Technical Data that includes data about your use of our Website and online services
                                                        such as your IP address, your login data, details about your browser, length of visit to
                                                        pages on our Website, page views and navigation paths, details about the number of
                                                        times you use our Website, time zone settings and other technology on the devices you
                                                        use to access our Website. The source of this data is from our analytics tracking system.
                                                        We process this data to analyse your use of our Website and other online services, to
                                                        administer and protect our business and Website, to deliver relevant website content
                                                        and advertisements to you and to understand the effectiveness of our advertising. Our
                                                        lawful ground for this processing is our legitimate interests which in this case are to
                                                        enable us to properly administer our Website and our business and to grow our business
                                                        and to decide our marketing strategy.<br><br>
                                                        1.2.5 Marketing Data that includes data about your preferences in receiving marketing from
                                                        us and our third parties and your communication preferences. We process this data to
                                                        enable you to partake in our promotions such as competitions, prize draws and free
                                                        give-aways, to deliver relevant website content and advertisements to you and measure
                                                        or understand the effectiveness of this advertising. Our lawful ground for this
                                                        processing is our legitimate interests which in this case are to study how customers use
                                                        our products/services, to develop them, to grow our business and to decide our
                                                        marketing strategy.<br><br>
                                                        1.3 We may use Customer Data, User Data, Technical Data and Marketing Data (the “Data”) to
                                                        deliver relevant Website content and advertisements to you and to measure or understand the
                                                        effectiveness of the advertising we serve you. Our lawful ground for this processing is
                                                        legitimate interests which is to grow our business. We may also use such data to send other
                                                        marketing communications to you.<br>
                                                    </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingTwo" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo" style="color: #97999b;" translate>2. Consent and its withdrawal<i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
                                                     aria-labelledby="headingTwo">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>2.1 When you provide us with the Data, we imply that you consent to our collecting it and using
                                                            it for that specific reason only. In order to provide you with the Services, it is necessary for
                                                            us to collect all relevant and necessary Data about you from you.<br><br>
                                                            2.2 If you change your mind, you may withdraw your consent for us to contact you, for the
                                                            continued collection, use or disclosure of your information, at any time, by contacting us at <a href="info@alpha-x.io">info@alpha-x.io</a><br>


                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingThree" role="tab">
                                                    <h4 class="panel-title">
														<a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseThree"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseThree" style="color: #97999b;" translate>3. How We Use and Process the Data<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseThree" role="tabpanel"
                                                     aria-labelledby="headingThree">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>3.1 We use the Data to prepare your unique file with your medical/psychological history and to
                                                            provide you with our Services in the best possible way.<br><br>
                                                            3.2 The Data collected by us from you may be used to provide you with services and better
                                                            understand your needs related services and programs, to correspond with you and reply to
                                                            your questions with about our services.<br><br>
                                                            3.3 We will not rent or sell your Data to others. We may store the Data in locations outside the
                                                            direct control of the Company (for instance, on servers or databases co-located with hosting
                                                            providers).<br><br>
                                                            3.4 If you provide any Data to us, you are deemed to have authorized us to collect, retain and
                                                            use that data for the following purposes:<br><br>
                                                            i. verifying your identity;<br>
                                                            ii. prepare your medical history file;<br>
                                                            iii. providing you with customer service and responding to your queries, feedback, or
                                                            disputes;<br>
                                                            iv. making such disclosures as may be required for any of the above purposes or as
                                                            required by law, regulations and guidelines or in respect of any investigations, claims
                                                            or potential claims brought on or against us;<br>

                                                            v. provide and maintain the Services;<br>

                                                            vi. notify you about changes to our Services;<br><br>
                                                            3.5 We shall ensure that:<br><br>
                                                            i. The Data collected and processed for and on our behalf by any party is collected and
                                                            processed fairly and lawfully;<br>
                                                           ii.  You are always made fully aware of the reasons for the collection of Data and are
                                                            given details of the purpose(s) for which the data will be used;<br>
                                                           iii.  The Data is only collected to the extent that is necessary to fulfil the purpose(s) for
                                                            which it is required;<br>
                                                            iv. All Data is accurate at the time of collection and kept accurate and up to date while
                                                            it is being held and/or processed;<br>
                                                           v.  No Data is held for any longer than necessary in light of the purpose(s) for which it
                                                            is required.<br>

                                                            vi. Whenever cookies or similar technologies are used online by us, they shall be used
                                                            strictly in accordance with the law;<br>
                                                            vii. You are provided with a simple, accessible method of amending any Data submitted
                                                            by you online;<br>
                                                            viii. You are informed if any data submitted by you online cannot be fully deleted at your
                                                            request under normal circumstances and how to request that the we delete any other
                                                            copies of that data, where it is within your right to do so;
                                                            ix. All Data is held in a safe and secure manner taking all appropriate technical and
                                                            organisational measures to protect the data;<br>
                                                            x. All data is transferred securely, whether it is transmitted electronically or in hard
                                                            copy.<br>
                                                            xi. You can fully exercise your rights with ease and without hindrance.<br><br>

                                                           </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                    <div class="panel-heading" id="headingFour" role="tab">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button"
                                                                                   data-toggle="collapse"
                                                                                   data-parent="#accordion"
                                                                                   href="#collapseFour"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="collapseThree" style="color: #97999b;" translate>4. Disclosure of Data<i
                                                                        class="pull-right fa fa-plus"></i></a></h4>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="collapseFour" role="tabpanel"
                                                         aria-labelledby="headingFour">
                                                        <div class="panel-body pxlr-faq-body">
                                                            <p style="font-size: 16px;" translate>4.1 We shall not be able to keep your Data private in response to legal process i.e., a court order
                                                                or a subpoena, a law enforcement agency’s request. If, in our view, it is deemed appropriate
                                                                to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations
                                                                involving potential threats to the physical safety of any person, violations of our terms of
                                                                use, or as otherwise required by law, we may be compelled to disclose the Data. Moreover,
                                                                in case of takeover, merger or acquisition, we reserve a right to transfer your data to new
                                                                platform.<br><br>
                                                                4.2 We may disclose the Data in the good faith belief that such action is necessary to:<br><br>
                                                                xii. comply with a legal obligation<br>
                                                                xiii.  protect and defend our rights or property<br>
                                                                xiv. prevent or investigate possible wrongdoing<br>
                                                                xv. protect the personal safety of users of the Service or the public<br>
                                                                xvi. protect against legal liability<br><br>

                                                                4.3 When necessary, we may also disclose and transfer your Data to our professional advisers,
                                                                law enforcement agencies, insurers, government and regulatory and other organizations.

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading" id="headingFive" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapseFive"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>5. Data Storage<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapseFive" role="tabpanel"
                                                             aria-labelledby="headingFive">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>5.1 Your data may be stored and processed at the servers in the United States, Europe, or any
                                                                    other country in which the Website or its subsidiaries, affiliates or service providers maintain
                                                                    facilities.<br><br>
                                                                    5.2 The Website may transfer Data to affiliated entities, or to other third parties across borders
                                                                    and from your country or jurisdiction to other countries or jurisdictions around the world.Your consent to this Privacy Policy followed by your submission of such information
                                                                    represents your agreement to that transfer.<br><br>
                                                                    5.3 We will take all steps reasonably necessary to ensure that your data is treated securely and
                                                                    in accordance with this Privacy Policy and no transfer of your Data will take place to an
                                                                    organization or a country unless there are adequate controls in place including the security
                                                                    of your data and other personal information.<br><br>
                                                                    5.4 We will only retain your Data for as long as necessary to fulfil the purposes we collected it
                                                                    for, including for the purposes of satisfying any legal, see section regarding insurance
                                                                    requirement and reporting requirements. When deciding what the correct time is to keep the
                                                                    Data for we look at its amount, nature and sensitivity, potential risk of harm from
                                                                    unauthorised use or disclosure, the processing purposes, if these can be achieved by other
                                                                    means and legal requirements.<br><br>
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingsix" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapsesix"
                                                           aria-expanded="false"
                                                           aria-controls="collapseThree" style="color: #97999b;" translate>6. How We Protect Your Information<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapsesix" role="tabpanel" aria-labelledby="headingsix">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>6.1 We store all the Data submitted by you through Website at a secure database. All reasonable
                                                            measures shall be made to secure all the Data submitted by you in the physical form.<br><br>
                                                            6.2 We are concerned with protecting your privacy and data, but we cannot ensure or warrant
                                                            the security of any data you transmit to or guarantee that your Data may not be accessed,
                                                            disclosed, altered or destroyed by breach of any of our industry standard physical, technical
                                                            or managerial safeguards.<br><br>
                                                            6.3 No method of transmission over the Internet or method of electronic Therefore, we cannot
                                                            guarantee its absolute security. If you have any questions about security on our App, you can
                                                            contact us at info@alpha-x.io.<br><br>
                                                            6.4 Any Data supplied by you will be retained by us and will be accessible by our employees,
                                                            any service providers engaged by us and third parties.<br><br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingseven" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseseven"
                                                           aria-expanded="false"
                                                           aria-controls="collapseThree" style="color: #97999b;" translate>7. The rights of Users<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseseven" role="tabpanel"
                                                     aria-labelledby="headingseven">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>7.1  You may exercise certain rights regarding your Data processed by us. In particular, you have
                                                            the right to do the following:<br><br>
                                                            7.1.1 Withdraw consent at any time. You have the right to withdraw consent where you
                                                            have previously given your consent to the processing of your Data.<br><br>
                                                            7.1.2 Object to processing of Data. You have the right to object to the processing of your
                                                            Data if the processing is carried out on a legal basis other than consent.
                                                            <br><br> 7.1.3 Access to the Data. You have the right to learn if Data is being processed by us, obtain
                                                            disclosure regarding certain aspects of the processing and obtain a copy of the Data
                                                            undergoing processing.<br><br>
                                                            7.1.4 Verify and seek rectification. You have the right to verify the accuracy of your Data
                                                            and ask for it to be updated or corrected.<br><br>
                                                            7.1.5 Restrict the processing of your Data. You have the right, under certain
                                                            circumstances, to restrict the processing of Data. In this case, we will not process your
                                                            Data for any purpose other than storing it.<br><br>
                                                            7.1.6 Have the Data deleted or otherwise removed. You have the right, under certain
                                                            circumstances, to obtain the erasure of the Data from us.<br><br>
                                                            7.2 You may initiate request with us at <a href="info@alpha-x.io">info@alpha-x.io</a> to exercise any of the above mentioned
                                                            rights. We shall review your request and, in our own discretion, honor your request, if
                                                            deemed necessary by us, within reasonable time<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingeight" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseeight"
                                                           aria-expanded="false"
                                                           aria-controls="collapseThree" style="color: #97999b;" translate>8. Compliance with the GDPR<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseeight" role="tabpanel"
                                                     aria-labelledby="headingeight">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>For users based in the European Union (EU), the Website shall make all reasonable efforts
                                                            to ensure that it complies with <b>The General Data Protection Regulation (GDPR) </b> (EU)
                                                            2016/679 as set forth by the European Union regarding the collection, use, and retention of
                                                            data from European Union member countries. Website shall make all reasonable efforts to
                                                            adhere to the requirements of notice, choice, onward transfer, security, data integrity, access
                                                            and enforcement.<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingnine" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapsenine"
                                                           aria-expanded="false"
                                                           aria-controls="collapseThree" style="color: #97999b;" translate>9. Cookies<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapsenine" role="tabpanel"
                                                     aria-labelledby="headingnine">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>9.1 This Website uses cookies to better the users experience while visiting the Website. Where
                                                            applicable this Website uses a cookie control system allowing the user on their first visit to
                                                            the Website to allow or disallow the use of cookies on their computer / device.<br><br>
                                                            9.2 Cookies are small files saved to the user's computers’ or mobile devices’ hard drive or
                                                            memory that track, save and store information about the user's interactions and usage of the
                                                            Website. This allows the Website, through its server to provide the users with a tailored
                                                            experience within this Website.<br><br>
                                                            9.3 Users are advised that if they wish to deny the use and saving of cookies from this Website
                                                            on to their computers hard drive they should take necessary steps within their web browsers
                                                            security settings to block all cookies from this Website and its external serving vendors.<br><br>
                                                            9.4 We may gather certain information automatically and store it in log files. This information
                                                            includes Internet protocol (IP) addresses, browser type, Internet service provider (ISP),
                                                            referring/exit pages, operating system, date/time stamp, and click stream data. We may use
                                                            this information, which does not identify individual users, to analyze trends, to administer
                                                            the Website, to track users movements around the Website and to gather demographic
                                                            information about our user base as a whole.<br><br>
                                                            9.5 We may track the referring URL (the web page you left before coming to the Website) and
                                                            the pages, links, and graphics of the Website you visited. We do so because it allows us to
                                                            evaluate the reputation and responsiveness of specific web pages and any promotional
                                                            programs we may be running.<br><br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingten" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseten"
                                                           aria-expanded="false"
                                                           aria-controls="collapseThree" style="color: #97999b;" translate>10. Third Party Links<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseten" role="tabpanel"
                                                     aria-labelledby="headingten">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>The Website may contain links to third-party websites, plug-ins and applications. Except as
                                                            otherwise discussed in this Privacy Policy, this document only addresses the use and
                                                            disclosure of information we collect from you on our Website. Other websites accessible
                                                            through our site via links or otherwise have their own policies in regard to privacy. We are
                                                            not responsible for the privacy policies or practices of third parties. When you leave our
                                                            Website, we encourage you to read the privacy notice of every website you visit.<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingeleven" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseeleven"
                                                           aria-expanded="false"
                                                           aria-controls="collapseThree" style="color: #97999b;" translate>11. Changes to this Privacy Statement<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseeleven" role="tabpanel"
                                                     aria-labelledby="headingeleven">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>11.1 We may modify these this Privacy Policy from time to time, and any such change shall be
                                                            reflected on the Website with the updated version of the Privacy Policy and you agree to be
                                                            bound to any changes to the updated version of Privacy Policy when you use the Website or
                                                            its services.<br><br>
                                                            11.2 You acknowledge and agree that it is your responsibility to review this Website and this
                                                            Policy periodically and to be aware of any modifications. Updates to this Policy will be
                                                            posted on this page.<br><br>
                                                            11.3 Also, occasionally there may be information on the Website that contains typographical
                                                            errors, inaccuracies or omissions that may relate to service descriptions, pricing, availability,
                                                            and various other information, and the Website reserves the right to correct any errors,
                                                            inaccuracies or omissions and to change or update the information at any time, without prior
                                                            notice.<br><br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="heading12" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapse12"
                                                           aria-expanded="false"
                                                           aria-controls="collapseThree" style="color: #97999b;" translate>12. Contact US<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapse12" role="tabpanel"
                                                     aria-labelledby="heading12">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>If you have questions about our Privacy Policy, please contact us via email: <a href="info@alpha-x.io."> info@alpha-x.io.</a><br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                                                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
    
				
				 <!-- <div class="col-md-6">
                                <div class="pxlr-club-faq"><br><br><br>
									<h3 style="color: #e96f20; font-weight: 700;">CRYPTOCURRENCIES</h3>
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingSeven" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseSeven"
                                                           aria-expanded="false" aria-controls="collapseSeven" style="color: #97999b;">
                                                            Anonymous user won’t receive
                                                            email private? <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseSeven" role="tabpanel"
                                                     aria-labelledby="headingSeven">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                            aliqua
                                                            put a bird on it esciunt you probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingEight" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseEight"
                                                           aria-expanded="false" aria-controls="collapseEight" style="color: #97999b;"> How to
                                                            have
                                                            an editor like this editor? <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseEight" role="tabpanel"
                                                     aria-labelledby="headingEight">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. ea proident. Ad vegan
                                                            excepteur butcher vice lomo. Leggings occaecat craft beer
                                                            farm-to-table, raw denim aesthetic synth nesciunt you
                                                            probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingNine" role="tab">
                                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseNine" aria-expanded="false"
                                                                               aria-controls="collapseNine" style="color: #97999b;"> Problem
                                                            with Knowledge base Article? <i
                                                                    class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseNine" role="tabpanel"
                                                     aria-labelledby="headingNine">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                            aliqua
                                                            put a bird on it squid single-origin coffee nulla assumenda
                                                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                            labore
                                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                            excepteur butcher vice lomo. Leggings occaecat craft beer
                                                            farm-to-table, raw denim aesthetic synth nesciunt you
                                                            probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
	                     </div>
		  
		<div class="col-md-3"></div>
		<div class="col-md-6" style="margin: 0 auto; text-align: center;margin-top: 8%;">
		<p style="font-size: 16px; color: #97999b;" translate>YOU DID NOT FIND AN ANSWER FOR YOUR QUESTION?</p>
		<a [routerLink]="['/contactus']" class="btn btn-outline-light" style="margin: 0 auto; color: #e66a20;  border: 1px solid #e66a20;
        padding: 1rem 2rem;" translate>ASK A QUESTION</a>
		</div>
		<div class="col-md-3"></div>
				
		
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
        <footer id="footer">
         
          <div class="footer-top">
            <div class="container">
              <div class="row">
      
                <div class="col-lg-4 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                  <p translate>Alpha-X is an entirely new generation cryptocurrency based on Scrypt having complete Proof Of Stake (POS) network.</p>
                </div>
      
               
                    <div class="col-lg-4 col-md-6 footer-info" style="color
                    :#6d6e72">
                        <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                        <!-- <a translate>Legal Opinion </a><br> -->
                        <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                              <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                              <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                              <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                              <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                              <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>

                            </div>
               
      
                <div class="col-lg-4 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                  <p title="Coming Soon" translate>QT-Wallet</p>
                  <p title="Coming Soon" translate>Mobile Payment</p>
                  <p title="Coming Soon" translate>Exchange</p>
                  <p title="Coming Soon" translate>E-Commerce Platform</p>
                </div>
      
              </div>
            </div>
          </div>
          <hr style="background: #363535; width: 85%;">
          <div class="copyrights">
            <div class="container">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center-md">
                  <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
                </div>
                <div class="col-lg-4"></div>
                <!-- <div class="col-lg-8 text-right text-center-md">
                      <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                      
                    </ul>
                      
                    </div> -->
              </div>
            </div>
          </div>
        </footer>
        </div>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/lib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <!-- <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>


