<div class="vertical-layout vertical-compact-menu content-detached-right-sidebar fixed-navbar menu-open pace-done" data-open="click"
  data-menu="vertical-compact-menu" data-col="content-detached-right-sidebar">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row" style="padding-top: 8%;">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block" translate>News</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/index" translate>Dashboard</a>
                </li>
                <li class="breadcrumb-item active" translate>News</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="content-detached content-center">
            <div class="content-body">
              <section class="card pull-up">
                <div class="card-content">
                  <div class="card-body">
                    <h4 class="title" style="text-align: center;color: #e96f20;">
                      <span translate>Latest News</span>
                    </h4>
                    <!-- <div class="col-12">
                      <div class="row" *ngFor="let n of news">
                        <section class="card pull-up">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-3 col-12 py-1">{{n.createdAt | date: 'dd/MM/yyyy'}}</div>
                                <div class="col-md-3 col-12 py-1">{{n.headLine}}</div>
                                <div class="col-md-6 col-12 py-1">{{n.newsText}}</div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div> -->
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <!--<th>Sr.No</th>-->
                              <th style="width: 15%;">Date</th>
                              <th>Headline</th>
                              <th>Details</th>
                            </tr>
                          </thead>
                          <tbody>
              
                            <tr *ngFor="let new of news">
                              <td contenteditable="false" [textContent]="new.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;"></td>
                              <td contenteditable="false" [textContent]="new.headLine" readonly style="padding: 16px 10px;"></td>
                              <td contenteditable="false" [textContent]="new.newsText" readonly style="padding: 16px 10px;"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>

      </div>
     
    </div>
  </div>