<body>
<div class="app-content content1" style="background-color: #262625">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
<!--/ Demo fullscreen-overlay --><section id="account-register" class="flexbox-container">    
<div class="col-12 d-flex align-items-center justify-content-center">
    <!-- image -->
    <!-- <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0 text-center d-none d-md-block">
        <div class="border-grey border-lighten-3 m-0 box-shadow-0 card-account-left height-400">
            <img src="/src/assets/static/images/account-login.png" class="card-account-img width-200" alt="card-account-img">
        </div>
    </div> -->
    <!-- login form -->
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
        <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right" style="background: #262625;">                
            <div class="card-content">                    
                <div class="card-body p-3">
                        <p class="text-center"><img src="/assets/static/images/logo1.png" style="width: 70%;"></p>
                    <!-- <p class="text-center h5 text-capitalize">Started with Alpha-X !</p> -->
                    <p class="mb-3 text-center">Please enter your Email address</p>
                    
                    <form class="login-form" >                            
                        
                        
                            <input type="email" class="form-control"  id="m_email" placeholder="Your Email" required="" autofocus="" [(ngModel)]="model.email" [ngModelOptions]="{standalone: true}"  autocomplete="off">
                            
                        
                        <!-- <div class="form-group row">
                            <div class="col-12 text-center text-sm-left">
                                <fieldset>
                                    <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="remember-me" class="chk-remember" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    <label for="remember-me" class=""> I agree to Crypto ICO's terms</label>
                                </fieldset>
                            </div>                                
                        </div> -->
                        <button type="submit" class="btn-gradient-secondary btn-block my-1" (click)= "forgotPass()"><b>REQUEST</b></button>
                        <p class="text-center"><a routerLink = "/login" class="card-link" style="color: #e76a35;"><b>CANCEL</b></a></p>
                    </form>
                </div>                    
            </div>
        </div>
    </div>        
</div>    
</section>

    </div>
  </div>
</div>
</body>