
<div class="col-md-12" style="background-color: #262625;">  
<div class="row">  
<div class="container" style="max-width: 100%;">
        <div class="login-page">
         <div class="form">
                <p class="text-center"><img src="/assets/static/images/logo1.png" style="width: 70%;"></p>
<br>
         
          <form class="login-form">
            <input type="text" placeholder="Fullname" [(ngModel)]="model2.fullname"
            [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="Username"  [(ngModel)]="model2.username"
            [ngModelOptions]="{standalone: true}" (blur)="uservalidation()">
            <input type="email" placeholder="E-mail" [(ngModel)]="model2.email"
            [ngModelOptions]="{standalone: true}" (blur)="Emailvalidation()">
            <input type="password" placeholder="Password" [(ngModel)]="model2.password"
            [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="Reference" [(ngModel)]="model2.reference"
            [ngModelOptions]="{standalone: true}" (blur)="reffer()">
            <form [formGroup]="aFormGroup">
              <ngx-recaptcha2
                [siteKey]="sitekey"
                [size]="size"
                [hl]="lang"
                [theme]="theme"
                [type]="type"
                (expire)="handleExpire()"
                (load)="handleLoad()"
                (success)="handleSuccess($event)"
                formControlName="recaptcha">
              </ngx-recaptcha2>
            </form>
            <button class="btn-gradient-secondary mt-2" style="margin-bottom: 10px;" (click)="signup()" translate>Sign Up</button>
            <a routerLink="/login"  style="color: #e76a35;" translate><b translate>CANCEL</b></a>
<br><br>
            <a routerLink = "/home" style="color: #e76a35;font-size: 16px" translate><b>Go Back To Home</b> <br>
              <i class="fa fa-long-arrow-left" style="font-size:48px;color: #e76a35"></i>
          </a>

            <!-- <div class="row">
                    
                <div class="col-md-12"><br><br>
                    <a routerLink = "/home" style="color: #e76a35;font-size: 16px" translate><b>Go Back To Home</b> <br>
                    <i class="fa fa-long-arrow-left" style="font-size:48px;color: #e76a35"></i>
                </a>
                </div>
            </div> -->
          </form>
        </div>
      </div>
      </div>
      </div>
</div>