<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alpha-X | Payment</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/website/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a [routerLink]="['/home']" translate>Home</a></li>
          <li><a href="#about" translate>Exchange</a></li>
          <li class="menu-active" ><a href="#services" translate>Payment <i class="fa fa-caret-down"></i></a></li>
          <li><a href="#portfolio" translate>Token</a></li>
          <li><a href="#home" translate>Timeline</a></li>
          <li><a href="#home" translate>Roadmap</a></li>
          <li><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li class="menu-has-children"><a class="dropdown-item"  (click)="switchLanguage('en', 'payment_english' )">
              <i class="flag-icon flag-icon-gb"></i> </a>
              <ul>
                <li><a class="dropdown-item"  (click)="switchLanguage('cn', 'payment_chinese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('fr', 'PAYMENT_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('ger', 'german__payment')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('rus', 'PAYMENT_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('ita', 'italian_payment')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a></li>
                <li><a class="dropdown-item"  (click)="switchLanguage('spa', 'spanish_payment')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a></li>
              </ul>
            </li>   
		  <li><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2 translate>DIGITAL CURRENCY WALLET & DEBIT CARD</h2>
                <p style="font-size: 18px;" translate>BUY, SELL TRADE AND WITHDRAW YOUR CRYPTOCURRENCIES GLOBAL</p>
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg" style="background-color: #121923;">
      <div class="container">
        <div class="section-header">
          <p style="font-size: 18px; color: #7c838d;" translate>The Crypto Currency World about to explode with an amazing system that will take your investments to the next level.</p>
        </div>
        <h3 style=" font-size: 27px; font-weight: 800; color: #e96f20;"><strong translate>ALL AT YOUR FINGERTIP</strong></h3>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="font-size: 16px;">
              <p class="description" style="color: #7c838d;" translate><img src="/assets/website/img/yes.png" >&nbsp; Send and receive funds all in one app</p>
          <hr style="background-color: #283038">
          
        <p class="description" style="color: #7c838d;" translate><img src="/assets/website/img/yes.png" >&nbsp; Exchange your currencies directly in your Alpha-X mobile wallet</p>
          <hr style="background-color: #283038">
          
          <p class="description" style="color: #7c838d;" translate><img src="/assets/website/img/yes.png">&nbsp; Make payments with your mobile wallet in any shop which accept &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; cryptocurrencies.</p>
          <hr style="background-color: #283038"> 
          
         <p class="description" style="color: #7c838d;" translate><img src="/assets/website/img/yes.png" >&nbsp; Withdraw from any ATM around the world.</p>
          <hr style="background-color: #283038">
          
         <p class="description" style="color: #7c838d;" translate><img src="/assets/website/img/yes.png" >&nbsp; Receive real-time notifications when the card is used.</p>
          <hr style="background-color: #283038">
          
         <p class="description" style="color: #7c838d;" translate><img src="/assets/website/img/yes.png" >&nbsp; Lock or unlock your card whenever you wish to.</p>
          <hr style="background-color: #283038">  	
          
            </div> 
          
            <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <img src="/assets/website/img/ax-visa.png" class="img-fluid">
            </div>  
          </div>
      </div>
    </section>

    <section id="contact" class="section-bg" style="background-color: #0c131b;">
        <div class="container">
          <div class="section-header">
              <h3 translate>CURRENT MARKET OFFERING VS ALPHA-X <br> MOBILE WALLET & DEBIT CARD</h3><br>
            <p style="font-size: 20px; color: #7c838d;" translate>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
         
          <div class="row">
              
              <div class="col-lg-5 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="font-size: 16px;">
                  <h3 style=" font-size: 20px; font-weight: 800; color: #e96f20;"><strong  translate>CURRENT MARKET OFFERING</strong></h3>
                  <br>
                <p class="description" style="color: #7c838d;" translate>1. Bitcoin cold storage</p>
            <hr style="background-color: #283038">
            
          <p class="description" style="color: #7c838d;" translate>2. Initiate Bitcoin</p>
            <hr style="background-color: #283038">
            
            <p class="description" style="color: #7c838d;" translate>3. Wait until it's released from cold storage</p>
            <hr style="background-color: #283038"> 
            
           <p class="description" style="color: #7c838d;" translate>4. Initiate conversion to fait money</p>
            <hr style="background-color: #283038">
            
           <p class="description" style="color: #7c838d;" translate> 5. Fiat currenca transfered to your wallet</p>
            <hr style="background-color: #283038">
            
           <p class="description" style="color: #7c838d;" translate>6. Initiate transfer to your bank account</p>
            <hr style="background-color: #283038">  	

            <p class="description" style="color: #7c838d;" translate>7. Wait to receive the funds</p>
            <hr style="background-color: #283038">

            <p class="description" style="color: #7c838d;" translate>8. Funds arive - now you can make your purchase </p>
            <hr style="background-color: #283038">
<br>
            <a href="#" class="btn btn" style="margin: 0 auto; margin-top: 6%; color: #e66a20; font-weight: 600;
                border: 1px solid #05090c;  padding: 1.35rem 2rem; width: 100%; background-color: #05090c;" translate>8 Steps / Duration 3 days</a>
              </div> 
            
<div class="col-lg-2">

  </div>

  
              <div class="col-lg-5 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                  <h3 style=" font-size: 20px; font-weight: 800; color: #e96f20;"><strong translate>ALPHA-X OFFERING</strong></h3>
                  <br>
                  <p class="description" style="color: #7c838d; font-size: 15px;" translate>1. Bitcoin and other currencies are in your blockchain wallet, which is directly connected to your debit card.</p>
                  
                  <br>
                <p class="description" style="color: #7c838d;"> <img src="/src/assets/website/img/down.png"></p>
                 <br>
                  
                  <p class="description" style="color: #7c838d; font-size: 15px;" translate>2. Pay instantly with your Alpha-X debid card cryptocurrencies will automatically be converted in fiat currency.</p>
                  <br><br><br><br>
                  <a href="#" class="btn btn" style=" margin: 0 auto; margin-top: 6%; color: #e66a20; font-weight: 600; margin-top: 26%;
                border: 1px solid #05090c;  padding: 1.35rem 2rem; width: 100%; background: #05090c;" translate>Only 2 Steps / Duration 2 Seconds</a>
              </div>  
            </div>
        </div>
      </section>

    <section id="About" class="section-bg" style="background-image: url(/assets/website/img/participate.jpg)">
      <div class="container">
     <div class="row">
     
     <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-12 mb-4" style="padding-top: 10%; text-align: center;">
              <P style="font-size: 20px; color: #acadad;" translate>This is the most groundbreaking and revolutionary <br> Crpto Currency System.</P><br>

                <a href="#" class="btn btn-outline-light" style="padding: 7px 26px 10px 23px; margin: 0 auto; margin-top: 6%; color: #e66a20;
                border: 1px solid #e66a20;  padding: 0.75rem 2rem;" translate>PARTICIPATE NOW</a> <br> <br>    
            </div>
    <div class="col-lg-3"></div>
		 
	 </div>	 
      </div>
    </section>


    
  </main>

  <!--==========================
    Footer
  ============================-->
  <!-- <footer id="footer">
	  <div class="container">
        <div class="row">
			<div class="col-lg-4"> -->
    
  

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
	  <div class="container">
        <div class="row">
			<div class="col-lg-4"></div>
        <div class="col-lg-4 text-center-md" style="text-align: center;"><br>
          <a class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; color: #e66a20; border: 1px solid #e66a20; padding: 1rem 2rem;" target="_blank" ng-reflect-target="_blank" ng-reflect-router-link="/login" href="#/login" translate>START NOW</a>
			  </div>
			<div class="col-lg-4"></div>
		  </div>
	  </div><br>
	  <hr style="background: #363535; width: 85%;">
    <div class="footer-top">
      <div class="container">
        <div class="row">
				
          <div class="col-lg-4 col-md-6 footer-info">
            <h5 style="color: #e96e20; font-weight: 600"  translate>About Alpha-X</h5>
            <p translate>Alpha-X is an entirely new generation cryptocurrency based on Scrypt having complete Proof Of Stake (POS) network.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-info">
            <h5 style="color: #e96e20; font-weight: 600; padding-top: 2%;" translate>SOCIAL LINKS</h5>
            <div class="social-links">
              <a href="https://web.facebook.com/Alpha-X-1847407061980481/?modal=admin_todo_tour" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/alphax_official" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://medium.com/@alphaX" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
              <a href="https://web.telegram.org/#/im?p=@alphaxon" target="_blank" class="telegram"><i class="fa fa-telegram"></i></a>
            </div>
  

          <div class="col-lg-4 col-md-6 footer-info">
            <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
            <p translate><i class="fa fa-angle-double-right"></i>QT-Wallet</p>
			      <p translate><i class="fa fa-angle-double-right"></i>Mobile Payment</p>
			      <p translate><i class="fa fa-angle-double-right"></i>Exchange</p>  
			      <p translate><i class="fa fa-angle-double-right"></i>E-Commerce Platform </p>  
          </div>

          </div>
        </div>
      </div>
      </div>
    <hr style="background: #363535; width: 85%;">
    <div class="copyrights">
          <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>        
                <div class="col-lg-4 text-center-md">
                  <p style="color: #6d6e72; text-align:center;" >&copy; 2018 ALPHA-X</p>
                </div>
                <div class="col-lg-4"></div> 
              <!-- <div class="col-lg-8 text-right text-center-md">
                <ul class="list-inline">
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">CONTACT US &nbsp;&nbsp; |</a> </li> 
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">ABOUT US &nbsp;&nbsp; |</a></li>
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                
              </ul>
                
              </div> -->
            </div>
          </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="l/assets/website/ib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <script src="/assets/website/lib/superfish/superfish.min.js"></script>
  <script src="/assets/website/lib/wow/wow.min.js"></script>
  <script src="/assets/website/lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script> 
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>-->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>
