<!-- <app-header></app-header> -->
<!-- <app-asidenav></app-asidenav> -->
<div class="vertical-layout vertical-compact-menu content-detached-right-sidebar fixed-navbar menu-open pace-done" data-open="click" data-menu="vertical-compact-menu" data-col="content-detached-right-sidebar"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div></div>
<div class="app-content content" >
    <div class="content-wrapper">
      <div class="content-header row" style="padding-top: 8%;">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block" translate>Account Profile</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink = "/index" translate>Dashboard</a>
                </li>
                <li class="breadcrumb-item active" translate>Account Profile</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Demo options menu -->

<!--/ Demo options menu -->
<!-- Demo fullscreen-overlay -->

<!--/ Demo fullscreen-overlay --><div class="row">
  <div class="col-12 col-md-12">
      <!-- User Profile -->
      <section class="card">
          <div class="card-content">
              <div class="card-body">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-md-2 col-12" style="text-align: center;">
                            <img *ngIf=isImage src="{{backendUrl}}/uploads/{{profileImage}}" class="image--cover" alt="Card image">
                            <img *ngIf=!isImage  src="/assets/static/images/avatar-s-1.png" class="image--cover" alt="Card image"><br>
                            
                            <!-- <input type="file" accept="image/*" class="form-control" (change)="onFileChange($event)" value="profileImage" style="border: none; width: 0%!important;"> -->
                                <div class="upload-btn-wrapper">
                                    <button class="btn">Upload a file</button>
                                    <input type="file" (change)="onFileChange($event)" value="profileImage" name="myfile" />
                                  </div>
                                  <label *ngIf="filename!=''">{{filename}}</label>
                          </div>
                          <div class="col-md-10 col-12">
                              <h5 translate>Profile</h5>
                              <hr>
                              <form class="form-horizontal form-user-profile row mt-2" >
                                  <div class="col-12">
                                      <fieldset class="form-label-group">
                                            <label for="first-name" translate>Full name</label>
                                          <input type="text" class="form-control" id="first-name" [(ngModel)]="fullName" required="" autofocus="" [ngModelOptions]="{standalone: true}">
                                          
                                      </fieldset>
                                  </div>
                                  <div class="col-6">
                                      <fieldset class="form-label-group">
                                            <label for="user-name" translate>User name</label>
                                          <input type="text" class="form-control" id="user-name" [(ngModel)]="userName" required="" autofocus="" [ngModelOptions]="{standalone: true}" disabled>
                                          
                                      </fieldset>
                                  </div>
                                  <div class="col-6">
                                      <fieldset class="form-label-group">
                                            <label for="email-address" translate>Email</label>
                                          <input type="text" class="form-control" id="email-address"  [(ngModel)]="emailId" required="" autofocus="" [ngModelOptions]="{standalone: true}" disabled>
                                          
                                      </fieldset>
                                  </div>
                                  <div class="col-12 text-right">
                                        <button type="submit" class="btn-gradient-secondary my-1" (click)="saveProfile()" style="padding:1rem" translate>Save Profile</button>
                                    </div>
                              </form>
                              <!--  -->
                              <h5 translate>Change Password</h5>
                              <hr>
                              <form class="form-horizontal form-referral-link row mt-2" >
                                    <div class="col-6">
                                            <fieldset class="form-label-group">
                                                    <label for="old-password" translate>Current Password</label>
                                                <input type="password" class="form-control" id="old-password" [(ngModel)]="oldpassword" placeholder="Enter Password" required="" autofocus="" [ngModelOptions]="{standalone: true}">
                                               
                                            </fieldset>
                                        </div>
                                        <div class="col-6">
                                            <fieldset class="form-label-group">
                                                    <label for="new-password" translate>New Password</label>
                                                <input type="password" class="form-control" id="new-password" placeholder="Enter Password" [(ngModel)]="newpassword" required="" autofocus="" [ngModelOptions]="{standalone: true}">
                                                
                                            </fieldset>
                                        </div>
                                        <div class="col-12 text-right">
                                          <button type="submit" class="btn-gradient-secondary my-1" (click)="getchangePassword()"  style="padding:1rem" translate>Change Password</button>
                                      </div>
                                        
                              </form>
                              <h5>BTC Payout <span translate>Address</span></h5>
                              <hr>
                              <form class="form-horizontal form-referral-link row mt-2" >
                                    
                                        <div class="col-12">
                                            <fieldset class="form-label-group">
                                                    <label for="BTC Withdraw">BTC <span translate>Address</span></label>
                                                <input type="text" class="form-control" id="btc Address" placeholder="Enter BTC Address" [(ngModel)]="BTCPayoutAddress" required="" autofocus="" [ngModelOptions]="{standalone: true}">
                                                
                                            </fieldset>
                                        </div>
                                        <div class="col-12 text-right">
                                          <button type="submit" class="btn-gradient-secondary my-1" (click)="updatepayout()" translate>Update</button>
                                      </div>
                                        
                              </form>
                              <!--  -->
                              <h5>Know Your Client (KYC)</h5>
                              <hr>
                              <form  *ngIf="!kycvalue" class="form-horizontal form-referral-link row mt-2" >
                                    
                                        <div class="col-12">
                                            <fieldset class="form-label-group">
                                                    <label for="BTC Withdraw">Id Proof</label>
                                                    <!-- <input type="file" id="passport" accept="image/x-png,image/gif,image/jpeg,image/jpg" class="form-control" (change)="onPassportChange($event)" placeholder="Enter Passport Details"> -->
                                                    <div class="upload-btn-wrapper">
                                                        <button class="btn">Upload a file</button>
                                                        <input type="file" id="passport" accept="image/x-png,image/gif,image/jpeg,image/jpg" (change)="onPassportChange($event)" />
                                                        <span for="BTC Withdraw" *ngIf="idProofName!=''"> {{idProofName}}</span>
                                                      </div>
                                                
                                            </fieldset>
                                        </div>
                                        <div class="col-12">
                                            <fieldset class="form-label-group">
                                                    <label for="BTC Withdraw">Address Proof</label>
                                                    <!-- <input type="file" id="residence" accept="image/x-png,image/gif,image/jpeg,image/jpg" class="form-control" (change)="onResidenceChange($event)" placeholder="Enter Passport Details"> -->
                                                    <div class="upload-btn-wrapper">
                                                        <button class="btn">Upload a file</button>
                                                        <input type="file" id="residence" accept="image/x-png,image/gif,image/jpeg,image/jpg" (change)="onResidenceChange($event)" />
                                                        <span *ngIf="addressProofName!=''"> {{addressProofName}}</span>
                                                      </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-12">
                                            <fieldset class="form-label-group">
                                                    <label for="BTC Withdraw">Photo (with proof in hand)</label>
                                                    <!-- <input type="file"id="selfie" accept="image/x-png,image/gif,image/jpeg,image/jpg" class="form-control" (change)="onSelfieChange($event)" placeholder="Enter Passport Details"> -->
                                                    <div class="upload-btn-wrapper">
                                                        <button class="btn">Upload a file</button>
                                                        <input type="file" id="selfie" accept="image/x-png,image/gif,image/jpeg,image/jpg" (change)="onSelfieChange($event)" />
                                                        <span *ngIf="photoProofName!=''"> {{photoProofName}}</span>
                                                      </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-12 text-right">
                                          <button *ngIf = "!isKycdone" type="submit" class="btn-gradient-secondary my-1" (click)=" postKycDetails()">SUBMIT</button>
                                          <button *ngIf = "isKycdone" type="submit" class="btn-gradient-secondary my-1" style="cursor: not-allowed" disabled>SUBMIT</button>

                                        </div>
                                        
                              </form>
                              <form  *ngIf="kycvalue" class="form-horizontal form-referral-link row mt-2" >
                                    
                                <div class="col-12" style="text-align: center;" >
                                    <form>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" style="width: 7%">
                                          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                        </svg>
                                        <p class="success" translate>Your KYC is already done !!!</p>
                                                                
                                    </form>
                                </div>
                                
                               </form>
                              <h5 translate>Referral Link</h5>
                              <hr>
                              <form class="form-horizontal form-referral-link row mt-2">
                                  <!-- <div class="col-12">
                                      <fieldset class="form-label-group">
                                          <input type="text" class="form-control" id="referral-link" value="{{liveUrl}}/#/registration?reff={{userName}}" required="" autofocus="">
                                          <label for="first-name">Referral link</label>
                                      </fieldset>
                                  </div> -->
                                  <div class="input-group mb-3" style="width: 96%; margin: 0 auto;">
                                        <div class="input-group-prepend">
                                          <!-- <span class="input-group-text"></span> -->
                                        </div>
                                        <input type="text" class="form-control" id="referral-link" value="{{liveUrl}}/#/registration?reff={{userName}}" required="" autofocus="" disabled>
                                        <!-- <div class="input-group-append"> -->
                                            <!-- <button   ngxClipboard [cbContent]="{{liveUrl}}/registration?reff={{userName}}" type="button" class="input-group-text">Copy</button> -->
                                        <!-- </div> -->
                                      </div>
                                      <div class="row" style="width: 100%;">
                                          <div class="col-12" style="text-align: right;margin-top: -39px;">
                                            <button ngxClipboard [cbContent]="getUrl()" type="button" class="btn-gradient-secondary my-1" style="cursor: pointer" (click)="arertcopy()" translate>Copy</button>
                                        </div>
                                      </div>
                              </form>
                              <p translate>Share your Alpha-X ICO referral link among your friends, families and other interested parties. Once the referred users buy Alpha-X you will get the bonus as below in Bitcoins.</p>   
                                    <div translate> - 1st level 10%</div>
                                    <div translate> - 2nd level 5%</div>
                                    <div translate> - 3rd level 3%</div>
                                    <div translate> - 4th level 1%</div>
                                   <div translate>  - 5th level 1%</div>
                              <h5 class="mt-3" translate>Security</h5>
                              <hr>
                              <div class="row">
                                  <div class="col-8">
                                      <p translate>Two-factor authorization</p>
                                      <p translate><span translate>Current Status</span>:{{twofastatus}}</p>
                                      <p translate><span translate>Address</span>:{{scrtKey}}</p>
                                  </div>
                        
                                        <div class="col-md-4" style="text-align: center;">
                                                <img id='barcode'
                                                                                     src="{{this.imgdata}}"
                                                                                     alt=""
                                                                                     title="{{this.scrtKey}}"
                                                                                     width="200"
                                                                                     height="100"
                                               style="width: auto;" />
                                                </div>
                                  
                                  
                              </div>
                              <div class="row">
                                    <div class="col-md-4" style="padding-top: 2%;">
                                          <input type="text" class="form-control " aria-describedby="emailHelp" placeholder="Enter 2FA Code" id="code2fa" name="code2fa"  placeholder="Enter Code" [(ngModel)]="code2fa">

                                    </div>
                                    <div class="col-md-4">
                                            <button type="reset" class="btn-gradient-secondary my-1" style="padding: 10px;font-size: 12px;" (click)="validateEnable()" translate>SUBMIT</button>
  
                                      </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
