.setValue{
    width: var(--set);
}
.boldText{
    font-weight: 900;
}
/* .irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider {
     background: #FF9149;
} */

@media screen and (max-width: 320px){
    #hello {
        padding-top: 25%;
    } 
}

@media screen and (min-width: 768px){
    .vertical-compact-menu.menu-open .content, 
    {
       margin-left:140px;
    } 
    #hello{
        padding-top: 0%;
    }
    .navbar-nav{
        margin-left: 17%;
    }
}

@media (min-width: 768px){
    .d-md-inline-block {
    display: inline-block!important;
    margin-left: 150px;
}
}



#container {
    width: 100%;
    margin:  auto;
    border-radius: 3px;
    text-align: center
  } 
  
  #container .content {
    /* width: 100%; */
    margin: 0 auto;
    
  }
  
    #container .content > div {
    display: inline-block;
    margin: 10px 12px 0;
    width: 37px;
    /* height: 150px; */
    background: #13171d;
    border-radius: 5px;
    color: #fff;
    line-height: 45px;
    font-size: 20px;
  }
  
    /* .container .title {
    width: ;
    height: 50px;
    background: #01b388;
    position: relative
  } */
  
    #container .title span {
    display: table-cell;
    width: 100px;
    font-size: 17px;
    color: #464854;
    line-height: 50px;
  
  }
  
  
  
  @media only screen and (max-width: 480px){
    #container .content > div {
    display: inline-block;
    margin: 10px 9px 10px;
    width: 45px;
    font-size: 18px;
    line-height: 36px;
    }
  
    #container .title span{
      display: none;
    }
  }