<div class="vertical-layout vertical-compact-menu content-detached-right-sidebar fixed-navbar menu-open pace-done" data-open="click" data-menu="vertical-compact-menu" data-col="content-detached-right-sidebar">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
<div class="app-content content">
<div class="content-wrapper" style="padding-top: 8%;">
  <br><br>
    <div class="content-detached content-center">
        <div class="content-body" id="hello">
          <!-- AX -->
          <section class="card pull-up" style="background-image: url('/assets/website/img/intro-carousel/banner_dash.png');">
            <!-- <div class="card-content">
              <div class="card-body" style="text-align: center;"> -->
                  <!-- <h1 translate>Title</h1> -->
<!-- 
                  <button (click)="switchLanguage('en')">en</button>

                  <button (click)="switchLanguage('fr')">fr</button> -->
                  <!-- <h4> <span translate>Hello</span>  {{userName}} !</h4>
                  <p translate>Welcome to your back office! Here you can find all relevant information about your AX Coins and Referral Program. Our platform complies with the highest security standards, however, we also recommend activating 2FA authentication.</p>
                </div>
                </div>
                </section> -->


                <div class="row">
                  <div class="col-lg-1 col-md-12"></div>
                  <div class="col-lg-3 col-md-12">
                    <div>
                    <img src="/assets/website/img/intro-carousel/robotstraight.png" class="img-fluid" style="width:90%;">
                  </div>
                  </div>
                  
                    <div class="col-lg-7 col-md-12" style="padding: 20px;">
                     <div>
                      <h1 style="color: #ED7400;text-align: center; font-size: 25px; margin-top: 25px;" translate>
                        <span translate>Hello</span>  {{userName}} !
                      </h1>
                      
                    </div>
                     <div id="left-ax1">
                      <h3 style="color: #283038; text-transform: none !important; font-size: 13px;font-weight: 100;" translate><strong class="boldText">Welcome to your back office!</strong> Here you can find all relevant information about your <strong class="boldText">AX Coins</strong> and <strong class="boldText">Referral Program</strong>. Our platform complies with the highest security standards, however, we also recommend <strong class="boldText">activating 2FA authentication</strong>.</h3>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-12"></div>
         
                </div>
                </section>
        </div>
        </div>
    <br/>
  <div class="content-header row">
    <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
      <h3 class="content-header-title mb-0 d-inline-block" translate>Buy ICO</h3>
      <div class="row breadcrumbs-top d-inline-block">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink = "/index" translate>Dashboard</a>
            </li>
           
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  <div class="content-detached content-left">
    <div class="content-body">
      <!-- AX -->
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                  <div class="crypto-circle rounded-circle">
                     <i class="icon-layers1"><img src="/assets/website/img/favicon.png" style="position: absolute; width:33px;"></i>
                  
                  </div>
                </div>
                <div class="col-md-8 col-xl-8 col-12">
                  <p><strong translate>Your Alpha-X balance</strong>:</p>
                  <h1>{{alphaxbalances| number :'1.8-8'}} AX</h1>
                  <h5 style="text-transform: none;">{{alphaxData}}</h5>
                  
                </div>
                <!-- <div class="col-md-4 col-xl-4 col-12 d-none d-md-block text-right"> -->
                  <!-- <button type="button" class="btn-gradient-secondary mt-2" readonly style="cursor: not-allowed">Withdraw </button> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ CIC -->
      <h3 class="mt-4" translate>Buy tokens</h3>
      <p translate>To buy tokens, transfer ETH, BCH, LTC or BTC to your personal deposit address:</p>
      <!-- Bitcoin -->
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                  <div class="crypto-circle rounded-circle">
                    <i class="cc BTC-alt" style="color:#ff9900;"></i>
                  </div>
                </div>
                <div class="col-md-5 col-xl-7 col-12">
                  <p><strong>Bitcoin - {{btcBalance | number :'1.8-8'}}</strong></p>
                  <h5 style="text-transform: none;">{{btcData}}</h5>
                  <button ngxClipboard [cbContent]="btcData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                  <button type="button" class="btn btn-warning round mr-1 mb-0" data-toggle="modal" data-target="#purchaseBTCModalLabel" translate>Buy</button>
                  <button class="btn btn-warning round mr-1 mb-0" (click)="refreshBtc()"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="col-md-4 col-xl-3 col-12 d-none d-md-block">
                    <img _ngcontent-c22="" style="width: 50%; margin-left: 10px; margin-top: 20px" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{btcData}}&size=100x100">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ Bitcoin -->
      <!-- Ethereum -->
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                  <div class="crypto-circle rounded-circle">
                    <i class="cc ETH-alt" style="color:#3c3c3d;"></i>
                  </div>
                </div>
                <div class="col-md-5 col-xl-7 col-12">
                  <p><strong>Ethereum - {{ethBalance | number :'1.8-8'}} </strong></p>
                  <h5 style="text-transform: none;">{{ethData}}</h5>
                  <button ngxClipboard [cbContent]="ethData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                  <button type="button" class="btn btn-warning round mr-1 mb-0" data-toggle="modal" data-target="#purchaseETHModalLabel" translate>Buy</button>
                  <button class="btn btn-warning round mr-1 mb-0" (click)="refreshEth()"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="col-md-4 col-xl-3 col-12 d-none d-md-block">
                    <img _ngcontent-c22="" style="width: 50%; margin-left: 10px; margin-top: 20px" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{ethData}}&size=100x100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ Ethereum -->
      <!-- TetherUSD -->
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                  <div class="crypto-circle rounded-circle">
                    <i class="cc BCH-alt" style="color: #2db300;"></i>
                  </div>
                </div>
                <div class="col-md-5 col-xl-7 col-12">
                  <p><strong>Bitcoin Cash - {{bchBalance | number :'1.8-8'}} </strong></p>
                  <h5 style="text-transform: none;">{{bchData}}</h5>
                  <button ngxClipboard [cbContent]="bchData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                  <button type="button" class="btn btn-warning round mr-1 mb-0" data-toggle="modal" data-target="#purchaseBCHModalLabel" translate>Buy</button>
                  <button class="btn btn-warning round mr-1 mb-0" (click)="refreshBch()"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="col-md-4 col-xl-3 col-12 d-none d-md-block">
                    <img _ngcontent-c22="" style="width: 50%; margin-left: 10px; margin-top: 20px" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{bchData}}&size=100x100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                  <div class="crypto-circle rounded-circle">
                    <i class="cc LTC-alt" style="color: #333333;"></i>
                  </div>
                </div>
                <div class="col-md-5 col-xl-7 col-12">
                  <p><strong>Litecoin - {{ltcBalance | number :'1.8-8'}}  </strong></p>
                  <h5 style="text-transform: none;">{{ltcData}}</h5>
                  <button ngxClipboard [cbContent]="ltcData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                  <button type="button" class="btn btn-warning round mr-1 mb-0" data-toggle="modal" data-target="#purchaseLTCModalLabel" translate>Buy</button>
                  <button class="btn btn-warning round mr-1 mb-0" (click)="refreshLtc()"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="col-md-4 col-xl-3 col-12 d-none d-md-block">
                    <img _ngcontent-c22="" style="width: 50%; margin-left: 10px; margin-top: 20px" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{ltcData}}&size=100x100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
     

      <!-- Purchase with BTC Modal -->
      <div class="modal fade" id="purchaseBTCModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseBTCModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="purchaseModalLabel" translate>Buy with Bitcoin</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-content">
                <div class="card-body">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-md-2 col-12 d-none d-md-block">
                        <div class="crypto-circle rounded-circle">
                          <i class="cc BTC-alt"></i>
                        </div>
                      </div>
                      <div class="col-md-7 col-12">
                        <p><strong>Bitcoin</strong></p>
                        <h5 style="text-transform: none; word-break: break-all;">{{btcData}}</h5>
                        <button ngxClipboard [cbContent]="btcData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                      </div>
                      <div class="col-md-3 col-12 d-none d-md-block">
                          <img _ngcontent-c22="" style="width: 65%; margin-left: 10px;" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{btcData}}&size=100x100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <form class="form form-horizontal mt-2 mx-2">
                <div class="form-body">
                  <div class="row">
                    <div class="col-12 col-md-5">
                      <div class="form-group row">
                        <label class="col-2 label-control" for="projectinput1">BTC</label>
                        <fieldset class="col-10">
                          <div class="input-group">
                            <input type="text" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="btcBalance" [ngModelOptions]="{standalone: true}" readonly>
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon4"><i class="cc BTC-alt"></i></span>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-12 col-md-2">
                      <fieldset class="col-12">
                        <p class="mb-0 text-center font-medium-5">=</p>
                      </fieldset>
                    </div>
                    <div class="col-12 col-md-5">
                      <div class="form-group row">
                        <label class="col-2 label-control" for="projectinput2">USD</label>
                        <fieldset class="col-10">
                          <div class="input-group">
                            <input type="text" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="btctousd" [ngModelOptions]="{standalone: true}" readonly>
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon4">$</span>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <p class="font-italic mx-1 mb-2" translate><span translate>Equivalent Alphax</span> {{btctoalpha | number:'1.8-8'}} AX</p>

              <p class="font-italic mx-1 mb-2" style="color: red" translate><span translate>* Minimum buy in private pre sale round is</span> {{slabValue | number:'1.2-2'}} USD</p>
              <h6 class="mx-1" translate>4 step guide</h6>
              <ol>
                <li translate>Deposit bitcoins in the above displayed bitcoin address.</li>
                <li translate><span translate>Make sure you deposit BTC worth more than</span> {{slabValue | number:'1.2-2'}} USD.</li>
                <li translate>Upon transaction confirmation, you will see the sent BTC in your account.</li>
                <li><span translate>Once your BTC balance is more than</span> {{slabValue | number:'1.2-2'}} USD,<span> </span>&nbsp;<span translate>you can Buy Alpha-X with</span><span>&nbsp;</span><b style="color: #e76a35;" translate>Buy Now</b><span>&nbsp;</span><span translate>button</span></li>
                <!-- <li translate>For purchasing Alpha-X, KYC is mandatory</li> -->

              </ol>
                                            
                  <div  class="col-md-12" style="text-align: center;">
                      <button type="button" class="btn btn-warning round mr-1 mb-0" data-dismiss="modal" translate>Cancel</button>
                      <button *ngIf = "!buystatus ||  !btcstatus"type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" disabled translate>Buy Now</button>
                      <button *ngIf = "btcstatus && buystatus" type="button" class="btn btn-warning round mr-1 mb-0" (click)="buyBTC()" translate>Buy Now</button>
                       <!-- <button *ngIf = "" type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" disabled translate>Buy Now</button> -->
                      </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Purchase with BTC Modal -->

      <!-- Purchase with ETH Modal -->
      <div class="modal fade" id="purchaseETHModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseETHModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="purchaseModalLabel" translate>Buy with Ethereum</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-content">
                <div class="card-body">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-md-2 col-12 d-none d-md-block">
                        <div class="crypto-circle rounded-circle">
                          <i class="cc ETH-alt"></i>
                        </div>
                      </div>
                      <div class="col-md-7 col-12">
                        <p><strong>Ethereum</strong></p>
                        <h5 style="text-transform: none; word-break: break-all;">{{ethData}}</h5>
                        <button ngxClipboard [cbContent]="ethData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                      </div>
                      <div class="col-md-3 col-12 d-none d-md-block">
                          <img _ngcontent-c22="" style="width: 65%; margin-left: 10px;" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{ethData}}&size=100x100">
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <form class="form form-horizontal mt-2 mx-2">
                <div class="form-body">
                  <div class="row">
                    <div class="col-12 col-md-5">
                      <div class="form-group row">
                        <label class="col-2 label-control" for="projectinput1">ETH</label>
                        <fieldset class="col-10">
                          <div class="input-group">
                            <input type="text" class="form-control" value="0" aria-describedby="basic-addon4"[(ngModel)]="ethBalance" [ngModelOptions]="{standalone: true}" readonly>
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon4"><i class="cc ETH-alt"></i></span>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-12 col-md-2">
                      <fieldset class="col-12">
                        <p class="mb-0 text-center font-medium-5">=</p>
                      </fieldset>
                    </div>
                    <div class="col-12 col-md-5">
                      <div class="form-group row">
                        <label class="col-2 label-control" for="projectinput2">USD</label>
                        <fieldset class="col-10">
                          <div class="input-group">
                            <input type="text" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="ethtousd" [ngModelOptions]="{standalone: true}" readonly>
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon4">$</span>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <p class="font-italic mx-1 mb-2" translate><span translate>Equivalent Alphax</span> {{ethtoalphax | number:'1.8-8'}} AX</p>
              <p class="font-italic mx-1 mb-2" style="color: red" translate><span translate>* Minimum buy in private pre sale round is</span> {{slabValue | number:'1.2-2'}} USD</p>
              <h6 class="mx-1">4 step guide</h6>
              <ol>
                <li translate>Deposit ethereum in the above displayed ethereum address.</li>
                <li translate><span translate>Make sure you deposit ETH worth more than</span> {{slabValue | number:'1.2-2'}} USD.</li>
                <li translate>Upon transaction confirmation, you will see the sent ETH in your account.</li>
                <li translate><span translate>Once your ETH balance is more than</span> {{slabValue | number:'1.2-2'}} USD,<span>&nbsp;</span><span translate>you can Buy Alpha-X with</span><span>&nbsp;</span><b style="color: #e76a35;" translate>Buy Now</b><span>&nbsp;</span><span translate>button</span></li>
                <!-- <li translate>For purchasing Alpha-X, KYC is mandatory</li> -->

              </ol>
                                            
                <div class="col-md-12" style="text-align: center;">
                    <button type="button" class="btn btn-warning round mr-1 mb-0" data-dismiss="modal" translate>Cancel</button>
                    <button *ngIf = "!buystatus || !ethstatus"type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" disabled translate>Buy Now</button>
                   <button *ngIf = "ethstatus && buystatus" type="button" class="btn btn-warning round mr-1 mb-0" (click)="buyETH()" translate>Buy Now</button>
                   <!-- <button *ngIf = "" type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" disabled translate>Buy Now</button> -->

                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="purchaseBCHModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseETHModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="purchaseModalLabel" translate>Buy with Bitcoin Cash</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-content">
                  <div class="card-body">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-2 col-12 d-none d-md-block">
                          <div class="crypto-circle rounded-circle">
                            <i class="cc BCH-alt"></i>
                          </div>
                        </div>
                        <div class="col-md-7 col-12">
                          <p><strong>Bitcoin Cash</strong></p>
                          <h5 style="text-transform: none; word-break: break-all;">{{bchData}}</h5>
                          <button ngxClipboard [cbContent]="bchData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                        </div>
                        <div class="col-md-3 col-12 d-none d-md-block">
                            <img _ngcontent-c22="" style="width: 65%; margin-left: 10px;" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{bchData}}&size=100x100">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <form class="form form-horizontal mt-2 mx-2">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-12 col-md-5">
                        <div class="form-group row">
                          <label class="col-2 label-control" for="projectinput1">BCH</label>
                          <fieldset class="col-10">
                            <div class="input-group">
                              <input type="text" class="form-control" value="0" aria-describedby="basic-addon4"[(ngModel)]="bchBalance" [ngModelOptions]="{standalone: true}" readonly>
                              <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon4"><i class="cc BCH-alt"></i></span>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="col-12 col-md-2">
                        <fieldset class="col-12">
                          <p class="mb-0 text-center font-medium-5">=</p>
                        </fieldset>
                      </div>
                      <div class="col-12 col-md-5">
                        <div class="form-group row">
                          <label class="col-2 label-control" for="projectinput2">USD</label>
                          <fieldset class="col-10">
                            <div class="input-group">
                              <input type="text" class="form-control" value="0" aria-describedby="basic-addon4"[(ngModel)]="bchtousd" [ngModelOptions]="{standalone: true}" readonly>
                              <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon4">$</span>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                
                <p class="font-italic mx-1 mb-2" translate><span translate>Equivalent Alphax</span> {{bchtoalphax | number:'1.8-8'}} AX</p>
                <p class="font-italic mx-1 mb-2" style="color: red" translate><span translate>* Minimum buy in private pre sale round is</span> {{slabValue | number:'1.2-2'}} USD</p>
                <h6 class="mx-1" translate>4 step guide</h6>
                <ol>
                  <li translate>Deposit bitcoin cash in the above displayed bitcoin cash address.</li>
                  <li translate><span translate>Make sure you deposit BCH worth more than</span> {{slabValue | number:'1.2-2'}} USD.</li>
                  <li translate>Upon transaction confirmation, you will see the sent BCH in your account.</li>
                  <li translate><span translate>Once your BCH balance is more than</span> {{slabValue | number:'1.2-2'}} USD,<span>&nbsp;</span><span translate>you can Buy Alpha-X with</span><span>&nbsp;</span><b style="color: #e76a35;" translate>Buy Now</b><span>&nbsp;</span><span translate>button</span></li>
                  <!-- <li translate>For purchasing Alpha-X, KYC is mandatory</li> -->

                </ol>
                                              
                <div class="col-md-12" style="text-align: center;">
                    <button type="button" class="btn btn-warning round mr-1 mb-0" data-dismiss="modal" translate>Cancel</button>
                    <button *ngIf = "!buystatus || !bchstatus"type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" disabled translate>Buy Now</button>
                   <button  *ngIf = "bchstatus && buystatus" type="button" class="btn btn-warning round mr-1 mb-0" (click)="buyBCH()" translate>Buy Now</button>
                   <!-- <button *ngIf = "" type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" disabled translate>Buy Now</button> -->

                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="purchaseLTCModalLabel" tabindex="-1" role="dialog" aria-labelledby="purchaseETHModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="purchaseModalLabel" translate>Buy with Litecoin</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-md-2 col-12 d-none d-md-block">
                            <div class="crypto-circle rounded-circle">
                              <i class="cc LTC-alt"></i>
                            </div>
                          </div>
                          <div class="col-md-7 col-12">
                            <p><strong>Litecoin</strong></p>
                            <h5 style="text-transform: none; word-break: break-all;">{{ltcData}}</h5>
                            <button ngxClipboard [cbContent]="ltcData" type="button" class="btn btn-warning round mr-1 mb-0" (click)="arertcopy()" translate>Copy</button>
                          </div>
                          <div class="col-md-3 col-12 d-none d-md-block">
                              <img _ngcontent-c22="" style="width: 65%; margin-left: 10px;" class="image eth" src="https://api.qrserver.com/v1/create-qr-code/?data={{ltcData}}&size=100x100">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <form class="form form-horizontal mt-2 mx-2">
                    <div class="form-body">
                      <div class="row">
                        <div class="col-12 col-md-5">
                          <div class="form-group row">
                            <label class="col-2 label-control" for="projectinput1">LTC</label>
                            <fieldset class="col-10">
                              <div class="input-group">
                                <input type="text" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="ltcBalance" [ngModelOptions]="{standalone: true}" readonly>
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon4"><i class="cc LTC-alt"></i></span>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                        <div class="col-12 col-md-2">
                          <fieldset class="col-12">
                            <p class="mb-0 text-center font-medium-5">=</p>
                          </fieldset>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="form-group row">
                            <label class="col-2 label-control" for="projectinput2">USD</label>
                            <fieldset class="col-10">
                              <div class="input-group">
                                <input type="text" class="form-control" value="0" aria-describedby="basic-addon4" [(ngModel)]="ltctousd" [ngModelOptions]="{standalone: true}" readonly>
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon4">$</span>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <p class="font-italic mx-1 mb-2" translate><span translate>Equivalent Alphax</span> {{ltctoalphax | number:'1.8-8'}} AX</p>
                  <p class="font-italic mx-1 mb-2" style="color: red" translate><span translate>* Minimum buy in private pre sale round is</span> {{slabValue}} USD</p>
              <h6 class="mx-1" translate>4 step guide</h6>
              <ol>
                <li translate>Deposit Litecoins in the above displayed Litecoin address.</li>
                <li translate><span translate>Make sure you deposit LTC worth more than</span> {{slabValue | number:'1.2-2'}} USD.</li>
                <li translate>Upon transaction confirmation, you will see the sent LTC in your account.</li>
                <li translate><span translate>Once your LTC balance is more than</span> {{slabValue | number:'1.2-2'}} USD,<span>&nbsp;</span><span translate>you can Buy Alpha-X with</span><span>&nbsp;</span><b style="color: #e76a35;" translate>Buy Now</b><span>&nbsp;</span><span translate>button</span></li>
                <!-- <li translate>For purchasing Alpha-X, KYC is mandatory</li> -->

              </ol>
                              
<div  class="col-md-12" style="text-align: center;">
    <button type="button" class="btn btn-warning round mr-1 mb-0" data-dismiss="modal" translate>Cancel</button>

    <button *ngIf = "!buystatus ||  !ltcstatus"type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" (click)="buyLTC()" disabled translate>Buy Now</button>
    <button *ngIf = "ltcstatus && buystatus"type="button" class="btn btn-warning round mr-1 mb-0" (click)="buyLTC()" translate>Buy Now</button>
    <!-- <button *ngIf = "" type="button" class="btn btn-warning round mr-1 mb-0" style="cursor: not-allowed" disabled translate>Buy Now</button> -->

  </div>
  

                </div>
              </div>
            </div>
          </div>
      <!--/ Purchase with ETH Modal -->

      <!-- Purchase with USDT Modal -->
     
      <!--/ Purchase with USDT Modal -->
    </div>
  </div>
  <div class="sidebar-detached sidebar-right">
    <div class="sidebar">
      <div class="sidebar-content">
          <div class="card">
              <div class="card-header">
                <h6 class="card-title text-center" translate>News</h6>
              </div>
              <div class="card-content collapse show">
                <div class="card-body" style="padding-bottom: 0;"> 
                    <!-- <marquee *ngFor="let n of news" 
                              direction = "up" 
                              scrollamount="3" 
                              onmouseover="this.stop();" 
                              onmouseout="this.start();">
                     
                              <div class="row">
                                <div class="row">
                                  <div class="col-12">{{n.headLine}}</div>
                                </div>
                                <div class="row">
                                  <div class="col-12">{{n.newsText}}</div>
                                </div>
                              </div>                   
                     </marquee> -->
                     <div *ngFor="let n of news | slice:0:3;">
                        <!-- <ul > -->
                          
                              <div class="row">
                                  <!-- <div class="row"> -->
                                    <div class="col-4" style="padding-right: 0;">
                                      {{n.createdAt | date: 'dd-MMM-yy'}}
                                    </div>
                                    <div class="col-8"><a routerLink="/news">{{n.headLine}}</a></div>
                                  <!-- </div> -->
                                  <hr>
                                  <!-- <div class="row">
                                    <div class="col-12">Description :{{n.newsText}}</div>
                                  </div> -->
                                </div> 
                                <hr>
                          
                          
                        <!-- </ul> -->
                      </div>
                </div>
                <div class="card-footer" style="text-align: center;"><a routerLink="/news">View More</a></div> 
              </div>
            </div>
        <!-- Private Pre sale -->
        <div class="card">
          <div class="card-header">
            <h6 class="card-title text-center" translate>Private Pre sale</h6>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
                <h6 class="card-title text-center" style="font-size: 1rem;text-transform: none;">{{startdate }} To {{enddate}}</h6> 

              <div class="font-small-4 clearfix">
                <div id="container">
                <div class="content">
                    <!-- <h3 style="font-size: 16px; color: #d2d5d8;" translate>Private Pre Sale ends on</h3>
                    <h3 style="font-size: 18px; color: #fff;" translate>October 31, 2018</h3> -->
                    <div class="days">{{day}}</div>
                    <div class="hours">{{hrs}}</div>
                    <div class="minutes">{{min}}</div>
                    <div class="seconds">{{sec}}</div>
                  </div>
                  <div class="title">
                    <span>Days</span>
                    <span>Hrs</span>
                    <span>Mins</span>
                    <span>Secs</span>
                  </div>
                  <h3 style="font-size: 18px; color: #e96f20" translate>50% Discount</h3>
                 
        <!-- </div> -->
</div>
                 <!-- <span class="float-left">{{tokensold}}</span> 
               <span class="float-right">{{totaltoken}}</span> -->
              </div>
              <div class="progress progress-sm my-1 box-shadow-2">
                <div class="progress-bar bg-warning setValue" role="progressbar" [ngStyle]="{'width': percentage +'%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div> 
              <!-- <ion-range-slider #sliderElement
          type="single"
          [min]="0".
          max="30"
        
          from="{{tokensold}}"
          from_shadow="true"
          to_shadow="true"
          grid="false"
          decorate_both="false"
          disable = "true"
          block = "false">
        </ion-range-slider> -->
              <div class="font-small-3 clearfix">
                <span class="float-left" translate>Distributed</span><br> <span><strong>{{tokensold | number: '1.8-8' }} AX</strong></span>
                <!-- <span class="float-right text-right">Contributed <br> <strong>5478 ETH | 80 BTC</strong></span> -->
              </div>
              <h6 class="card-title text-center float-right" style="font-size: 1rem; text-transform: none;"> min buy - {{slabValue}} USD</h6>
            </div>
          </div>
        </div>
        <!--/ Private Pre sale -->

        <!-- Private Pre sale -->
        <div class="card">
          <div class="card-header">
            <h6 class="card-title text-center" translate>Calculator</h6>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <form class="form form-horizontal">
                <div class="form-body">
                  <div class="form-group row">
                    <fieldset class="col-12">
                       <div class="input-group">
                        <input type="number" class="form-control" placeholder="Value" name="USD" aria-describedby="basic-addon4" [(ngModel)]="calvalue" [ngModelOptions]="{standalone: true}"(blur)="calculator($event.target.value, selectedCurrency)">
                        <div class="input-group-append">
                            <select class="form-control" style="height: 100%;" (change)="calculator(calvalue,$event.target.value)">
                                <option [selected]="selectedCurrency === 'BTC'" value="BTC">BTC</option>
                                <option  value="ETH">ETH</option>
                                <option  value="BCH">BCH</option>
                                <option  value="LTC">LTC</option>
                              </select>
                        </div>
                      </div> 
                      

                       
                    </fieldset>
                  </div>
               
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <!-- <span class="input-group-text"></span> -->
                      </div>
                      <input type="text" class="form-control" placeholder="USD Amount" aria-describedby="basic-addon4" [(ngModel)]="calUSD" [ngModelOptions]="{standalone: true}">
                      <div class="input-group-append">
                          <span class="input-group-text">$</span>
                        </div>
                    </div>
                  <div class="form-group row">
                    <fieldset class="col-12">
                      <p class="mb-0">=</p>
                    </fieldset>
                  </div>
                  <div class="form-group row">
                    <fieldset class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="AX" aria-describedby="basic-addon4" [(ngModel)]="calAx" [ngModelOptions]="{standalone: true}">
                        <div class="input-group-append">
                            <span class="input-group-text">AX</span>
                          </div>
                      </div>
                     
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--/ Private Pre sale -->
</div>
</div>
</div>
</div>





