<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alpha-X | Contact Us</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="/assets/website/css/style.css" rel="stylesheet">
  
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <!-- <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>
      <nav id="nav-menu" style="float: right; margin-right: 25%;">
        <ul class="nav-menu">
            <li class="menu-has-children">
                <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                  <i id="myDIV" class="flag-icon flag-icon-gb"></i>
                </a>
                <ul> 
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                      <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ch','HOME_chineese')">
                      <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('fr','HOME_french')">
                      <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ger','HOME_german')">
                      <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('rus','HOME_russian')">
                      <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ita','HOME_italian')">
                      <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('spa', 'HOME_spanish')">
                      <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
                  </li>
                </ul>
              </li>
          </ul>
          </nav>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a [routerLink]="['/home']" translate>Home</a></li>
          <li > <a href="#" translate>About Us</a></li>
          <li > <a href="#" translate>Features</a></li>
          <li ><a href="#" translate>Roadmap</a></li>
          <li><a [routerLink]="['/team']" translate>Team</a></li>
          <li><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li class="menu-active"><a [routerLink]="['/contactus']" translate>Contact us</a></li>
		  <li><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav>
    </div>
  </header> -->
<!--header -->
<header id="header">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

          <div class="logo">
            <a href="/index.html">
              <img src="assets/newwebsite/img/logo.png" />
            </a>
          </div>
          <div class="lang-menu">
            <div class="language">
              <a _ngcontent-c5="" class="sf-with-ul"><i _ngcontent-c5="" class="flag-icon flag-icon-gb" id="myDIV"></i></a>
              <ul _ngcontent-c5="">
                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp;
                    English</a></li>
                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp;
                    Chinese</a></li>
                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp;
                    French</a></li>
                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-de"></i>&nbsp;&nbsp;
                    German</a></li>
                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-me"></i>&nbsp;&nbsp;
                    Russian</a></li>
                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-it"></i>&nbsp;&nbsp;
                    Italian</a></li>
                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-es"></i>&nbsp;&nbsp;
                    Spanish</a></li>
              </ul>
            </div>
            <span onclick="openNav()" class="menu-icon"><img src="assets/newwebsite/img/menu-icon.png" /></span>

            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="#section">Home</a>
              <a href="#problem-solution">About Us</a>
              <a href="#unique-section">Features</a>
              <a href="#roadmap">Roadmap</a>
              <a routerLink="/team">Team</a>
              <a routerLink="/webfaq">Faq</a>
              <a routerLink="/contactus">Contact Us</a>
              <a routerLink="/login">Login</a>

            </div>


          </div>
        </div>
      </div>
    </div>

  </header>
  <!--header -->
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;
  padding-top: 10%;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		        <div class="col-lg-12 col-md-10">
                    <h2 style="text-align: left;" translate>CONTACT US</h2>
                    <p translate>SEND US YOUR REQUEST</p>
				    <img src="/assets/website/img/oline.jpg">
				</div>
            </div>
    </div>
    </div>
  </section><!-- #intro -->

  <main id="main" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;">

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">

        <div class="section-header">
          <p style="font-size: 18px;" translate>Here you can contact us at any time, we will answer your questions between one and three working days. Please send your message only in English!</p>
        </div>

        

        <div class="form">
          <div id="sendmessage" translate>Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="fname" placeholder="First Name" data-rule="minlen:4" data-msg="Please enter at least 10 chars" style="background: transparent;border: 1px solid #28313a;" [(ngModel)]="fname" [ngModelOptions]="{standalone: true}">
                <div class="validation"></div>
              </div>
				
			 <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="lname" placeholder="Last Name" data-rule="minlen:4" data-msg="Please enter at least 10 chars" style="background: transparent;border: 1px solid #28313a;" [(ngModel)]="lname" [ngModelOptions]="{standalone: true}">
                <div class="validation"></div>
              </div>	
				
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" style="background: transparent;border: 1px solid #28313a;" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <div class="validation"></div>
              </div>
				
			 <div class="form-group col-md-6">
                <input type="phone" class="form-control" name="phone" id="phone" placeholder="Mobile Number" data-rule="phone" data-msg="Please enter your Mobile No" style="background: transparent;border: 1px solid #28313a;" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                <div class="validation"></div>
              </div>
            </div>
            
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" style="background: transparent;border: 1px solid #28313a;" [(ngModel)]="msg" [ngModelOptions]="{standalone: true}"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-right"><button type="submit" (click)="getcontactus()" translate>SEND MESSAGE</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

    
  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
      <footer id="footer">
       
        <div class="footer-top">
          <div class="container">
            <div class="row">
                
              <div class="col-lg-3 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                <p translate>AlphaX is an entirely new generation cryptocurrency based on Scrypt using a complete Proof Of Stake (POS) network.</p>
              </div>
    
             
                  <div class="col-lg-3 col-md-6 footer-info" style="color
                  :#6d6e72">
                      <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                      <!-- <a translate>Legal Opinion </a><br> -->
                      <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                            <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                            <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                            <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                            <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                            <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>
                          </div>
             
    
              <div class="col-lg-3 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                <p title="Coming Soon" translate>QT-Wallet</p>
                <p title="Coming Soon" translate>Mobile Payment</p>
                <p title="Coming Soon" translate>Exchange</p>
                <p title="Coming Soon" translate>E-Commerce Platform</p>
              </div>
              <!-- <div class="col-lg-3 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>Social Links</h5>
                  <div id="soc">
                      <a href="https://alphax-dev.slack.com/messages" target="_blank" style="background:#e9a820;color:white"class="fa fa-slack circle"></a>
                      <a href="https://www.pinterest.com/alphax0113" target="_blank" style="background: #c8232c;color:white"class="fa fa-pinterest circle"></a>
                      <a href="https://plus.google.com/u/1/104456778950569905138" target="_blank" style="background: #d34836;color:white" class="fa fa-google-plus circle"></a>
                      <a href="https://www.facebook.com/alphaxofficialsupport" target="_blank" style="background-color: #3B5998; color: #fff;" class="fa fa-facebook"></a>
                      <a href="https://twitter.com/alphax_official" target="_blank" style="background-color: #1dcaff; color: #fff;" class="fa fa-twitter"></a>
                      <a href="https://medium.com/@office.alphax" target="_blank" style="background-color: #00ab6c; color: #fff;" class="fa fa-medium"></a><br>
                      <a href="https://web.telegram.org/#/im?p=@alphax_official/" style="background-color: #0088cc; color: #fff;"  target="_blank" class="fa fa-telegram"></a>
                      <a href="https://www.reddit.com/user/AlphaX2807/posts/" style="background-color: #ff4500; color: #fff;" target="_blank" class="fa fa-reddit"></a>
                      <a href="https://vk.com/public172333507" target="_blank" style="background-color: #45668e; color: #fff;" class="fa fa-vk"></a>
                      <a href="https://www.instagram.com/alphax_admin/" style="background-color: #fb3958; color: #fff;" target="_blank" class="fa fa-instagram"></a>
                      <a href="https://bitcointalk.org/index.php?topic=5028888.80" target="_blank" style="background-color: #f7931a; color: #fff;" class="fa fa-btc"></a>
                    </div>
                    </div> -->
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <h4>SOCIAL <span>LINKS</span></h4>
                        <ul class="footer-social">
                          <li><a href="https://alphax-dev.slack.com/?redir=%2Fmessages" target="_blank"><img src="assets/newwebsite/img/s1.png" /></a></li>
                          <li><a href="https://www.pinterest.com/alphax0113/" target="_blank"><img src="assets/newwebsite/img/s2.png" /></a></li>
                          <li><a href="https://plus.google.com/104456778950569905138" target="_blank"><img src="assets/newwebsite/img/s3.png" /></a></li>
                          <li><a href="https://www.facebook.com/alphaxofficialsupport" target="_blank"><img src="assets/newwebsite/img/s4.png" /></a></li>
                          <li><a href="https://twitter.com/alphax_official" target="_blank"><img src="assets/newwebsite/img/s5.png" /></a></li>
                          <li><a href="https://medium.com/@office.alphax" target="_blank"><img src="assets/newwebsite/img/s6.png" /></a></li>
                          <li><a href="https://web.telegram.org/#/login" target="_blank"><img src="assets/newwebsite/img/s7.png" /></a></li>
                          <li><a href="https://www.reddit.com/user/AlphaX2807/posts/" target="_blank"><img src="assets/newwebsite/img/s8.png" /></a></li>
                          <li><a href="https://vk.com/public172333507" target="_blank"><img src="assets/newwebsite/img/s9.png" /></a></li>
                          <li><a href="https://www.instagram.com/alphax_admin/" target="_blank"><img src="assets/newwebsite/img/s10.png" /></a></li>
                          <li><a href="https://bitcointalk.org/index.php?topic=5028888.80" target="_blank"><img src="assets/newwebsite/img/s11.png" /></a></li>
                        </ul>
                      </div>
            </div>
          </div>
        </div>
        <hr style="background: #363535; width: 85%;">
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center-md">
                <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X - Asaex IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
              </div>
              <div class="col-lg-4"></div>
              <!-- <div class="col-lg-8 text-right text-center-md">
                    <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                    
                  </ul>
                    
                  </div> -->
            </div>
          </div>
        </div>
      </footer>
      </div>
  <!-- #footer -->


  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>