<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title >Alpha-X | FAQ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/website/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/website/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/website/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="/assets/website/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="/assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a [routerLink]="['/home']" translate>Home</a></li>
          <li > <a href="#" translate>About Us</a></li>
          <li > <a href="#" translate>Features</a></li>
          <li ><a href="#" translate>Token</a></li>
          <li ><a href="#" translate>Roadmap</a></li>
         <!-- <li ><a [routerLink]="['/team']">Team</a></li>  -->
          <li class="menu-active" ><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li ><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          <li class="menu-has-children">

            <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
              <i id="myDIV" class="flag-icon flag-icon-gb"></i>
              <!-- <i [ngClass]="{ 'flag-icon flag-icon-gb':is_English==true, 
                              'flag-icon flag-icon-cn':is_Chinese==true, 
                              'flag-icon flag-icon-fr':is_France==true,
                              'flag-icon flag-icon-ger':is_German==true,
                              'flag-icon flag-icon-rus':is_Russian==true,
                              'flag-icon flag-icon-ita':is_Italian==true,
                              'flag-icon flag-icon-spa':is_Spanish==true
                            }"></i> -->
            </a>
            <ul>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('en','FAQ_english')">
                  <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ch','FAQ_chineese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('fr','FAQ_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ger','FAQ_german')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('rus','FAQ_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ita','FAQ_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('spa', 'FAQ_spanish')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
              </li>
            </ul>
          </li>
		  <li ><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('/assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
              <br><br><br><br><br><br><br><br><br>
                <h2 translate>LEGAL INFORMATION</h2>
                
				<img src="/assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      FAQ Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">

        <div class="section-header">
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>

        	<div class="row">
		<div class="col-md-12">
        <p style="font-size: 16px;">
                  
            <br><br>This is in response and with reference to your request in which you asked us to review the
            whitepaper of Alpha-X and to assist you as to whether the Alpha-X Coin (“AX”) issued
            under the Alpha-X Network are utility or security coins.<br>
            At the outset, it is pertinent to mention that in most of the countries the regulations regarding
            cryptocurrency based platforms are still underway and as such there are no black and white
            rules to determine if a particular kind of coin/token is utility or not. It should also be noticed
            that the legal analysis herein may be updated in the future as the law in this area develops.
            Furthermore, the below analysis is strictly theoretical, as no cases, that we are aware of, which
            are relevant to the subject matter, have been tested yet in courts to date.<br>
            We would like to confirm that we have reviewed the whitepaper of Alpha-X. After having
            thoroughly reviewed the said whitepaper, we have come to the following conclusion with
            regards to AX.
                            </p>
                                <div class="pxlr-club-faq">
									<!-- <h3 style="color: #e96f20; font-weight: 700;">MOBILE WALLET</h3> -->
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingOne" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseOne"
                                                           aria-expanded="false" aria-controls="collapseOne" style="color: #97999b;" translate>The Company<i class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"
                                                     aria-labelledby="headingOne">
                                                    <div class="panel-body pxlr-faq-body"><p style="font-size: 16px;" translate>We note that your company is registered under the name “Asaex IT Solutions Inc.” (hereunder
                                                      aggregately referred to as the “Company”). According to the information you have provided
                                                      us, the Company is developing the Alpha-X which is a “blockchain based money related stage
                                                      and computerized resource converter connect with implicit digital money for instalments of
                                                      charges, execution of brilliant contracts and extra usefulness.” <br>
                                                      We further note “Alpha-X is an entirely new generation cryptocurrency based on X13
                                                      algorithm having complete Proof Of Stake (POS) network. The transactions made over Alpha-
                                                      X blockchain network are instant, anonymous, private, and very secure.” According to you the
                                                      motive behind this project is to make it as good as virtual cash (plastic cards) which can provide
                                                      real time liquidity and utility proposition in the market. Some of the key features of Alpha-X
                                                      as noted in the Whitepaper include complete anonymity, advanced security, low fee,
                                                      decentralized governance, P2P Network.
                                                    </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingTwo" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo" style="color: #97999b;" translate>Types of Tokens<i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
                                                     aria-labelledby="headingTwo">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>There are generally three types of tokens issued through ICOs namely Equity tokens, Security
                                                          tokens and Utility tokens.<br>
                                                          <b>Equity Tokens</b> represent ownership of an asset, such as debt or company stock. By employing
                                                          blockchain technology and smart contracts, a startup could forgo a traditional initial public
                                                          offering (IPO) and instead issue shares and voting rights over the blockchain.<br>
                                                          <b>Security Tokens</b> on the other hand are promises for future profit. Security tokens refer to any
                                                          kind of tradable asset. This kind of token is a digital asset, the purchase of which entitles the
                                                          owner with number of rights which is similar to securities such as stocks or bonds. There are
                                                          three major characteristics for an instrument to be deemed as a security: Voting rights in a
                                                          general assembly or pertaining to important decisions of an entity, profit sharing such as distributions, and/or a right to claim against the Company to redeem the instrument in exchange
                                                          for a value.<br>
                                                          Therefore, a security token, for example, might offer voting rights in the issuing entity, or rights
                                                          in the profits of the issuing entity (or both). The issuing entity might also promise to redeem
                                                          the tokens’ value when there will be enough capital do to so. These are but examples of rights
                                                          attached to such tokens, which can be deemed by many jurisdictions throughout the planet to
                                                          be as securities per se, which therefore require to be compliant with the securities laws and
                                                          regulations. In the United States, security token sales and investments are subject to Securities
                                                          and Exchange Commission (SEC) securities regulations.<br>
                                                          The US Supreme Court in SEC v. Howey 1 established the guidelines for whether a financial
                                                          arrangement involved an investment contract and was subject to securities regulations.
                                                          According to the Howey Test, an arrangement is a security if it involves “an investment of
                                                          money and a common enterprise with the expectation of profit, primarily from the efforts of
                                                          others.” Some simple guidelines to determine if the token is a security are as follows:
                                                          i)
                                                          Ownership interest in a legal entity
                                                          ii)
                                                          Equity interest
                                                          iii)
                                                          Share of profits and assets
                                                          iv)
                                                          Status as a creditor or lender
                                                          v)
                                                          A token that can be converted into a security token
                                                          <br>
                                                          <b>Utility Tokens</b> are tokens which do not meet any of the requirements of the Howey test. Utility
                                                            tokens, which may also be called app coins or app tokens, provide users with access to a product
                                                            or service. This kind of token is basically a contract for provision of goods or services, to be
                                                          redeemed by the token holder, once or continuously. The utility token has an actual underlying
                                                          contractual right. Therefore, its value is determined by the value of the underlying right
                                                              attached to it.
                                                          Following are some of the factors to determine if a token is not a security token:
                                                              i)
                                                              Develops features for a blockchain or to mine
                                                                ii)
                                                        Use the blockchain and its outputs
                                                          iii)
                                                    Contribute efforts to the blockchain
                                                          iv)
                                                              Sell the products of the blockchain
                                                              v)
                                                        Vote on features and functionality of blockchain

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingThree" role="tab">
                                                    <h4 class="panel-title">
														<a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseThree"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseThree" style="color: #97999b;" translate>Introduction to the HOWEY Test<i class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseThree" role="tabpanel"
                                                     aria-labelledby="headingThree">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p style="font-size: 16px;" translate>The HOWEY Test is used as a benchmark to determine whether or not an investment (in the
                                                          form of a token/coin) is a security. For instance, if an investment meets all four conditions of
                                                          the HOWEY Test it will be considered as a security. However, in case if a particular investment
                                                          fails to pass the HOWEY Test, the investment (Token/coin) will be considered as a Utility
                                                          Token.<br>
                                                          The Howey test is used to determine whether an instrument qualifies as an "investment
                                                          contract" for the purposes of the Securities Act: "a contract, transaction or scheme whereby a
                                                          person invests his money in a common enterprise and is led to expect profits solely from the
                                                          efforts of the promoter or a third party.”<br>
                                                          In other words, an investment contract for purposes of the Securities Act means a contract,
                                                          transaction or scheme, whereby, a person invests his money in a common enterprise and is led
                                                          to expect profits solely from the efforts of the promoter or a third party, it being immaterial
                                                          whether the shares in the enterprise are evidenced by formal certificates or by nominal interests
                                                          in the physical assets employed in the enterprise.<br>
                                                          The test is whether the scheme involves an investment of money in a common enterprise with
                                                          profits to come solely from the efforts of others.<br>
                                                          An instrument will be treated as a security if all the following are present:
                                                          i)
                                                        Investment of Money
                                                        ii)
                                                        Common Enterprise
                                                        iii)
                                                        Expectation of Profit
                                                        iv)
                                                        Through the Efforts of the Promotors
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                    <div class="panel-heading" id="headingFour" role="tab">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button"
                                                                                   data-toggle="collapse"
                                                                                   data-parent="#accordion"
                                                                                   href="#collapseFour"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="collapseThree" style="color: #97999b;" translate>Analysis of the US Security Laws and the Howey Test<i
                                                                        class="pull-right fa fa-plus"></i></a></h4>
                                                    </div>
                                                    <div class="panel-collapse collapse" id="collapseFour" role="tabpanel"
                                                         aria-labelledby="headingFour">
                                                        <div class="panel-body pxlr-faq-body">
                                                            <p style="font-size: 16px;" translate>In the U.S, issuing, offering, or selling unregistered securities will be a violation of Section 5
                                                              of the Securities Act of 1933, and the issuer can face 5 years of prison. Furthermore, investors
                                                              may initiate lawsuits under Section 5 and Section 12(a)(1) of the Securities Act of 1933 (or 15
                                                              U.S. Code § 77e and § 77l (a)(1)) for damages of selling non-exempted security without
                                                              registering it. Moreover, the Securities Exchange Act of 1934 gives powers in section 10(b) to
                                                              federally regulate fraudulent security practices, wherein regulation 17 C.F.R. 240.10b-5 (c)
                                                              gives investors the right to sue any issuer for fraud or deceit. It should be noted that similar
                                                              laws apply in many other jurisdictions.<br>
                                                              The Securities and Exchange Commission (hereinafter, the “SEC”), has issued the “Report of
                                                              Investigation Pursuant to Section 21(a) of the Securities Exchange Act of 1934: The DAO”
                                                              (Release No. 81207 / July 25, 2017) wherein a few fundamentals were promulgated. Firstly,
                                                              SEC has stated that the existing federal securities laws are sufficient to tackle the token
                                                              issuance.<br>
                                                              Secondly, and more importantly, the SEC has pointed out that not all tokens are securities, and
                                                              that such classification shall be determined on a case-by-case basis. In order to define a token
                                                              as a security, the SEC has stated that “Howey Test” shall be applied, which indeed was applied
                                                              by the SEC in that particular DAO project token issuance SEC investigation on which its report
                                                              was written. Finally, the SEC has treated DAO, an unincorporated, non-resident, virtual
                                                              organization, definitely not situated in the U.S, as an entity for which the Securities laws also
                                                            apply to, and by reference applying the U.S laws to whomever offers or sells securities to U.S
                                                            persons, no matter in which jurisdiction the issuing entity is incorporated and/or located.
                                                            <br>
                                                            <b>a. Form Over Substance</b>
                                                            Firstly, determining whether a transaction involves a security does not turn on labelling; if we
                                                            say a particular token is a utility token, it does not make the issued token a utility token.
                                                            Secondly, even if a token has a practical utility use, it does not necessarily preclude the token
                                                            from being a security – but instead requires an assessment of “the economic realities underlying
                                                            a transaction.” <b>(United Housing Found., Inc. v. Forman, 421 U.S. 837, 849 (1975) (the
                                                            “Forman” Case)).</b>
                                                            The “test . . . is what character the instrument is given in commerce by the terms of the
                                                            offer, the plan of distribution, and the economic inducements held out to the prospect”
                                                            (SEC v. C.M. Joiner Leasing Corp., 320 U.S. 344, 352-53 (1943))
                                                            <br>
                                                           <b> b. Is Alpha-X Coin (AX) Utility or Security Token/Coin under the US Securities
                                                            Laws and Regulations?</b>
                                                            Securities must be registered per Section 5 of the Securities Act of 1933 as stated hereinabove.
Of course, that instrument which is not security need not to be registered. Therefore, one must
first examine the definition of Security:<br>
“(a) Definitions - When used in this subchapter, unless the context otherwise requires—
(1) The term “security” means any note, stock, treasury stock, security future, security-
based swap, bond, debenture, evidence of indebtedness, certificate of interest or
participation in any profit-sharing agreement, collateral trust certificate,
preorganization certificate or subscription, transferable share, investment contract,
voting-trust certificate, certificate of deposit for a security, fractional undivided interest
in oil, gas, or other mineral rights, any put, call, straddle, option, or privilege on any
security, certificate of deposit, or group or index of securities (including any interest
therein or based on the value thereof), or any put, call, straddle, option, or privilege
entered into on a national securities exchange relating to foreign currency, or, in
general, any interest or instrument commonly known as a “security”, or any certificate
of interest or participation in, temporary or interim certificate for, receipt for,
guarantee of, or warrant or right to subscribe to or purchase, any of the foregoing.”
15 U.S. Code § 77b<br>
Similarly, the Securities Exchange Act of 1934 defines a security, in the following fashion:
“The term ‘‘security’’ means any note, stock, treasury stock, security future, security-
based swap, bond, debenture, certificate of interest or participation in any profit-
sharing agreement or in any oil, gas, or other mineral royalty or lease, any collateral-
trust certificate, preorganization certificate or subscription, transferable share,
investment contract, voting trust certificate, certificate of deposit for a security, any
put, call, straddle, option, or privilege on any security, certificate of deposit, or group
or index of securities (including any interest therein or based on the value thereof), or
any put, call, straddle, option, or privilege entered into on a national securities
exchange relating to foreign currency, or in general, any instrument commonly known
as a ‘‘security’’; or any certificate of interest or participation in, temporary or interim
certificate for, receipt for, or warrant or right to subscribe to or purchase, any of the
foregoing; but shall not include currency or any note, draft, bill of exchange, or
banker’s acceptance which has a maturity at the time of issuance of not exceeding nine
months, exclusive of days of grace, or any renewal thereof the maturity of which is
likewise limited.” Section 3(a)(10) of the Securities Exchange Act of 1934.<br>
The U.S Supreme Court has stated that the term “investment contract” in these two definitions
is treated as being the same (SEC v. Edwards, 540 U.S. 398 (2004)). So, we can see that the
U.S term “security” includes also an “investment contract”. An investment contract is an
"investment of money in a common enterprise with a reasonable expectation of profits to be
derived from the entrepreneurial or managerial efforts of others." (see SEC v. Edwards, 540 U.S. 389, 393 (2004); SEC v. W.J. Howey Co., 328 U.S. 293, 301 (1946); see also the Forman
case, at 852-853) (in this work, the “Howey Test”).<br>
In order to become a Security Token there are four conditions that AX needs to meet. If it
doesn’t meet any of these conditions, it will fall under the category of UTILITY TOKEN. To
be accurate, the Howey Test requires that the profits will be made solely from the efforts of
others:
“... an investment contract for purposes of the Securities Act means a contract,
transaction or scheme whereby a person invests his money in a common enterprise and
is led to expect profits solely from the efforts of the promoter or a third party.... Such a
definition...permits the fulfillment of the statutory purpose of compelling full and fair
disclosure relative to the issuance of the many types of instruments that in our
commercial world fall within the ordinary concept of a security.... It embodies a flexible
rather than a static principle, one that is capable of adaptation to meet the countless
and variable schemes devised by those who seek the use of the money of others on the
promise of profits.” (SEC v. W.J. Howey Co., 328 U.S. 293 (1946))<br>
Below is the application of HOWEY TEST on AX:<br>
<b>i)
  Investment of Money</b>
  The AX are being purchased by the public with actual money or cryptocurrency such as
Bitcoin or other crypto currency. The cryptocurrency based Bitcoin is not money per se, but on
August 6th 2013, the U.S. District Court for the Eastern District of Texas held that Bitcoin is
within the definition of “money” for purposes of the rules governing investment contracts –
Bitcoin can purchase goods or services, and can be exchanged for conventional government-
backed currencies (SEC v. Shavers, No. 4:13-CV-416, 2013 WL 4028182, (E.D. Tex. 2013),
reconsideration aff’d, No. 4:13-CV-416, 2014 WL 12622292 (E.D. Tex. 2014).<br>
In your case, the Company will receive money or cryptocurrency in exchange for the token.
Therefore, this condition is met. The members of the Alpha-X Network will be investing their
money through for purchase of the token.<br>
ii)
Common Enterprise
There are two sub-tests for the “Common Enterprise” prong – the horizontal commonality test,
and the vertical commonality test, which is being divided into the narrow vertical and the broad
vertical. The U.S courts have applied these two test alternately. The horizontal commonality
test, which is the more common test, requires the pooling of assets from multiple investors so
that all will share in the profits and risks of the enterprise. i.e., the profits of each investor are
similar to those of the other investors.<br>
Both vertical commonality tests require that the investor's fortunes will be tied to the
issuer/promoter's success, rather than to the fortunes of its fellow investors; the broad vertical
commonality test requires that the well-being of all investors be dependent upon the
issuer/promoter's expertise. On the other hand, the narrow vertical commonality test requires
that the investors' fortunes be "interwoven with and dependent upon the efforts and success of
those seeking the investment ... of third parties" (SEC v. SG Ltd., 265 F.3d 42, sec. 31-35 (1st
Cir. 2001)).<br>As for the horizontal commonality test, the AX are sold and the funds raised are being pooled
together. Nevertheless, there is also the requirement for a mutual share in the profits and risks of the enterprise. The second condition of Howey test does meet as Alpha-X is based on a
common enterprise.<br><b>
iii)
Expectation of Profit</b>
This prong does not merely require the token-holders to expect profit, because it seems
unreasonable that someone will purchase a service or a good without taking into account the
probability that the purchased will increase in value. The expectation of profits from a purchase
of any kind of valuable is almost always present. Therefore, it seems that the prong requires
not only that there will be an expectation to profit, which is trivial, but also that the purchase
of that valuable will be primarily motivated by making profits (upon resale for example), rather
than by consuming or using that which was purchased. The personal consumption is a vital part
of considering whether this prong is met or not, wherein it should be examined if the primary
motivation of purchasing the token is to profit upon resale, or to use the underlying rights of
the token. There are several court cases where this differentiation was stipulated, for example
see the Forman Case. Per Forman, it “is an investment where one parts with his money in the
hope of receiving profits from the efforts of others, and not where he purchases a commodity
for personal consumption or living quarters for personal use”.<br>
Upon reviewing our matter, the AX will not only be used as liquid cash to pay through the
Alpha-X Network but there are multiple other purposes that the AX also serves. The AX
will be used in the Alpha-X Ecosystem which consists of Alpha-X Exchange, Alpha-X Mobile
App, Alpha-X Wallet, Alpha-X Debit Card and Alpha-X Marketplace.<br>
Like any kind of valuable, the AX  owner may hold it to a time where the value of the token
in the market will increase, wherein the holder may sell the token with profit. Nevertheless,
since the coins/token provides a real consideration and functionality, it only seems reasonable
(and the token is designed so) that purchasers will use the token’s rights for consumption.
Therefore, for the personal users, this prong’s requirement seems Not to be met.<br>
<b>iv)
Through the Efforts of the Promotors</b>
This prong is based on the fulfillment of the requirement of the previous prong – expectation
of profits. Assuming that prong 3 is met, this prong “from the efforts of others” is examining
the source of the profits - "whether the efforts made by those other than the investor are the
undeniably significant ones, those essential managerial efforts which affect the failure or
success of the enterprise." (the Forman Case; SEC v. Glenn W. Turner Enters., 474 F.2d 476,
sec. 28 (Feb. 1, 1973)).<br>
In your case, the AX is not a tool used to expect profits through efforts of the promotors,
rather it is a tool to get various services on the Alpha-X Network, therefore, the last condition
– profit must be through the efforts of the promotors – is also NOT fulfilled.

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading" id="headingFive" role="tab">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button"
                                                                                       data-toggle="collapse"
                                                                                       data-parent="#accordion"
                                                                                       href="#collapseFive"
                                                                                       aria-expanded="false"
                                                                                       aria-controls="collapseThree" style="color: #97999b;" translate>Conclusion<i class="pull-right fa fa-plus"></i></a></h4>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="collapseFive" role="tabpanel"
                                                             aria-labelledby="headingFive">
                                                            <div class="panel-body pxlr-faq-body">
                                                                <p style="font-size: 16px;" translate>In light of the above, it may be concluded that two out of four conditions of HOWEY TEST
                                                                  have not been fulfilled. Furthermore, the Company does not grant any pecuniary profits to the
                                                                  token holders, nor any rights to claim against the Company to redeem the AX for pecuniary
                                                                  value. Therefore, in light of the available information, we are of the view that the AX will not be categorized as a security token. AX provides actual service to its holders, and therefore
                                                                  its nature fits to the definition of a utility token. Hence, the Alpha-X Coin (AX) falls under
                                                                  the category of Utility Tokens.<br><br>Yours Sincerely,<br><br>Awais Bajwa
                                                                  Attorney at Law<br>
                                                                  </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
    
				
				 <!-- <div class="col-md-6">
                                <div class="pxlr-club-faq"><br><br><br>
									<h3 style="color: #e96f20; font-weight: 700;">CRYPTOCURRENCIES</h3>
                                    <div class="content1">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingSeven" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseSeven"
                                                           aria-expanded="false" aria-controls="collapseSeven" style="color: #97999b;">
                                                            Anonymous user won’t receive
                                                            email private? <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseSeven" role="tabpanel"
                                                     aria-labelledby="headingSeven">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                            aliqua
                                                            put a bird on it esciunt you probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingEight" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseEight"
                                                           aria-expanded="false" aria-controls="collapseEight" style="color: #97999b;"> How to
                                                            have
                                                            an editor like this editor? <i
                                                                    class="pull-right fa fa-plus"></i></a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseEight" role="tabpanel"
                                                     aria-labelledby="headingEight">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. ea proident. Ad vegan
                                                            excepteur butcher vice lomo. Leggings occaecat craft beer
                                                            farm-to-table, raw denim aesthetic synth nesciunt you
                                                            probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" id="headingNine" role="tab">
                                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion"
                                                                               href="#collapseNine" aria-expanded="false"
                                                                               aria-controls="collapseNine" style="color: #97999b;"> Problem
                                                            with Knowledge base Article? <i
                                                                    class="pull-right fa fa-plus"></i></a></h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="collapseNine" role="tabpanel"
                                                     aria-labelledby="headingNine">
                                                    <div class="panel-body pxlr-faq-body">
                                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus terry richardson ad squid. 3 wolf moon officia
                                                            aute,
                                                            non cupidatat skateboard dolor brunch. Food truck quinoa
                                                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                            aliqua
                                                            put a bird on it squid single-origin coffee nulla assumenda
                                                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                            labore
                                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                            excepteur butcher vice lomo. Leggings occaecat craft beer
                                                            farm-to-table, raw denim aesthetic synth nesciunt you
                                                            probably
                                                            haven't heard of them accusamus labore sustainable VHS.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
	                     </div>
		  
		<div class="col-md-3"></div>
		<div class="col-md-6" style="margin: 0 auto; text-align: center;margin-top: 8%;">
		<p style="font-size: 16px; color: #97999b;" translate>YOU DID NOT FIND AN ANSWER FOR YOUR QUESTION?</p>
		<a [routerLink]="['/contactus']" class="btn btn-outline-light" style="margin: 0 auto; color: #e66a20;  border: 1px solid #e66a20;
        padding: 1rem 2rem;" translate>ASK A QUESTION</a>
		</div>
		<div class="col-md-3"></div>
				
		
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
	  <div class="container">
        <div class="row">
			<div class="col-lg-4"></div>
			  <div class="col-lg-4 text-center-md" style="text-align: center;">			<br>
                <a class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; color: #e66a20; border: 1px solid #e66a20; padding: 1rem 2rem;" target="_blank" ng-reflect-target="_blank" ng-reflect-router-link="/login" href="#/login" translate>START NOW</a>
            </div>
			<div class="col-lg-4"></div>
		  </div>
	  </div><br>
	  <hr style="background: #363535; width: 85%;">
    <div class="footer-top">
      <div class="container">
        <div class="row">
				
          <div class="col-lg-4 col-md-6 footer-info">
            <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
            <p translate>Alpha-X is an entirely new generation cryptocurrency based on Scrypt having complete Proof Of Stake (POS) network.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600; padding-top: 2%;">Social Links</h5>
                <div class="social-links">
                  <a href="https://www.facebook.com/alphaxofficialsupport/" target="_blank" class="facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="https://twitter.com/alphax_official" target="_blank" class="twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="https://medium.com/@alphaX" target="_blank" class="medium">
                    <i class="fa fa-medium"></i>
                  </a>
                  <a href="https://web.telegram.org/#/im?p=@alphax_official" target="_blank" class="telegram">
                    <i class="fa fa-telegram"></i>
                   </a> 
                    <a href="https://www.reddit.com/user/AlphaX2807/posts/" target="_blank" class="reddit">
                      <i class="fa fa-reddit"></i>  
                  </a>
                </div>
              </div>
    

          <div class="col-lg-4 col-md-6 footer-info">
            <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
            <p translate><i class="fa fa-angle-double-right"></i>QT-Wallet</p>
			<p translate><i class="fa fa-angle-double-right"></i>Mobile Payment</p>
			<p translate><i class="fa fa-angle-double-right"></i>Exchange</p>  
			<p translate><i class="fa fa-angle-double-right"></i>E-Commerce Platform </p>  
          </div>

          </div>
        </div>
      </div>
    <hr style="background: #363535; width: 85%;">
     <div class="copyrights">
          <div class="container">
            <div class="row">
                    <div class="col-lg-4"></div>        
                    <div class="col-lg-4 text-center-md">
                        <p style="color: #6d6e72; text-align:center;" >&copy; 2018 ALPHA-X IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
                    </div>
                    <div class="col-lg-4"></div> 
              <!-- <div class="col-lg-8 text-right text-center-md">
                <ul class="list-inline">
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                
              </ul>
                
              </div> -->
            </div>
          </div>
        </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/lib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <!-- <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="/assets/website/js/main.js"></script>

</body>
</html>

