<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alpha-X | Meet Our Team</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">



</head>

<body>

  <!--==========================
    Header
  ============================-->
  <!-- <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/home']"><img src="assets/website/img/logo.png" alt="" title="" style="width: 38%;"></a></h1>
      </div>
      <nav id="nav-menu" style="float: right; margin-right: 25%;">
        <ul class="nav-menu">
            <li class="menu-has-children">
                <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                  <i id="myDIV" class="flag-icon flag-icon-gb"></i>
                </a>
                <ul> 
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                      <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ch','HOME_chineese')">
                      <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('fr','HOME_french')">
                      <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ger','HOME_german')">
                      <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('rus','HOME_russian')">
                      <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('ita','HOME_italian')">
                      <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="switchLanguage('spa', 'HOME_spanish')">
                      <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
                  </li>
                </ul>
              </li>
          </ul>
          </nav>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a [routerLink]="['/home']" translate>Home</a></li>
          <li><a href="#" translate>About Us</a></li>
          <li><a href="#" translate>Features</a></li>
          <li><a href="#" translate>Roadmap</a></li>
		  <li class="menu-active" ><a [routerLink]="['/team']" translate>Team</a></li> 
          <li><a [routerLink]="['/webfaq']" translate>FAQ</a></li>
          <li><a [routerLink]="['/contactus']" translate>Contact us</a></li>
          
		  <li><a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;" translate>LOGIN</a></li>
     </ul>
      </nav>
    </div>
  </header> -->

  <!--header -->
  <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <div class="logo">
                        <a href="/index.html">
                            <img src="assets/website/img/logo.png" />
                        </a>
                    </div>
                    <div class="lang-menu">
                        <div class="language">
                            <a _ngcontent-c5="" class="sf-with-ul"><i _ngcontent-c5="" class="flag-icon flag-icon-gb" id="myDIV"></i></a>
                            <ul _ngcontent-c5="">
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp;
                                        English</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp;
                                        Chinese</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp;
                                        French</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-de"></i>&nbsp;&nbsp;
                                        German</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-me"></i>&nbsp;&nbsp;
                                        Russian</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-it"></i>&nbsp;&nbsp;
                                        Italian</a></li>
                                <li _ngcontent-c5=""><a _ngcontent-c5="" class="dropdown-item"><i _ngcontent-c5="" class="flag-icon flag-icon-es"></i>&nbsp;&nbsp;
                                        Spanish</a></li>
                            </ul>
                        </div>
                        <span onclick="openNav()" class="menu-icon"><img src="assets/website/img/menu-icon.png" /></span>

                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="#section">Home</a>
                            <a href="#problem-solution">About Us</a>
                            <a href="#unique-section">Features</a>
                            <a href="#roadmap">Roadmap</a>
                            <a routerLink="/team">Team</a>
                            <a routerLink="/webfaq">Faq</a>
                            <a routerLink="/contactus">Contact Us</a>
                            <a routerLink="/login">Login</a>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--header -->
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" style="background-image: url('assets/website/img/contact.jpg'); background-position: 100% 100%;  height: 42vh;
  padding-top: 10%;">
    <div class="intro-container">
    <div class="container">
			<div class="row">
		    <div class="col-lg-12 col-md-10">
                <h2 style="text-align: left;" translate>MEET OUR TEAM</h2>
                <p translate>ALPHA-X BLOCKCHAIN SPECIALISTS</p>
				<img src="assets/website/img/oline.jpg">
              
				</div>
			 
            </div>
			  </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg">
      <div class="container">
        <div class="section-header">
        </div>
     <div class="row">
           <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/15.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
                   <br>
                    <h3 style="color: #e96e20;">OLEG OLEFIRENKO</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text"> CEO and Marketing Expert
                        </p>
                        <p>
                       <a href="https://www.linkedin.com/in/oleg-olefirenko-573575173/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <!-- <a href="https://www.facebook.com/alpha.x.ceo" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a> -->
               </p>
                    </div>

            </div>
            <!--Grid column-->
		  <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/13.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
                   <br>
                    <h3 style="color: #e96e20;">MYROSLAV VAKULYUK
                        </h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Chief Business Development Officer</p>
                    <p>
                    <a href="https://www.linkedin.com/in/myroslav-vakuliuk-831007171/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
              </p>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                    <div class="col-md-6 float-left">
                        <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                            <img src="assets/website/img/team/36.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                       <br>
                        <h3 style="color: #e96e20;">Mycola Davidenko
 
                            </h3>
                        <img src="assets/website/img/line.png">
                        <p class="grey-text">Chief Account Manager</p>
                      <p>
                      <a href="https://www.linkedin.com/in/nikolay-davidenko-69131b171/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                      </p>
                    </div>
    
                </div>
                <!--Grid column-->
               
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/37.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
                   <br>
                    <h3 style="color: #e96e20;">Roberto Lorusso </h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Sr. Creative Director</p>
                  <p>
                  <a href="https://www.linkedin.com/in/roberto-lorusso-23204068/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                  </p>
                </div>

            </div>

               <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                    <div class="col-md-6 float-left">
                        <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                            <img src="assets/website/img/team/33.png" class="rounded img-fluid z-depth-1" alt="">
                        </div>
                    </div>
    
                    <div class="col-md-6 float-right">
                        <br>
                        <h3 style="color: #e96e20;">NIKITA JAISINGHANI</h3>
                        <img src="assets/website/img/line.png">
                        
                        <p class="grey-text">CTO</p>
                        <P><a href="https://www.linkedin.com/in/nikita-jaisinghani-01aa83108/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                    </div>
    
                </div>
                <!--Grid column-->

                <div class="col-lg-4 col-md-12 mb-4">

                        <div class="col-md-6 float-left">
                            <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                                <img src="assets/website/img/team/30.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                            </div>
                        </div>
           
                        <div class="col-md-6 float-right">
                            <br>
                            <h3 style="color: #e96e20;">AWAIS BAJWA</h3>
                            <img src="assets/website/img/line.png">
                            <p class="grey-text">Legal Analyst</p>
                            <P><a href="https://www.linkedin.com/in/awais-bajwa-14b14454/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                        </div>
           
                    </div>
                
                    <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">
                        <div class="col-md-6 float-left">
                                <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                                    <img src="assets/website/img/team/39.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                                </div>
                            </div>
               
                            <div class="col-md-6 float-right">
                                <br>
                                <h3 style="color: #e96e20;">Oliver König</h3>
                                <img src="assets/website/img/line.png">
                                <p class="grey-text">Web Developer</p>
                                <P><a href="https://www.linkedin.com/in/oliver-koenig-b7111a21/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                            </div>
                </div>


              <!--Grid column-->

         <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                    <div class="col-md-6 float-left">
                        <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                            <img src="assets/website/img/team/1.png" class="rounded img-fluid z-depth-1" alt="">
                        </div>
                    </div>
    
                    <div class="col-md-6 float-right">
                        <br>
                        <h3 style="color: #e96e20;">SWATI KOUNDILYA</h3>
                        <img src="assets/website/img/line.png">
                        
                        <p class="grey-text">Node Developer</p>
                        <P><a href="https://www.linkedin.com/in/swati-koundilya-414229b1/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
    
                    </div>
    
                </div>
                <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

            <div class="col-md-6 float-left">
                <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                    <img src="assets/website/img/team/23.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                </div>
            </div>

            <div class="col-md-6 float-right">
                <br>
                <h3 style="color: #e96e20;">PAPIA KHATUN ASHA</h3>
                <img src="assets/website/img/line.png">
                <p class="grey-text">SEO and SMO Expert</p>
                <P><a href="https://www.linkedin.com/in/papia-khatun-asha-3a9ba4113/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>

            </div>

        </div>
        <!--Grid column-->
     
 <!--Grid column-->
 <div class="col-lg-4 col-md-12 mb-4">

        <div class="col-md-6 float-left">
            <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                <img src="assets/website/img/team/24.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
            </div>
        </div>

        <div class="col-md-6 float-right">
            <br>
            <h3 style="color: #e96e20;">GOVIND MISHRA</h3>
            <img src="assets/website/img/line.png">
            <p class="grey-text">Angular developer</p>
            <P><a href="https://www.linkedin.com/in/govind-mishra-89295712a/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>


        </div>

    </div>

     <!--Grid column-->
     <div class="col-lg-4 col-md-12 mb-4">

            <div class="col-md-6 float-left">
                <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                    <img src="assets/website/img/team/25.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                </div>
            </div>

            <div class="col-md-6 float-right">
                <br>
                <h3 style="color: #e96e20;">PUSPENDRA KUMAR</h3>
                <img src="assets/website/img/line.png">
                <p class="grey-text">Angular Developer</p>
                <P><a href="http://linkedin.com/in/puspendra-kumar-6a5317168" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>



            </div>

        </div>
        <!--Grid column-->
       <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/26.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
                    <br>
                    <h3 style="color: #e96e20;">JANARDAN MISHRA</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Node Developer</p>
                    <P><a href="https://www.linkedin.com/in/janardanmishra/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>


                </div>

            </div>
            <!--Grid column-->
		 
		 <!--Grid column-->
            <!-- <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/5.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
                    <br>
                    <h3 style="color: #e96e20; font-weight: 500">ANTON NIKONOV</h3>
                    <img src="assets/website/img/line.png">
					
                    <p class="grey-text">Developer</p>

                </div>

            </div> -->
            <!--Grid column-->

      

            <!--Grid column-->
            <!-- <div class="col-lg-4 col-md-12 mb-4">

                    <div class="col-md-6 float-left">
                        <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                            <img src="assets/website/img/team/27.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                        </div>
                    </div>
    
                    <div class="col-md-6 float-right">
                       <br>
                        <h3 style="color: #e96e20;">NANASAHEB POTE</h3>
                        <img src="assets/website/img/line.png">
                        <p class="grey-text">Devops Engineer</p>
                        <P><a href="https://www.linkedin.com/in/nanasaheb-pote-17770432/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>


                    </div>
    
                </div> -->
                <!--Grid column-->

         <div class="col-lg-4 col-md-12 mb-4">

             <div class="col-md-6 float-left">
                 <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                     <img src="assets/website/img/team/34.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                 </div>
             </div>

             <div class="col-md-6 float-right">
                 <br>
                 <h3 style="color: #e96e20;">Elena bennett</h3>
                 <img src="assets/website/img/line.png">
                 <p class="grey-text">Public Relation Manager</p>
                 <P><a href="https://www.linkedin.com/in/elena-bennett-ab5aa1170/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
             </div>

         </div>
         
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/12.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20;">SWAPNIL MUNDHE</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Asst. Software Engineer</p>
                    <P><a href="https://www.linkedin.com/in/swapnil-mundhe-26023382/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>
		
            
		 <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/11.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20;">AKSHAY WAGH</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Blockchain Developer</p>
                    <P><a href="https://www.linkedin.com/in/akshay-wagh-a06751170/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>


                </div>

            </div>
		 
		
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/10.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20;">AMEY RUIKAR</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Asst. Software Engineer</p>
                    <P><a href="https://www.linkedin.com/in/amey-ruikar-3b4a8687/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>  
     
               <!--Grid column-->


 <!--Grid column-->
 <div class="col-lg-4 col-md-12 mb-4">

        <div class="col-md-6 float-left">
            <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                <img src="assets/website/img/team/28.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
            </div>
        </div>

        <div class="col-md-6 float-right">
            <br>
            <h3 style="color: #e96e20;">NEHA SINGH</h3>
            <img src="assets/website/img/line.png">
            <p class="grey-text">HR Executive</p>
            <P><a href="https://www.linkedin.com/in/neha-singh-5b5874114/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>


        </div>

    </div>

    
	 </div>	 
      </div>
    </section>
   
    <section id="contact" class="section-bg" style="padding: 0px 0;">
            <div class="container">
              <div class="section-header">
                <h3>Adviser</h3>
              </div><br><br>
           <div class="row">
               <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/16.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20;">ANDERS JOHNSSON</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                    <P><a href="https://www.linkedin.com/in/anders-johnsson-61b7b940/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div> 

            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/19.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20;">JAMES NGUYEN</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                    <P><a href="https://www.linkedin.com/in/jamesnguyen68/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div> 


            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/20.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20; font-weight: 500">CRIS LUU</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                    <P><a href="https://www.linkedin.com/in/crisluu/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/38.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20; font-weight: 500">SERGEY KLIMOV</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                   <P><a href="https://www.linkedin.com/in/sergey-klimov-244503174/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/41.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20; font-weight: 500">MRINAL SHARMA</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                   <P><a href="https://www.linkedin.com/in/mrinal-sharma-02a1285b/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="assets/website/img/team/40.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20; font-weight: 500">TOBIAS GRAF</h3>
                    <img src="assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                   <P><a href="https://www.linkedin.com/in/tobias-graf-18959512b/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>
            
            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="/assets/website/img/team/40.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20; font-weight: 500">TOBIAS GRAF</h3>
                    <img src="/assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                   <P><a href="https://www.linkedin.com/in/tobias-graf-18959512b/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 mb-4">

                <div class="col-md-6 float-left">
                    <div class="mx-auto my-3" style="margin-top: 0rem!important;">
                        <img src="/assets/website/img/team/41.png" class="rounded img-fluid z-depth-1" alt="Fourth sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
					<br>
                    <h3 style="color: #e96e20; font-weight: 500">MRINAL SHARMA</h3>
                    <img src="/assets/website/img/line.png">
                    <p class="grey-text">Adviser</p>
                   <P><a href="https://www.linkedin.com/in/mrinal-sharma-02a1285b/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></P>
                </div>

            </div>


       	 </div>	 
        </div>
     </section>        

    
  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
        <footer id="footer">
         
          <div class="footer-top">
            <div class="container">
              <div class="row">
                  
                <div class="col-lg-3 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                  <p translate>AlphaX is an entirely new generation cryptocurrency based on Scrypt using a complete Proof Of Stake (POS) network.</p>
                </div>
      
               
                    <div class="col-lg-3 col-md-6 footer-info" style="color
                    :#6d6e72">
                        <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
                        <!-- <a translate>Legal Opinion </a><br> -->
                        <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                              <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                              <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                              <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                              <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                              <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>

                            </div>
               
      
                <div class="col-lg-3 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>Features</h5>
                  <p title="Coming Soon" translate>QT-Wallet</p>
                  <p title="Coming Soon" translate>Mobile Payment</p>
                  <p title="Coming Soon" translate>Exchange</p>
                  <p title="Coming Soon" translate>E-Commerce Platform</p>
                </div>
                <div class="col-lg-3 col-md-6 footer-info">
                        <h5 style="color: #e96e20; font-weight: 600" translate>Social Links</h5>
                        <div id="soc">
                            <a href="https://alphax-dev.slack.com/messages" target="_blank" style="background:#e9a820;color:white"class="fa fa-slack circle"></a>
                            <a href="https://www.pinterest.com/alphax0113" target="_blank" style="background: #c8232c;color:white"class="fa fa-pinterest circle"></a>
                            <a href="https://plus.google.com/u/1/104456778950569905138" target="_blank" style="background: #d34836;color:white" class="fa fa-google-plus circle"></a>
                            <a href="https://www.facebook.com/alphaxofficialsupport" target="_blank" style="background-color: #3B5998; color: #fff;" class="fa fa-facebook"></a>
                            <a href="https://twitter.com/alphax_official" target="_blank" style="background-color: #1dcaff; color: #fff;" class="fa fa-twitter"></a>
                            <a href="https://medium.com/@office.alphax" target="_blank" style="background-color: #00ab6c; color: #fff;" class="fa fa-medium"></a><br>
                            <a href="https://web.telegram.org/#/im?p=@alphax_official/" style="background-color: #0088cc; color: #fff;"  target="_blank" class="fa fa-telegram"></a>
                            <a href="https://www.reddit.com/user/AlphaX2807/posts/" style="background-color: #ff4500; color: #fff;" target="_blank" class="fa fa-reddit"></a>
                            <a href="https://vk.com/public172333507" target="_blank" style="background-color: #45668e; color: #fff;" class="fa fa-vk"></a>
                            <a href="https://www.instagram.com/alphax_admin/" style="background-color: #fb3958; color: #fff;" target="_blank" class="fa fa-instagram"></a>
                            <a href="https://bitcointalk.org/index.php?topic=5028888.80" target="_blank" style="background-color: #f7931a; color: #fff;" class="fa fa-btc"></a>
                          </div>
                          </div>
              </div>
            </div>
          </div>
          <hr style="background: #363535; width: 85%;">
          <div class="copyrights">
            <div class="container">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center-md">
                  <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X - Asaex IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
                </div>
                <div class="col-lg-4"></div>
                <!-- <div class="col-lg-8 text-right text-center-md">
                      <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                      <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                      
                    </ul>
                      
                    </div> -->
              </div>
            </div>
          </div>
        </footer>
        </div>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="assets/website/lib/jquery/jquery.min.js"></script>
  <script src="assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="lassets/website/ib/easing/easing.min.js"></script>
  <script src="assets/website/lib/superfish/hoverIntent.js"></script>
  <script src="assets/website/lib/superfish/superfish.min.js"></script>
  <script src="assets/website/lib/wow/wow.min.js"></script>
  <script src="assets/website/lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script> 
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>-->
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="assets/website/js/main.js"></script>

</body>
</html>
