<!-- <app-header></app-header> -->
<!-- <app-asidenav></app-asidenav> -->
<div class="vertical-layout vertical-compact-menu content-detached-right-sidebar fixed-navbar menu-open pace-done" data-open="click"
    data-menu="vertical-compact-menu" data-col="content-detached-right-sidebar">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row" style="padding-top: 8%;">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block" translate>Transactions</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink = "/index" translate>Dashboard</a></li>
                                <li class="breadcrumb-item active" translate>Transactions</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" href="wallet.html">Buy now</a></div>
        </div> -->
            </div>
            <div class="content-body">
                <!-- Demo options menu -->
                <!--/ Demo options menu -->
                <!-- tabs for transactions start -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="personalprof-tab" data-toggle="tab" href="#personalprof" role="tab" aria-controls="personalprof"
                            aria-selected="true">
                            <h5>BTC</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="personalpass-tab" data-toggle="tab" href="#personalpass" role="tab" aria-controls="personalpass"
                            aria-selected="false">
                            <h5>ETH</h5>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="ltctrans-tab" data-toggle="tab" href="#ltctrans" role="tab" aria-controls="ltctrans" aria-selected="false">
                            <h5>LTC</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="bchtrans-tab" data-toggle="tab" href="#bchtrans" role="tab" aria-controls="bchtrans" aria-selected="false">
                            <h5>BCH</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="axtrans-tab" data-toggle="tab" href="#axtrans" role="tab" aria-controls="axtrans" aria-selected="false">
                            <h5>AX</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" id="withdrawl-tab" data-toggle="tab" href="#withdrawl" role="tab" aria-controls="axtrans" aria-selected="false">
                                <h5>Withdraw</h5>
                            </a>
                        </li>
                    <!-- ///// end ///// -->
                </ul>
                <!--  tabs for transactions end-->
                <!--/ Demo fullscreen-overlay -->



                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="personalprof" role="tabpanel" aria-labelledby="personalprof-tab">

                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">

                                    <div class="row">
                                        <div class="m-portlet__head-title">
                                            <h4 class="m-portlet__head-text" style="margin-top: 24px; margin-left: 5%; width:100%;">
                                                BTC <span translate>Transactions</span>
                                            </h4>
                                        </div>
                                        <div _ngcontent-c1="" class="col-md-4" style="margin-left: 48%; margin-top: 16px;">
                                            <input style="color: black; " class="form-control" [formControl]="searchBox" type="text" placeholder="Search ..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <!--  -->
                                <!--begin::Section-->
                                <!-- <div class="m-section">
                                    <div class="m-section__content">
                                        <form>



                                            <div class="m-portlet__body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">

                                                        <thead>
                                                            <tr>
                                                                <th title="Date">
                                                                    Date
                                                                </th>
                                                                <th title="Amount">
                                                                    Amount
                                                                </th>
                                                                <th title="Transaction Hash">
                                                                    Transaction Hash
                                                                </th>
                                                                <th title="Type">
                                                                    Type
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let tran of btcTransactionList | paginate: { itemsPerPage: 10, currentPage: p, id: 'p' }; let i = index">
                                                                <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.value" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.transaction.hash" readonly style="padding: 16px 10px;font-size: 1.0rem; cursor: pointer;color:black" (click)="getBlockchainUrl(tran.transaction.hash)"></td>
                                                                <td contenteditable="false" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black">Deposit</td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <pagination-controls (pageChange)="p = $event" id="p" style="text-align: right;"></pagination-controls>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> -->
                                <!--end::Section-->
                                <div class="m-section">
                                    <div class="m-section__content">
                                            <div id="transactions">
                                                    <div class="transactions-table-th d-none d-md-block">
                                                        <div class="col-12">
                                                            <div class="row px-1">
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Date</p>
                                                                </div>
                                                                
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Amount</p>
                                                                </div>
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Type</p>
                                                                </div>
                                                               
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Transaction Hash</p>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let tran of btcTransactionList | paginate: { itemsPerPage: 10, currentPage: p, id: 'p' }; let i = index" class="transactions-table-tbody">
                                                        <section class="card pull-up">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="col-12">
                                                                        <div class="row">
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Date: </span>{{tran.createdAt | date: 'dd/MM/yyyy'}}</p>
                                                                            </div>
                                                                           
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Amount: </span>  {{tran.value}} </p>
                                                                            </div>
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Type: </span>  {{tran.trans_type}} </p>
                                                                            </div>
                                                                            
                                                                           
                                                                          
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p  class="mb-0" 
                                                                                    style=" display: inline-block;
                                                                                            width: 200px;
                                                                                            white-space: nowrap;
                                                                                            overflow: hidden !important;
                                                                                            text-overflow: ellipsis;
                                                                                            cursor: pointer;"
                                                                                            (click)="getBlockchainUrl(tran.trans_index)">
                                                                                    <span class="d-inline-block d-md-none text-bold-700">
                                                                                        Details: </span> {{tran.trans_index}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                       
                                                       
                                                        
                                                    </div>
                                                    <pagination-controls (pageChange)="p = $event" id="p" style="text-align: right;"></pagination-controls>

                                                </div>
                             
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!--end::Form-->
                            <!-- end::Form -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="personalpass" role="tabpanel" aria-labelledby="personalpass-tab">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="row">
                                        <div class="m-portlet__head-title">
                                            <h4 class="m-portlet__head-text" style="margin-top: 24px; margin-left: 5%; width:100%;">
                                                ETH <span translate>Transactions</span></h4>
                                        </div>
                                        <div _ngcontent-c1="" class="col-md-4" style="margin-left: 48%; margin-top: 16px;">
                                            <input class="form-control" [formControl]="searchBox1" type="text" placeholder="Search ..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                               
                                <!--begin::Section-->
                                <!-- <div class="m-section">
                                    <div class="m-section__content">
                                        <form>
                                            <div class="m-portlet__body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th title="Date">
                                                                    Date
                                                                </th>
                                                                <th title="Amount">
                                                                    Amount
                                                                </th>
                                                                <th title="Transaction Hash">
                                                                    Transaction Hash
                                                                </th>
                                                                <th title="Type">
                                                                    Type
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let tran of ethTransactionList | paginate: { itemsPerPage: 10, currentPage: p1, id: 'p1' }; let i = index">
                                                                <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.ethValue" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.trans_hash" readonly style="padding: 16px 10px;font-size: 1.0rem; cursor: pointer;color:black"(click)="getEtherscanUrl(tran.trans_hash)"></td>
                                                                <td contenteditable="false" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black">Deposit</td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <pagination-controls (pageChange)="p1 = $event" id="p1" style="text-align: right;"></pagination-controls>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div> -->
                                <!--end::Section-->
                                <div class="m-section">
                                    <div class="m-section__content">
                                            <div id="transactions">
                                                    <div class="transactions-table-th d-none d-md-block">
                                                        <div class="col-12">
                                                            <div class="row px-1">
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Date</p>
                                                                </div>
                                                                
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Amount</p>
                                                                </div>
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Type</p>
                                                                </div>
                                                               
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Transaction Hash</p>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let tran of ethTransactionList | paginate: { itemsPerPage: 10, currentPage: p1, id: 'p1' }; let i = index" class="transactions-table-tbody">
                                                        <section class="card pull-up">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="col-12">
                                                                        <div class="row">
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Date: </span>{{tran.createdAt | date: 'dd/MM/yyyy'}}</p>
                                                                            </div>
                                                                           
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Amount: </span>  {{tran.ethValue}} </p>
                                                                            </div>
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Type: </span>  Deposit </p>
                                                                            </div>
                                                                            
                                                                           
                                                                          
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p  class="mb-0" 
                                                                                    style=" display: inline-block;
                                                                                            width: 200px;
                                                                                            white-space: nowrap;
                                                                                            overflow: hidden !important;
                                                                                            text-overflow: ellipsis;
                                                                                            cursor: pointer;"
                                                                                            (click)="getEtherscanUrl(tran.trans_hash)">
                                                                                    <span class="d-inline-block d-md-none text-bold-700">
                                                                                        Details: </span> {{tran.trans_hash}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                       
                                                       
                                                        
                                                    </div>
                                                    <pagination-controls (pageChange)="p1 = $event" id="p1" style="text-align: right;"></pagination-controls>

                                                </div>
                             
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Form-->
                        </div>
                    </div>
                    <!-- LTC TRANSACTIONS TAB START -->
                    <div class="tab-pane fade" id="ltctrans" role="tabpanel" aria-labelledby="ltctrans-tab">

                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="row">
                                        <div class="m-portlet__head-title">
                                            <h4 class="m-portlet__head-text" style="margin-top: 24px; margin-left: 5%; width:100%;">
                                                LTC <span translate>Transactions</span></h4>
                                        </div>
                                        <div _ngcontent-c1="" class="col-md-4" style="
                                    margin-left: 48%;
                                    margin-top: 16px;">
                                            <input class="form-control" [formControl]="searchBox2" type="text" placeholder="Search ..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                
                                <!--begin::Section-->
                                <!-- <div class="m-section">
                                    <div class="m-section__content">
                                        <form>

                                            <div class="m-portlet__body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">

                                                        <thead>
                                                            <tr>
                                                                <th title="Date">
                                                                    Date
                                                                </th>
                                                                <th title="Amount">
                                                                    Amount
                                                                </th>

                                                                <th title="Transaction Hash">
                                                                    Transaction Hash
                                                                </th>
                                                                <th title="Type">
                                                                    Type
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let tran of ltcTransactionList |paginate: { itemsPerPage: 10, currentPage: p2, id: 'p2' }; let i = index">
                                                                <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.value" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.tx_hash" readonly style="padding: 16px 10px;font-size: 1.0rem;cursor: pointer;color:black"(click)="getLTCscanUrl(tran.tx_hash)"></td>
                                                                <td contenteditable="false" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black">Deposit</td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <pagination-controls (pageChange)="p2 = $event" id="p2" style="text-align: right;"></pagination-controls>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div> -->
                                <!--end::Section-->
                                <div class="m-section">
                                    <div class="m-section__content">
                                            <div id="transactions">
                                                    <div class="transactions-table-th d-none d-md-block">
                                                        <div class="col-12">
                                                            <div class="row px-1">
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Date</p>
                                                                </div>
                                                                
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Amount</p>
                                                                </div>
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Type</p>
                                                                </div>
                                                               
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Transaction Hash</p>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let tran of ltcTransactionList |paginate: { itemsPerPage: 10, currentPage: p2, id: 'p2' }; let i = index" class="transactions-table-tbody">
                                                        <section class="card pull-up">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="col-12">
                                                                        <div class="row">
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Date: </span>{{tran.createdAt | date: 'dd/MM/yyyy'}}</p>
                                                                            </div>
                                                                           
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Amount: </span>  {{tran.value}} </p>
                                                                            </div>
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Type: </span>  Deposit </p>
                                                                            </div>
                                                                            
                                                                           
                                                                          
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p  class="mb-0" 
                                                                                    style=" display: inline-block;
                                                                                            width: 200px;
                                                                                            white-space: nowrap;
                                                                                            overflow: hidden !important;
                                                                                            text-overflow: ellipsis;
                                                                                            cursor: pointer;"
                                                                                            (click)="getLTCscanUrl(tran.tx_hash)">
                                                                                    <span class="d-inline-block d-md-none text-bold-700">
                                                                                        Details: </span> {{tran.tx_hash}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                     
                                                       
                                                        
                                                    </div>
                                                    <pagination-controls (pageChange)="p2 = $event" id="p2" style="text-align: right;"></pagination-controls>

                                                </div>
                             
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Form-->
                        </div>
                    </div>


                    <!--LTC TRANSACTIONS TAB END -->
                    <!-- BCH TRANSACTIONS TAB START-->

                    <div class="tab-pane fade" id="bchtrans" role="tabpanel" aria-labelledby="bchtrans-tab">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="row">
                                        <div class="m-portlet__head-title">
                                            <h4 class="m-portlet__head-text" style="margin-top: 24px; margin-left: 5%; width:100%;">
                                                BCH <span translate>Transactions</span></h4>
                                        </div>
                                        <div _ngcontent-c1="" class="col-md-4" style="
                                    margin-left: 48%;
                                    margin-top: 16px;">
                                            <input class="form-control" [formControl]="searchBox3" type="text" placeholder="Search ..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                
                                <!-- <div class="m-section">
                                    <div class="m-section__content">
                                        <form>



                                            <div class="m-portlet__body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">

                                                        <thead>
                                                            <tr>
                                                                <th title="Date">
                                                                    Date
                                                                </th>
                                                                <th title="Amount">
                                                                    Amount
                                                                </th>

                                                                <th title="Transaction Hash">
                                                                    Transaction Hash
                                                                </th>
                                                                <th title="Type">
                                                                    Type
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let tran of bchTransactionList | paginate: { itemsPerPage: 10, currentPage: p3, id: 'p3' }; let i = index">
                                                                <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.value" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.trans_index" readonly style="padding: 16px 10px;font-size: 1.0rem;cursor: pointer;color:black"(click)="getbchUrl(tran.trans_index)"></td>
                                                                <td contenteditable="false" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black">Deposit</td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <pagination-controls (pageChange)="p3 = $event" id="p3" style="text-align: right;"></pagination-controls>
                                                </div>
                                            </div>

                                        </form>
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="m-section">
                                    <div class="m-section__content">
                                            <div id="transactions">
                                                    <div class="transactions-table-th d-none d-md-block">
                                                        <div class="col-12">
                                                            <div class="row px-1">
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Date</p>
                                                                </div>
                                                                
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Amount</p>
                                                                </div>
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Type</p>
                                                                </div>
                                                               
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Transaction Hash</p>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let tran of bchTransactionList | paginate: { itemsPerPage: 10, currentPage: p3, id: 'p3' }; let i = index" class="transactions-table-tbody">
                                                        <section class="card pull-up">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="col-12">
                                                                        <div class="row">
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Date: </span>{{tran.createdAt | date: 'dd/MM/yyyy'}}</p>
                                                                            </div>
                                                                           
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Amount: </span>  {{tran.value}} </p>
                                                                            </div>
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Type: </span>  Deposit </p>
                                                                            </div>
                                                                            
                                                                           
                                                                          
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p  class="mb-0" 
                                                                                    style=" display: inline-block;
                                                                                            width: 200px;
                                                                                            white-space: nowrap;
                                                                                            overflow: hidden !important;
                                                                                            text-overflow: ellipsis;
                                                                                            cursor: pointer;"
                                                                                            (click)="getbchUrl(tran.trans_index)">
                                                                                    <span class="d-inline-block d-md-none text-bold-700">
                                                                                        Details: </span> {{tran.trans_index}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                     
                                                                                       
                                                    </div>
                                                    <pagination-controls (pageChange)="p3 = $event" id="p3" style="text-align: right;"></pagination-controls>

                                                </div>
                             
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Form-->
                        </div>
                    </div>
                    <!-- BCH TRANSACTIONS TAB END-->
                    <!--AX TRANSACTIONS TAB START-->
                    <div class="tab-pane fade" id="axtrans" role="tabpanel" aria-labelledby="axtrans-tab">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="row">
                                    <div class="m-portlet__head-title">
                                        <h4 class="m-portlet__head-text" style="margin-top: 24px; margin-left: 5%; width:100%;">
                                            AX <span translate>Transactions</span></h4>
                                    </div>
                                    <div _ngcontent-c1="" class="col-md-4" style="
                                    margin-left: 48%;
                                    margin-top: 16px;">
                                            <input class="form-control" [formControl]="searchBox4" type="text" placeholder="Search ..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-section">
                                    <div class="m-section__content">
                                            <div id="transactions">
                                                    <div class="transactions-table-th d-none d-md-block">
                                                        <div class="col-12">
                                                            <div class="row px-1">
                                                                <div class="col-md-2 col-12 py-1">
                                                                    <p class="mb-0" translate>Date</p>
                                                                </div>
                                                                <div class="col-md-2 col-12 py-1">
                                                                    <p class="mb-0" translate>Type</p>
                                                                </div>
                                                                <div class="col-md-2 col-12 py-1">
                                                                    <p class="mb-0" translate>Amount</p>
                                                                </div>
                                                                <div class="col-md-1 col-12 py-1">
                                                                    <p class="mb-0" translate>Currency</p>
                                                                </div>
                                                                <div class="col-md-3 col-12 py-1">
                                                                    <p class="mb-0" translate>Transaction Hash</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let tran of localTransactionList | paginate: { itemsPerPage: 10, currentPage: p4, id: 'p4' }; let i = index" class="transactions-table-tbody ">
                                                        <section class="card pull-up">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="col-12">
                                                                        <div class="row">
                                                                            <div class="col-md-2 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Date: </span>{{tran.createdAt | date: 'dd/MM/yyyy'}}</p>
                                                                            </div>
                                                                            <div class="col-md-2 col-12 py-1">
                                                                                <span class="d-inline-block d-md-none text-bold-700"></span> <span class="d-inline-block d-md-none text-bold-700">Type: </span>  <a (click)="getAlphascanUrl(tran.transaction_id)" class="mb-0 btn-sm btn btn-outline-warning round">{{tran.trans_type}}</a>
                                                                            </div>
                                                                            <div class="col-md-2 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Amount: </span>  {{tran.totalLocalCoins}} </p>
                                                                            </div>
                                                                            <div *ngIf="tran.trans_type == 'BOUNTY'" class="col-md-1 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> AX</p>
                                                                            </div>
                                                                            <div *ngIf="tran.trans_type == 'BTC'" class="col-md-1 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc BTC-alt"></i> BTC</p>
                                                                            </div>
                                                                            <div *ngIf="tran.trans_type == 'ETH'" class="col-md-1 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc ETH-alt"></i> ETH</p>
                                                                            </div>
                                                                            <div *ngIf="tran.trans_type == 'LTC'" class="col-md-1 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc LTC-alt"></i> LTC</p>
                                                                            </div>
                                                                            <div *ngIf="tran.trans_type == 'BCH'" class="col-md-1 col-12 py-1">
                                                                                <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc BCH-alt"></i> BCH</p>
                                                                            </div>
                                                                            <div class="col-md-3 col-12 py-1">
                                                                                <p  class="mb-0" 
                                                                                    style=" display: inline-block;
                                                                                            width: 200px;
                                                                                            white-space: nowrap;
                                                                                            overflow: hidden !important;
                                                                                            text-overflow: ellipsis;
                                                                                            cursor: pointer;"
                                                                                    (click)="getAlphascanUrl(tran.transaction_id)">
                                                                                    <span class="d-inline-block d-md-none text-bold-700">
                                                                                        Details: </span> {{tran.transaction_id}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>

                                                     
                                                       
                                                        
                                                    </div>
                                                    <pagination-controls (pageChange)="p4 = $event" id="p4" style="text-align: right;"></pagination-controls>  

                                                </div>
                                        <!-- <form> -->
                                            <!-- <div class="m-portlet__body"> -->
                                                <!-- <div class="table-responsive"> -->
                                                    <!-- <table class="table table-bordered">

                                                        <thead>
                                                            <tr>
                                                                <th title="Date">
                                                                    Date
                                                                </th>
                                                                <th title="Amount">
                                                                    Amount
                                                                </th>

                                                                <th title="Transaction Hash">
                                                                    Transaction Hash
                                                                </th>
                                                                <th title="Type">
                                                                    Type
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let tran of localTransactionList | paginate: { itemsPerPage: 10, currentPage: p4, id: 'p4' }; let i = index">
                                                                <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.mainCoinValue" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.transaction_id" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black;cursor: pointer;"  (click)="getAlphascanUrl(tran.transaction_id)"></td>
                                                                <td contenteditable="false" [textContent]="tran.trans_type" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>

                                                            </tr>

                                                        </tbody>
                                                    </table> -->
                                                    <!-- <pagination-controls (pageChange)="p4 = $event" id="p4" style="text-align: right;"></pagination-controls> -->
                                                <!-- </div> -->
                                            <!-- </div> -->

                                        <!-- </form> -->
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--begin::Section-->
                                <!-- <div class="m-section">
                                    <div class="m-section__content">
                                        <form>



                                            <div class="m-portlet__body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">

                                                        <thead>
                                                            <tr>
                                                                <th title="Date">
                                                                    Date
                                                                </th>
                                                                <th title="Amount">
                                                                    Amount
                                                                </th>

                                                                <th title="Transaction Hash">
                                                                    Transaction Hash
                                                                </th>
                                                                <th title="Type">
                                                                    Type
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let tran of localTransactionList | paginate: { itemsPerPage: 10, currentPage: p4, id: 'p4' }; let i = index">
                                                                <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.mainCoinValue" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                <td contenteditable="false" [textContent]="tran.transaction_id" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black;cursor: pointer;"  (click)="getAlphascanUrl(tran.transaction_id)"></td>
                                                                <td contenteditable="false" [textContent]="tran.trans_type" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <pagination-controls (pageChange)="p4 = $event" id="p4" style="text-align: right;"></pagination-controls>
                                                </div>
                                            </div>

                                        </form>
                                        <div class="row">

                                            <div class="col-md-4"></div>

                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="withdrawl" role="tabpanel" aria-labelledby="personalpass-tab">
                            <div class="m-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="row">
                                            <div class="m-portlet__head-title">
                                                <h4 class="m-portlet__head-text" style="margin-top: 24px" translate>
                                                    Withdraw </h4>
                                            </div>
                                            <!-- <div _ngcontent-c1="" class="col-md-4" style="
                                        margin-left: 48%;
                                        margin-top: 16px;">
                                                <input style="color: black; margin-left: 15px;" class="form-control" [formControl]="searchBox1" type="text" placeholder="Search ..."
                                                />
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                   
                                    <!--begin::Section-->
                                    <!-- <div class="m-section">
                                        <div class="m-section__content">
                                            <form>
                                                <div class="m-portlet__body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th title="Date">
                                                                        Date
                                                                    </th>
                                                                    <th title="Amount">
                                                                        Amount
                                                                    </th>
                                                                    <th title="Transaction Hash">
                                                                        status
                                                                    </th>
                                                                    <th title="Type">
                                                                        Type
                                                                    </th>
    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                 <tr *ngFor="let tran of withdrawTransactionList | paginate: { itemsPerPage: 10, currentPage: p5, id: 'p5' }; let i = index">
                                                                    <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                    <td contenteditable="false" [textContent]="tran.amount" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                    <td contenteditable="false" [textContent]="tran.isdecline" readonly style="padding: 16px 10px;font-size: 1.0rem; cursor: pointer;color:black"></td>
                                                                    <td contenteditable="false" readonly [textContent]="tran.type" style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
    
                                                                </tr> 
    
                                                            </tbody>
                                                        </table>
                                                        <pagination-controls (pageChange)="p5 = $event" id="p5" style="text-align: right;"></pagination-controls>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="row">
                                                <div class="col-md-4"></div>
    
                                                <div class="col-md-4"></div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!--end::Section-->
                                    <div class="m-section">
                                        <div class="m-section__content">
                                                <div id="transactions">
                                                        <div class="transactions-table-th d-none d-md-block">
                                                            <div class="col-12">
                                                                <div class="row px-1">
                                                                    <div class="col-md-3 col-12 py-1">
                                                                        <p class="mb-0" translate>Date</p>
                                                                    </div>
                                                                    <!-- <div class="col-md-2 col-12 py-1">
                                                                        <p class="mb-0">Type</p>
                                                                    </div> -->
                                                                    <div class="col-md-3 col-12 py-1">
                                                                        <p class="mb-0" translate>Amount</p>
                                                                    </div>
                                                                    <div class="col-md-3 col-12 py-1">
                                                                        <p class="mb-0" translate>Status</p>
                                                                    </div>
                                                                    <div class="col-md-3 col-12 py-1">
                                                                        <p class="mb-0" translate>Currency</p>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngFor="let tran of withdrawTransactionList | paginate: { itemsPerPage: 10, currentPage: p5, id: 'p5' }; let i = index" class="transactions-table-tbody">
                                                            <section class="card pull-up">
                                                                <div class="card-content">
                                                                    <div class="card-body">
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                <div class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Date: </span>{{tran.createdAt | date: 'dd/MM/yyyy'}}</p>
                                                                                </div>
                                                                                <!-- <div class="col-md-2 col-12 py-1">
                                                                                    <span class="d-inline-block d-md-none text-bold-700"></span> <span class="d-inline-block d-md-none text-bold-700">Type: </span>  <a (click)="getAlphascanUrl(tran.transaction_id)" class="mb-0 btn-sm btn btn-outline-warning round">BUY</a>
                                                                                </div> -->
                                                                                <div class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Amount: </span>  {{tran.amount}} </p>
                                                                                </div>
                                                                                <div *ngIf="!tran.isdecline && !tran.isapprove" class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Status: </span>  Request Sent</p>
                                                                                </div>
                                                                                <div *ngIf="tran.isdecline" class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Status: </span> Declined</p>
                                                                                </div>
                                                                                <div *ngIf="tran.isapprove" class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Status: </span> Accepted</p>
                                                                                </div>
                                                                                
                                                                                <div *ngIf="tran.type == 'BTC'" class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc BTC-alt"></i> BTC</p>
                                                                                </div>
                                                                                <div *ngIf="tran.type == 'ETH'" class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc ETH-alt"></i> ETH</p>
                                                                                </div>
                                                                                <div *ngIf="tran.type == 'LTC'" class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc LTC-alt"></i> LTC</p>
                                                                                </div>
                                                                                <div *ngIf="tran.type == 'BCH'" class="col-md-3 col-12 py-1">
                                                                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Currency: </span> <i class="cc BCH-alt"></i> BCH</p>
                                                                                </div>
                                                                               
                                                                                <!-- <div class="col-md-3 col-12 py-1">
                                                                                    <p  class="mb-0" 
                                                                                        style=" display: inline-block;
                                                                                                width: 200px;
                                                                                                white-space: nowrap;
                                                                                                overflow: hidden !important;
                                                                                                text-overflow: ellipsis;
                                                                                                cursor: pointer;"
                                                                                        (click)="getAlphascanUrl(tran.transaction_id)">
                                                                                        <span class="d-inline-block d-md-none text-bold-700">
                                                                                            Details: </span> {{tran.transaction_id}}
                                                                                    </p>
                                                                                </div> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <pagination-controls (pageChange)="p5 = $event" id="p5" style="text-align: right;"></pagination-controls>  

                                                    </div>
                                            <!-- <form> -->
                                                <!-- <div class="m-portlet__body"> -->
                                                    <!-- <div class="table-responsive"> -->
                                                        <!-- <table class="table table-bordered">
    
                                                            <thead>
                                                                <tr>
                                                                    <th title="Date">
                                                                        Date
                                                                    </th>
                                                                    <th title="Amount">
                                                                        Amount
                                                                    </th>
    
                                                                    <th title="Transaction Hash">
                                                                        Transaction Hash
                                                                    </th>
                                                                    <th title="Type">
                                                                        Type
                                                                    </th>
    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let tran of localTransactionList | paginate: { itemsPerPage: 10, currentPage: p4, id: 'p4' }; let i = index">
                                                                    <td contenteditable="false" [textContent]="tran.createdAt | date: 'dd/MM/yyyy'" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                    <td contenteditable="false" [textContent]="tran.mainCoinValue" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
                                                                    <td contenteditable="false" [textContent]="tran.transaction_id" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black;cursor: pointer;"  (click)="getAlphascanUrl(tran.transaction_id)"></td>
                                                                    <td contenteditable="false" [textContent]="tran.trans_type" readonly style="padding: 16px 10px;font-size: 1.0rem;color:black"></td>
    
                                                                </tr>
    
                                                            </tbody>
                                                        </table> -->
                                                        <!-- <pagination-controls (pageChange)="p4 = $event" id="p4" style="text-align: right;"></pagination-controls> -->
                                                    <!-- </div> -->
                                                <!-- </div> -->
    
                                            <!-- </form> -->
                                            <div class="row">
    
                                                <div class="col-md-4"></div>
    
                                                <div class="col-md-4"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Form-->
                            </div>
                        </div>
                    <!--AX TRANSACTIONS TAB END-->
                </div>
                <!--  Demo fullscreen-overlay end -->

            </div>
        </div>
    </div>
</div>