.fa {
    padding: 20px;
    font-size: 30px!important;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-medium {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-telegram {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  .img-responsive{
    max-width: 80%;
     height: auto;
      display:block;
      border-radius: 20px
  }
  #ico1 {
    font-size: 18px;
    /* margin-left: 8%; */
    margin-top: 6%;
    background-color: #da4d20;
    color: #fff;
    padding: 1rem 2rem;
    text-align: left;
  }  
  #ico2 {
    font-size: 18px;
    margin-left: 8%;
    margin-top: 6%;
    background-color: #da4d20;
    color: #fff;
    padding: 1rem 2rem;
    text-align: left;
  }

  #ico3 {
    font-size: 18px;
    margin-left: 8%; 
    margin-top: 6%;
    background-color: #da4d20;
    color: #fff;
    padding: 1rem 2rem;
    text-align: left;
  }
.card-body {
    font-size: 17px;
    background-color: #da4d20;
    color: #fff;
  }
#pos {
  font-size: 18px;
  /* margin-left: 8%; */
  margin-top: 6%;
  background-color: #da4d20;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

#pos1 {
  font-size: 18px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #e25f35;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

#pos2 {
  font-size: 18px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #e46a43;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

#pos3 {
  font-size: 18px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #e67958;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

#pos4 {
  font-size: 18px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #ea8f72;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

#pos11 {
  font-size: 18px;
  /* margin-left: 8%; */
  margin-top: 6%;
  background-color: #da4d20;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

#pos12 {
  font-size: 18px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #e25f35;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

#pos13 {
  font-size: 18px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #e46a43;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;
}
@media screen and (min-width: 480px){
.axprice h4 {
  font-size: 10px;
}
}

@media only screen and (max-width: 480px){
#crypto h3{
  font-size: 12px;
  color: #fff;
}
  .about-col .section-header {
    text-align: center;
  }
  .about-col header h1 {
    text-align: center;
  }

  #pos11{
    padding: 0rem 0rem;
  }

  #pos12{
    padding: 0rem 0rem;
    margin-left: 0%; 
  }

  #pos13{
    padding: 0rem 0rem;
    margin-left: 0%; 
  }

  #pos{
    
  }

  #pos1{
    
    margin-left: 0%; 
  }

  #pos2{
    
    margin-left: 0%; 
  }

  #pos3{
    
    margin-left: 0%; 
  }

  #pos4{
   
    margin-left: 0%; 
  }
}

#left-ax h2{
  margin-top: 5px; 
  font-size:18px; 
  color: #ded8d8;
  line-height: 26px;
}
#left-ax1 h3{
color: #ded8d8; font-size: 16px; text-align: left;}

@media only screen and (max-width: 768px){
#timline-desktop{
  display: none;
}
#timline-mobile{
  display: block;
}
}

@media only screen and (min-width: 1024px){
  #timline-mobile{
    display: none;
  }
  #timline-desktop{
    display: block; }
  }

@media only screen and (max-width: 768px)  {

  #airdrop{
     display: none;
  }
  #bounty{
    display: none;
 }
}

.mouse {
  width: 22px;
  height: 37px;
  border: 2px solid #fff;
  position: absolute;
  bottom: 17px;
  left: 50%;
  margin-left: -12.5px;
  border-radius: 12px;}

  @-webkit-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-moz-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-o-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
.mouse::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top:10px;
    margin-left: -2.5px;
    transition:all 0.3s ease-in;

     -webkit-animation-name: rotateplane; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: rotateplane;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.textleft h1 {
  font-size: 36px;
  font-family: "Montserrat";
  color: rgb(243, 133, 30);
  line-height: 1.2;
  left: 403.994px;
  top: 284.959px;
  z-index: 66;
  letter-spacing: -1px;
}

#startnow{
background-color: #f3851e; color: #FFF; border: 1px solid #e66a20;padding: 9px 24px; font-size: 10px;
color: rgb(255, 255, 255);text-transform: uppercase; letter-spacing: 2px; font-weight: 600;}

#login2{
  color: #fff; border: 1px solid #fff;padding: 9px 24px; font-size: 10px;
  letter-spacing: 2px; font-weight: 600; text-transform: uppercase;
}

/* New Changes by Dev */

@media (max-width: 1199px) {

  .top-section h2 {
    font-size: 26px;
  }
  
  .video-right img {
    max-width: 550px;
  }
  
  .robo-two img{
  z-index:0;
  }
  
  .robo img {
    width: 442px;
  }
  
  .ico h3 {
    font-size: 26px;
  }
  
  .system {
    margin-top: -10px;
  }
  .sys-box span {
    font-size: 25px;
  }
  .distribution p {
    font-size: 13.5px;
  }
  
  .roadmap li {
    padding-top: 10px;
    width: 55.89%;
  }
  
  .roadmap li:nth-child(2n+1){
  padding-top: 10px;
  background-position: 73% 57px;
  }
  .od-box h6 {
    font-size: 12px;
  }
  .level-inner .level-box {
    margin-right: 5px;
  }
  .level-inner p {
    font-size: 10px;
  }
  .level-inner p span {
    font-size: 60px;
  }
  .press img {
    width: 180px;
  }
  
  footer h4 {
    font-size: 20px;
  }
  
  .progress-bar1 {
    width: 400px;
    height: 400px;
  }
  .progress-bar1 div {
    width: 350px;
    height: 350px;
  }
  
  .progress-bar1 .rotate, .progress-bar1 .left, .progress-bar1 .right{
  clip: rect(0 175px 350px 0);
  }
  .progress-bar1 div span {
    width: 250px;
    height: 250px;
    left: 50px;
    top: 50px;
    line-height: 250px;
    font-size: 70px;
  }
  .pc img {
    left: -50px;
  }
  .time-count {
    font-size: 60px;
  }
  }
  @media (max-width: 991px) {
  
  .top-section h2 {
    font-size: 25px;
  }
  
  .robo img {
    max-width: 100%;
    width: 40%;
    margin: 0 auto;
    bottom: 0;
    top: auto;
  }
  
  .mob-video {
    width: 45%;
    float: right;
  }
  
  .video-section {
    position: relative;
  }
  .video-section .col-md-12 {
    position: static;
  }
  
  .video-right img {
    max-width: 100%;
  }
  
  .problem-solution {
    background: none;
    padding-bottom: 0;
    position: relative;
  }
  
  .ps-left ul {
    margin: 0 0 50px;
  }
  
  .problem-solution::after {
    position: absolute;
    content: "";
    background: radial-gradient(#fff 20%, #f1f1f1, #e1e4e3);
    width: 100%;
    height: 46%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .ps-right h2 {
    text-align: left;
  }
  
  .ps-right h2 br {
    display: none;
  }
  .ps-right ul {
    margin: 0;
  }
  .big-white-part {
    background-position: top center;
  }
  .ps-right ul li:nth-child(2n) {
    text-align: left;
  }
  
  .ps-right ul li:nth-child(2n) img {
    float: left;
    margin: 0 15px 0 0;
  }
  .ps-right ul li {
    margin: 0 0 15px;
  }
  
  .ico .big-head {
    margin: 0;
    text-align: center;
  }
  
  .robo-two img {
    position: relative;
    max-width: 100%;
    left: auto;
    top: auto;
    width: auto;
    margin: 0 auto 30px;
  }
  
  .join {
    text-align: center;
  }
  
  .join span, .join.join-left span {
    padding: 0 20px;
  }
  
  .heart {
    text-align: center;
  }
  
  .pc img {
    position: relative;
    max-width: 100%;
    left: auto;
    margin:0 0  20px;
  }
  
  .ico {
    position: relative;
  }
  
  .ico .col-md-12 {
    position: static;
  }
  
  .progress-bar1 {
    position: absolute;
    top: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .mob-ico {
    margin-top: 440px;
  }
  
  .system {
    margin-top: 30px;
  }
  
  .sys-box span {
    font-size: 17px;
  }
  
  .sys-box {
    font-size: 10px;
  }
  
  .roadmap ul {
    position: relative;
  }
  
  .roadmap ul::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 100%;
    background: #1a3947;
    left: 9px;
    top: 0;
    border-radius: 10px;
  }
  
  .roadmap li::after {
    display: none;
  }
  
  .roadmap li, .roadmap li:nth-child(2n+1) {
    float: none;
    width: 100%;
    padding: 0 0 0 45px;
    background-position: 0 center;
    text-align:left;
    margin: 0 0 15px;
    z-index:1;
  }
  
  .order {
    background-position: center 28%;
  }	
  
  .order-top {
    text-align: left;
  }
  
  .order-pc img {
    position: relative;
    right: auto;
    top: auto;
    max-width: 100%;
    margin:0 auto 20px;
  }
  .order-head {
    margin-bottom: 20px;
  }
  
  .order-bottom .ob-box {
    width: 24.5%;
    margin-bottom: 15px;
  }
  
  .order-download h5 {
    text-align: center;
  }
  
  .exchanges img {
    margin: 0 20px 30px;
  }
  
  /* .level-level {
    text-align: left;
    background: url("../../assets/newwebsite/img/robo-hand-mob.png") no-repeat center -70px;
    background-size: 100% auto;
    padding-top: 410px;
  } */
  
  .level {
    background-position: 0 0;
    background-size: 100% auto;
  }
  
  .level p {
    float: none;
    max-width: 100%;
  }
  
  .level-inner .level-box {
    margin-right: 20px;
  }
  
  .press img {
    width: 150px;
    margin-right: 25px;
  }
  
  .event-news h2 {
    font-size: 27px;
  }
  
  .news-box h2 {
    font-size: 18px;
  }
  
  footer .col-md-6 {
    margin-bottom: 25px;
  }
  
  .rb {
    display: none;
  }
  
  .top-section h1 {
    margin-top: 2rem;
  }
  
  .scroll-btn {
    bottom: 15px;
  }
  
  .top-btns a {
    width: 160px;
  }
  
  
  .top-section .row .col-xl-6 {
      width: 100%;
    }
  
  }
  
  @media (max-width: 767px) {
  
  .top-section h1 {
    margin-top: 5rem;
    font-size: 35px;
  }
  
  .top-section h2 {
    font-size: 24px;
  }
  
  .top-btns a {
    margin: 0 5px;
    width: 150px;
  }
  
  .mob-video {
    width: 55%;
  }
  
  .video-right p {
    font-size: 15px;
  }
  
  .unique-section ul {
    margin-bottom: 30px;
  }
  
  .rate-box {
    margin: 0 0 25px;
  }
  
  .big-blue-part {
    margin-top: 15px;
    padding-top: 30px;
  }
  
  .sys-box {
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .sys-box span {
    font-size: 22px;
  }
  
  .order-bottom .ob-box {
    width: 24.3%;
  }
  
  .level-inner .level-box {
    margin: 0 15px 15px;
  }
  
  .press img {
    width: auto;
    margin: 0 20px 20px;
    max-width: 200px;
  }
  
  .events.owl-carousel {
    margin-bottom: 25px;
  }
  
  .news-box img {
    width: 100%;
  }
  .meet-box h3 {
    font-size: 20px;
  }
  .invest {
    background-size: 100% auto;
  }
  
  .ps-left ul li p {
    text-align: justify;
    max-width: 100%;
  }
  
  .level-level {
    padding-top: 300px;
  }
  
  .desktop-div {
    display: none;
  }
  
  .mobile-div {
    display: block;
  }
  .invest .owl-dots {
    top: -30px;
    left: 0;
    bottom:auto;
  }
  .timer .timer-box {
    padding-right: 40px;
  }
  
  /* .top-section {
      background: url("../../assets/newwebsite/img/mobile-top.jpg") no-repeat center center;
      background-size: cover;
    } */
  .robo img {
      width: 33%;
    }
  .exchanges .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto 15px;
  }
  }
  
  @media (max-width: 575px) {
  .logo {
    width: 170px;
  }
  .lang-menu {
    padding-top: 10px;
  }
  .top-section h1 {
    font-size: 30px;
    margin-top: 1rem;
  }
  .top-section h2 {
    font-size: 13px;
  }
  .top-section h3 {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .top-section h4 {
    font-size: 16px;
  }
  .timer .timer-box {
    padding-right: 15px;
    font-size: 10px;
  }
  .time-count {
    font-size: 35px;
  }
  .timer .timer-box::after {
    content: "..";
    bottom: auto;
    top: -10px;
    right:0;
  }
  .top-section h5 {
    font-size: 18px;
  }
  .top-section h5 span {
    font-size: 30px;
  }
  .top-btns a {
    width: 48%;
    font-size: 10px;
    margin: 0px 0 10px 2.3%;
  }
  
  .top-btns a.how-it {
    width: 100%;
    background: none;
  }
  
  .top-btns {
    text-align: center;
  }
  .video-right p {
    font-size: 10px;
    line-height: 15px;
  }
  
  .mob-video {
    width: 63%;
  }
  
  .video-right h5 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .robo img {
    width: 43%;
    left: 0;
  }
  .problem-solution::after {
    height: 54%;
  }
  h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .ps-right ul li img {
    width: 90px;
  }
  .ps-right ul li p {
    padding-top: 10px;
    font-size: 12px;
  }
  .distribution p {
    font-size: 12px;
    line-height: 22px;
  }
  .roadmap li, .roadmap li:nth-child(2n+1) {
    text-align: justify;
  }
  
  .order-right h2 {
    font-size: 20px;
  }
  .order-download h5 {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .order-download .od-box{
    width: 35%;
  }
  
  .order-download .od-box.middle {
  width:30%;
  }
  
  .od-box img {
    margin-right: 5px;
    width: 25px;
  }
  .od-box h6 {
    font-size: 8px;
    margin-top: 5px;
  }
  .od-box h6 span {
    font-size: 10px;
  }
  .order-bottom .ob-box {
    width: 49.2%;
  }
  .ob-box p {
    font-size: 12px;
  }
  .exchanges img {
    margin: 0 0 15px;
    display: block;
  }
  .level h2.big {
    font-size: 32px;
  }
  .press-inner {
    max-width: 250px;
    margin: 0 auto;
  }
  .press img {
    display: block;
    margin: 0 auto !important;
  }
  
  .event-news h2 {
    font-size: 20px;
  }
  .progress-bar1 {
    width: 290px;
    height: 290px;
    padding:10px;
  }
  .progress-bar1 div {
    width: 270px;
    height: 270px;
  }
  
  .progress-bar1 .rotate, .progress-bar1 .left, .progress-bar1 .right {
    clip: rect(0 135px 270px 0);
  }
  .progress-bar1 div span {
    width: 210px;
    height: 210px;
    left: 30px;
    top: 30px;
    line-height: 210px;
    font-size: 55px;
  }
  .mob-ico {
    margin-top: 310px;
  }
  .order {
    background-position: center 0;
  }
  .join span, .join.join-left span {
    padding: 0 10px;
  }
  .exchanges {
    padding: 40px 0;
  }
  .exchange-box {
    max-width: 230px;
    margin: 0 auto;
  }
  .level-level {
    padding-top: 300px;
    background-position: center -40px;
  }
  .owl-dots {
    top: auto;
    bottom: 0px;
    left: 0;
    margin: auto;
    text-align: center;
  }
  .owl-carousel {
    padding-bottom: 25px;
  }
  
  .video-right p br {
    display: none;
  }
  
  .robo img {
      width: 40%;
    }
  
  }
  
  @media (max-width: 400px) {
  
  .level-level {
      padding-top: 200px;
    }
  
  }
  .mobile-div {
    display: none;
  }
  