<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>AlphaX</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>



	<!-- javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="assets/static/js/app-menu.min.js" type="text/javascript"></script>
	<script src="assets/static/js/app.min.js" type="text/javascript"></script>
	<script src="assets/static/js/vendors.min.js" type="text/javascript"></script>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" style="background: rgba(0, 0, 0, 0.7);">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1>
          <a [routerLink]="['/home']">
            <img src="/assets/website/img/logo.png" alt="Alpha-X" title="Alpha-x" style="width: 50%;">
          </a>
        </h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active">
            <a [routerLink]="['/home']" translate>Home</a>
          </li>
          <li>
            <a href="#about" translate>About Us</a>
          </li>
          <li>
            <a href="#services" translate>Features</a>
          </li>
          <li>
            <a href="#portfolio" translate>Roadmap</a>
          </li>
           <li>
            <a [routerLink]="['/team']" translate>Team</a>
          </li> 
              <li>
            <a [routerLink]="['/webfaq']" translate>FAQ</a>
          </li>
          <li>
            <a [routerLink]="['/contactus']" translate>Contact us</a>
          </li>
         
          <li class="menu-has-children">
            <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
              <i id="myDIV" class="flag-icon flag-icon-gb"></i>
            </a>
            <ul> 
              <li>
                <a class="dropdown-item" (click)="switchLanguage('en','HOME_english')">
                  <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp; English</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ch','HOME_chineese')">
                  <i class="flag-icon flag-icon-cn"></i>&nbsp;&nbsp; Chinese</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('fr','HOME_french')">
                  <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp; French</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ger','HOME_german')">
                  <i class="flag-icon flag-icon-de"></i>&nbsp;&nbsp; German</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('rus','HOME_russian')">
                  <i class="flag-icon flag-icon-me"></i>&nbsp;&nbsp; Russian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('ita','HOME_italian')">
                  <i class="flag-icon flag-icon-it"></i>&nbsp;&nbsp; Italian</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="switchLanguage('spa', 'HOME_spanish')">
                  <i class="flag-icon flag-icon-es"></i>&nbsp;&nbsp; Spanish</a>
              </li>
            </ul>
          </li>
          <li *ngIf = "!isLoggedIn">
            <a [routerLink]="['/login']" class="btn btn-outline-light" id="login" style="padding: 7px 26px 10px 23px; color: #e96f20; border: 1px solid #e66a20;"
              translate>LOGIN</a>
          </li>

          <li *ngIf = "isLoggedIn" class="dropdown dropdown-user nav-item nav navbar-nav float-left"><a class="dropdown-toggle nav-link dropdown-user-link"  data-toggle="dropdown">
            <span class="avatar avatar-online">
              <img *ngIf=isImage src="{{backendUrl}}/uploads/{{profileImage}}" alt="avatar">
              <img *ngIf=!isImage src="/assets/static/images/avatar-s-1.png" alt="avatar">
            </span>
          </a>
            <div class="dropdown-menu dropdown-menu-right">          
              <a class="dropdown-item" style="color:#2A2E30"><span style="color:#2A2E30" translate>Welcome</span> {{userName}}</a><br>
              <a class="dropdown-item" [routerLink]="['/index']"><i class="ft-user" style="color:#2A2E30"></i><span style="color:#2A2E30">Dashboard</span></a>
              <div class="dropdown-divider"></div><a style="color:#2A2E30" class="dropdown-item" (click)="logout()"><i class="ft-power" ></i> Logout</a>
            </div>
          </li>

        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <!-- <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel"> -->

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('/assets/website/img/intro-carousel/banner.jpg');">
            <div class="container">
              <div class="row" style="padding-top: 10%;">
                <div class="col-lg-6 col-md-12">
                  <div id="ai-img">
                  <img src="/assets/website/img/AI.png" class="img-fluid" style="width:92%;">
                </div>
                </div>
                
                  <div class="col-lg-6 col-md-12">
                      <br>
                  <div id="left-ax2" style="text-align: center; padding-right: 6rem; padding-top: 10%;">
                   <img src="/assets/website/img/logo.png" style="width: 50%; padding-bottom: 0px; margin-left: 3%;">
                   </div>
                   <br>
                   <div id="left-ax">
                    <h1 style="color: #777777;text-align: center; font-size: 23px; padding-right: 4rem; font-weight: 600; background-image: linear-gradient(to top, #777777, #c5c5c5);
                    color: transparent; font-family: Calibri, Candara, Segoe; text-shadow: 1px 1px #828282;
                    -webkit-background-clip: text; -webkit-text-stroke-width: .5px;
                    -webkit-text-stroke-color: #d6d6d6;" translate>POWERED BY Artificial Intelligence</h1>
                    <br>
                  </div>
                   <div id="left-ax1">
                    <h3 style="color: #283038; text-transform: capitalize;" translate><img src="/assets/website/img/dot2.png"> &nbsp; Your Virtual Assistant Based On Blockchain</h3>
                    
                    <h3 style="color: #283038; text-transform: capitalize;" translate><img src="/assets/website/img/dot2.png"> &nbsp; Power of Blockchain with brains Of Artificial Intelligence</h3>
                    
                    <h3 style="color: #283038; text-transform: capitalize;" translate><img src="/assets/website/img/dot2.png"> &nbsp; Marketplace Assisted With AI And Blockchain</h3>
  
                    <h3 style="color: #283038; text-transform: capitalize;" translate><img src="/assets/website/img/dot2.png"> &nbsp; Crypto Currency - Fiat Exchange</h3>
  
                    <h3 style="color: #283038; text-transform: capitalize;" translate><img src="/assets/website/img/dot2.png"> &nbsp; Real usage of AX-Coin</h3>
                    <br>
                    </div>
                    <div id="login1">
                      <a [routerLink]="['/signup']" class="btn btn-outline-light" id="startnow" style="padding: 0.75rem 2rem; background-color: #e96f20; color: #FFF; border: 1px solid #e66a20;"
                        translate>BUY AX-COIN NOW</a>&nbsp;&nbsp;&nbsp;
                      <a target="_blank" href="/assets/website/whitepaper/Whitepaper.pdf" class="btn btn-outline-light" style="padding: 0.75rem 2rem; color: #e66a20; border: 1px solid #e66a20;"
                        translate>WHITEPAPER</a>&nbsp;&nbsp;&nbsp;
                      
		      <a class="btn btn-outline-light" style="padding: 0.75rem 3.5rem; color: #e66a20; border: 1px solid #e66a20;" target="_blank" href="https://www.youtube.com/watch?v=HxJfbbrmagg&t=4s" target="_blank">VIDEOS</a>
                      <!-- <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal" style="padding: 0.75rem 2rem; color: #e66a20; border: 1px solid #e66a20;"
                        translate>VIDEO</button> -->
  
                    
                    </div>
                  </div>
       
              </div>              
            </div>
            <!-- <div class="row">
                <div class="col-lg-12  col-md-12" style="padding-top: 1%;">
                  <div id="crypto">
               <h3 style="text-align: center;"> THE BEST PROJECT FOR REAL USABILITY OF CRYPTO CURRENCY 2019</h3>
               </div>
              </div>
             </div> -->
             
             <!-- <div class="row" style="padding-top: 4%;">
               
                <div class="col-lg-1"></div>
             <div class="col-md-2" style="padding: 0px; display: contents;">
                <button type="button" id="airdrop" class="btn btn-outline-light" style="margin: -5px 0px 4px 5px; padding: 0.75rem 2rem; color: #fff; background-color:#d94720; font-weight: 700; border: 1px solid #fff;"
                translate>AIRDROP PROGRAM</button>
            </div>
             <div class="col-lg-6 col-md-8" style="padding: 0px;">            
             <marquee style="color: #ffffff;font-size: 13px; border-bottom: 1px solid;border-top: 1px solid; padding: 4px;">
               Usability Coin---Fast And Secure Payment---User Friendly Exchange And Trading---Mulitcurrency Wallet---Debit Card Usable Around The Globe---Worldwide Marketplace---</marquee>
              </div>
              <div class="col-md-2" style="padding: 0px;">
                <button type="button" id="bounty" class="btn btn-outline-light" style="margin: -5px 0px 0px 0px;  background-color:#d94720; padding: 0.75rem 2rem; font-weight: 700; color: #fff; border: 1px solid #fff;"
                  translate>BOUNTY PROGRAM</button>
              </div>
              <div class="col-lg-1"></div>
             
              </div> -->
          </div>
        </div>
      <!-- </div> -->
    </div>
  </section>
  <!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row counters" style="padding: 3% 0% 4% 0%;">

              <div class="col-md-1"></div>
              <div class="col-lg-2 col-4 text-center">
                  <span><img src="/assets/website/img/ax.png" style="WIDTH: 100%;"></span>
                  <p class="axprice" style="color:#fff;margin-top: -16%; padding-left: 16%;text-align: center;
                  font-size: 14px;">
                   $ 0.1
              </p>
                </div>
            <div class="col-lg-2 col-4 text-center">
              <span><img src="/assets/website/img/btc.png" style="WIDTH: 100%;"></span>
              <p class="axprice" style="color:#fff;margin-top: -16%; padding-left: 29%;text-align: center;
              font-size: 14px;">
               $ {{btclive | number:'1.2-2'}}
            </p>
            </div>

            <div class="col-lg-2 col-4 text-center">
              <span><img src="/assets/website/img/eth.png" style="WIDTH: 100%;"></span>
              <p class="axprice" style="text-align: center; font-size: 14px;color:#fff;margin-top: -16%; padding-left: 25%;">
                $ {{ethlive | number:'1.2-2'}}
              </p>
            </div>

            <div class="col-lg-2 col-4 text-center">
              <span><img src="/assets/website/img/ltc.png" style="WIDTH: 100%;"></span>
              <p class="axprice" style="color:#fff;margin-top: -16%; padding-left: 21%; text-align: center;
              font-size: 14px;">
                $ {{ltclive | number:'1.2-2'}}
            </p>
            </div>

            <div class="col-lg-2 col-4 text-center">
              <span><img src="/assets/website/img/bch.png" style="WIDTH: 100%;"></span>
              <p class="axprice" style="color:#fff;margin-top: -16%; padding-left: 27%; text-align: center;
              font-size: 14px;">
                $ {{bchlive | number:'1.2-2'}}
            </p>
            </div>
            <div class="col-md-1"></div>
          
        </div>
      </div>
    </section>
    <!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-6" style="background-image: url(/assets/website/img/left-abt.jpg); background-size:100% 100%;">
            <div class="about-col">
              <div class="img" style="padding: 5%; padding-top: 15%;">
                <img src="/assets/website/img/AXCOIN01.png" alt="" class="img-fluid">

              </div>
            </div>
          </div>

          <div class="col-md-6" style="background:#111a23;">
            <div class="about-col">
              <header class="section-header" style="text-align: left; padding: 15% 0px 0px 8%;">
                <h1 style="text-align: left; font-size: 33px; color: #e96f20; font-weight: 700;" translate>OUR SOLUTION</h1>
                <img src="/assets/website/img/line.png">
              </header>
              <br>
              <div style="color: #97999b;padding: 0% 0px 0px 8%; font-size: 16px;" translate>AlphaX is an entirely new generation of crypto-currency based on Scrypt using a complete Proof Of Stake (POS) network. The transactions made over Alpha-X's blockchain network are instant, and almost take place in real time, they are entirely anonymous and private, and are also very secure. The whole operation takes place over the Alpha-X decentralised P2P network's self-governed architecture. Our intention is to make it as good as virtual cash (plastic cards) so that it can provide real time liquidity and utility within the market.</div>
              <br>
              <div style="color: #97999b;padding: 0% 0px 0px 8%; font-size: 16px;" translate>Alpha-X have its own AI system developed as X-intelligence a system which will assist user in daily tasks and will understand and help users in daily tasks. Understanding private and public data for user.</div>
              <a [routerLink]="['/aboutus']" onclick="myFunction()" class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; color: #e66a20; border: 1px solid #e66a20; padding: 0.75rem 2rem;"
                translate>MORE FEATURES</a>

            </div>
            <br>
          </div>


        </div>

      </div>
    </section>
    <!-- #about -->

    <section id="wallets">
      <div class="container">
  
        <header class="section-header">
          <h3>Ratings</h3>
        </header><br><br>
        <div class="row" style="text-align: center;">
          <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;" style="padding-bottom: 5%;">
              <a href="https://icobench.com/ico/alphax" target="_blank" rel="nofollow" title="AlphaX on ICObench"><img border="0" src="https://icobench.com/rated/alphax?shape=square&size=s" width="100px" height="100px" alt="AlphaX ICO rating"/></a>
            <!-- <h4 class="title"><a href="https://icobench.com/" target="_blank" style="color: #e86f1e;"><img src="/assets/website/img/icobench.png" style="width: 50px;"> ICOBench</a></h4> --><br><br>
            <h4 class="title"><a href="" style="color: #e86f1e;">ICOBench</a></h4>
          </div>

          <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
            <a href="https://cryptototem.com/alpha-x-ico/" target="_blank" title="Alpha-X rating on CryptoTotem"><img border="0" src="https://cryptototem.com/widgets/imggen.php?w=100&h=100&format=1&color=1&ico_id=17602" alt="Alpha-X ICO rating"></a><br><br>
          <h4 class="title"><a href="" style="color: #e86f1e;">CryptoTotem</a></h4>
        </div>

        <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
          <a href="https://icomarks.com/ico/alphax" target="_blank" rel="nofollow" title="AlphaX"><img border="0" src="https://icomarks.com/widget/a/alphax/square.svg" width="100px" height="100px" alt="AlphaX ICO rating"/></a><br><br>
        <h4 class="title"><a href="" style="color: #e86f1e;">ICOmarks</a></h4>
      </div>

        <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
          <a href="https://www.trackico.io/ico/alpha-x/" target="_blank" title="Alpha-X on TrackICO">
            <img border="0" src="https://www.trackico.io/widget/square/alpha-x/400.png" width="100px" alt="Alpha-X TrackICO rating">
          </a>
          <br><br>
            <h4 class="title"><a href="" style="color: #e86f1e;">TrackICO</a></h4>
        </div>
          
          <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
              <a href="https://foundico.com/ico/alpha-x.html" target="_blank" rel="nofollow" title="Alpha-X on Foundico.com"><img width="100" height="100" border="0" src="https://foundico.com/widget/?p=23291&f=s" alt="Alpha-X score on Foundico.com" /></a>
              <br>
              <br>
              <h4 class="title"><a href="" style="color: #e86f1e;"> Foundico</a></h4>
          </div>
          <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
              <a href="https://spine.ws/ico/alpha-x" target="_blank" rel="nofollow" title="AlphaX on Spine"><img border="0" src="/assets/website/img/spinerating.png" width="100px" height="100px" alt="AlphaX ICO rating"/></a>
              <br>
              <br>
            <h4 class="title"><a href="" style="color: #e86f1e;"> Spine</a></h4>
          </div>
          <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: bounceInUp;">
              <a href="https://www.coinhills.com/ico/view/alpha-x/" target="_blank" rel="nofollow" title="AlphaX on Coinhills"><img border="0" src="/assets/website/img/coinhillrating.png" width="100px" height="100px" alt="AlphaX ICO rating"/></a>
              <br>
            <br>
            <h4 class="title"><a href="https://www.coinhills.com/ico/view/alpha-x/" target="_blank" style="color: #e86f1e;"> Coinhill</a></h4>
          </div>

          <div class="col-lg-3 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: bounceInUp;">
            <a href="https://icobirds.com/ico/alpha-x" target="_blank" rel="nofollow" title=""> <img border="0" src="https://icobirds.com/web/widget/alpha-x.svg" width="100" height="100"></a>
            <br>
          <br>
          <h4 class="title"><a href="" target="_blank" style="color: #e86f1e;"> ICOBirds</a></h4>
        </div>
          <!-- <div class="col-lg-4 col-md-6 box wow bounceInUp"></div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: bounceInUp;">
              <a  href="https://www.trackico.io/"
                  target="_blank"
                  title="TrackICO">
                  <img width="100" height="100" border="0"
                      src="https://www.trackico.io/static/img/partner_logo_white.png"
                      alt="TrackICO - provider of information about the best ICOs">
              </a>
              <br>
            <br>
            <h4 class="title"><a style="color: #e86f1e;"> TRACKICO</a></h4>
          </div> -->
        </div>
      </div>
    </section>

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3 translate>UNIQUE SELLING POINTS (USP)</h3>
        </header>
        <br>
        <br>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">

            <h4 class="title" translate>Alpha-X Coin (AX)</h4>
            <p class="description" translate>The coins, distributed through the main chain in the ICO, are Alpha-X coins. 
              This is a POS based crypto-currency and hence is quite fast, secure and anonymous.
              We intend to promote it as a Utility Coin, through which we will increase the utility proposition within the market and, 
              at the right time, we can even integrate point-of-sale (POS) into AX</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">

            <h4 class="title" translate>Alpha-X Exchange (AXE)</h4>
            <p class="description" translate>This will be created at a later stage using the ICO funds of AX. It will be launched as a global crypto-currency exchange, with the intention of providing more and more liquidity to different Fiat-Crypto pairs. The mission is to get up to 100 plus pairs of Fiat / Crypto-currency and make the exchange accessible to everyone around the globe.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <h4 class="title" translate>Alpha-X Wallet</h4>
            <p class="description" translate>A decentralised QT wallet for Windows, Mac and Linux clients for storing, sending, receiving and minting new Alpha-X coin. The user will hold his private keys in here and hence it's the most secure way to keep your money with you.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <br>
            <br>
            <h4 class="title" translate>Alpha-X Mobile App</h4>
            <p class="description" translate>This is a lightweight interface, where all the related activities will take place. It is where the user can put their coin and can spend it whenever, and wherever, required.</p>
          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <br>
            <br>
            <h4 class="title" translate>Alpha-X Market</h4>
            <p class="description" translate>An online marketplace, which will to bring the merchants and buyers closer together. Here the participating merchants can sell their merchandise directly to the buyers who will use Alpha-X coins.</p>
          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <br>
            <br>
            <h4 class="title" translate>Alpha-X Debit Card</h4>
            <p class="description" translate>Alpha-X inteads to provide true liquidity to its users, around the globe and around the clock. Any-one can buy or sell Alpha-X in their own locality, at any time, without any problem. We intend to provide AX debit cards as well, and integrate them with point of sale.</p>
          </div>

         
        </div>
        <!-- <a class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; color: #e66a20; border: 1px solid #e66a20; padding: 1rem 2rem;" target="_blank" ng-reflect-target="_blank" ng-reflect-router-link="/login" href="#/login">BUY NOW</a> -->
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4 text-center-md" style="text-align: center;">
            <br>
            <a class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; background-color: #e66a20; color: #fff; border: 1px solid #e66a20; padding: 1rem 2rem;"
              [routerLink]="['/signup']" translate>BUY NOW</a>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>

    </section>

   

    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3 translate>ICO TIMELINE & TOKEN DISTRIBUTION</h3>
        </header>

        <!-- <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
        <div id="container">
        <div class="content">
            <div class="days">{{day}}</div>
            <div class="hours">{{hrs}}</div>
            <div class="minutes">{{min}}</div>
            <div class="seconds">{{sec}}</div>
          </div>
          <div class="title">
            <span>Days</span>
            <span>Hours</span>
            <span>Minutes</span>
            <span>Seconds</span>
          </div>
</div>
</div>
<div class="col-md-2"></div>
</div> -->
<br><br>

        <div class="row packages">
          <div class="col-md-6">

            <div id="countdown-wrap">
              <div class="goal-stat1">
                <div id="goal" style="font-size: 16px; color: #97999b;" translate>30 Millions</div>
              </div>
              
              <div class="goal-stat1">
                <div class="description" id="goal" style="text-align: left;font-size: 16px; color: #97999b;" translate>Private Pre Sale</div>
              </div>
              <div id="glass">
                <div id="progress"  [ngStyle]="{'width': precentageSlab1 +'%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>

              <div class="goal-stat">
                <p class="goal-label" style="font-size: 16px; color: #97999b;" translate>Min Invest $1</p>

              </div>

              <div class="goal-stat">
                <p class="goal-label" style="text-align: right;font-size: 16px; color: #97999b;" translate>Cost $0.05</p>
              </div>

              <br>
              <br>
              <br>
              
              <!-- <h3 style="font-size: 16px; color: #e86f1e; text-align: center;" translate>50% Discount</h3> -->
               
              <p style="color: #e66a20; text-align: center; font-size: 16px; color: #97999b;text-transform:none;" translate>15 Sep 2018 - 15 Mar 2019</p>
            </div>

          </div>
          <div class="col-md-6">
            <div id="countdown-wrap">
              <div class="goal-stat1">
                <div id="goal" style="font-size: 16px; color: #97999b;" translate>50 Millions</div>
              </div>
     
              <div class="goal-stat1">
                <div id="goal" style="text-align: left; font-size: 16px; color: #97999b;" translate>Open Pre Sale</div>
              </div>
              <div id="glass">
                <div id="progress"  [ngStyle]="{'width': precentageSlab2 +'%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>

              <div class="goal-stat">
                <p class="goal-label" style="font-size: 16px; color: #97999b;text-transform:none;" translate>Min Invest $1</p>

              </div>

              <div class="goal-stat">
                <p class="goal-label" style="text-align: right;font-size: 16px; color: #97999b;" translate>Cost $0.07</p>
              </div>

              <br>
              <br>
              <br>
              <!-- <h3 style="font-size: 16px; color: #e86f1e; text-align: center;" translate>30% Discount</h3> -->
              <p style="color: #e66a20; text-align: center; font-size: 16px; color: #97999b;text-transform:none;" translate>16 Mar 2019 - 30 Apr 2019</p>
            </div>

          </div>


          <div class="col-md-12">
            <div id="countdown-wrap" style="max-width: 100%;">
              <div class="goal-stat1">
                <div id="goal" style="font-size: 16px; color: #97999b;" translate>90 Millions</div>
              </div>
              
              <div class="goal-stat1">
                <div id="goal" style="text-align: left; font-size: 16px; color: #97999b;" translate>Open Sale / Crowdsale</div>
              </div>
              <div id="glass">
                <div id="progress" [ngStyle]="{'width': precentageSlab3 +'%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>

              <div class="goal-stat">
                <p class="goal-label" style="font-size: 16px; color: #97999b;" translate>Min Invest $1</p>
              </div>


              <div class="goal-stat">
                <p class="goal-label" style="text-align: right; font-size: 16px; color: #97999b;" translate>Cost $0.09</p>
              </div>
              <div class="timer" style="margin: 0 auto; text-align: center;">

                <br>
                <br>
                <br>
                <!-- <h3 style="font-size: 16px; color: #e86f1e; text-align: center;" translate>10% Discount</h3> -->
                <p style="color: #e66a20; text-align: center; font-size: 16px; color: #97999b;" translate>1 May 2019 - 31 Jul 2019</p>
              </div>
            </div>
          </div>
        </div>

<br>
        <div class="row">
            <div class="col-lg-12">
              <header class="section-header">
                <h4 style="text-align: center; color: #97999b;font-size: 20px;" translate>1 AX = 0.1 USD</h4>
              </header>
              <br><br>
              <div class="row counters">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-3 text-center">
                  <div class="card">
                      <div class="card-body">
                          <p class="card-text" translate>Private Pre Sale <br><strong>50%</strong> Discount</p>
                      </div>
                  </div>
                  </div>

                  <div class="col-lg-3 text-center">
                      <div class="card">
                          <div class="card-body" style="background-color: #e25f35;">
                              <p class="card-text" translate>Open Pre Sale <br><strong>30% </strong>Discount</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 text-center">
                      <div class="card">
                          <div class="card-body" style="background-color: #e46a43;">
                              <p class="card-text" translate>Crowdsale<br> <strong>10% </strong>Discount</p>
                          </div>
                      </div>
                  </div>

                <!-- <div class="col-lg-2 text-center">
                  <button class="btn btn-outline" style="padding: 1rem 1rem; text-align: center;" id="pos11" translate>Private Pre Sale<br> <strong>50% </strong>Discount</button>
                </div> -->
      
                <!-- <div class="col-lg-2 text-center">
                  <button class="btn btn-outline" style="padding: 1rem 1rem; text-align: center;" id="pos12" translate>Open Pre Sale<br> <strong>30% </strong>Discount</button>
                </div> -->
      
                <!-- <div class="col-lg-2 text-center">
                  <button class="btn btn-outline" style="padding: 1rem 1rem; text-align: center;" id="pos13" translate>Crowdsale<br> <strong>10% </strong>Discount</button>
                </div> -->
                
              </div>
              <div class="col-lg-1"></div>
              
             </div>
            </div>
            <br><br><br>

        <div class="row">
          <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" style="font-size: 16px; color:#97999b;">
            <p class="description" translate>
              <strong style="color: #e66a20;" translate>30%</strong>- Advertising, Marketing and Promotions</p>
            <hr style="background-color: #283038">

            <p class="description" translate><strong style="color: #e66a20;" translate>25%</strong>- Technical, Infrastructure and Staffing</p>
            <hr style="background-color: #283038">

            <p class="description" translate><strong style="color: #e66a20;" translate>20%</strong>- Business Development and Operations</p>
            <hr style="background-color: #283038">

            <p class="description" translate><strong style="color: #e66a20;" translate>10%</strong>- Listing on another exchanges</p>
            <hr style="background-color: #283038">

            <p class="description" translate><strong style="color: #e66a20;" translate>05%</strong>- Legal Advisors</p>
            <hr style="background-color: #283038">

            <p class="description" translate><strong style="color: #e66a20;" translate>05%</strong>- Team incentives</p>
            <hr style="background-color: #283038">

            <p class="description" translate><strong style="color: #e66a20;" translate>05%</strong>- Research, Data science, Scalable Architect</p>
            <hr style="background-color: #283038">
          </div>

          <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <img src="/assets/website/img/piechart1.png" class="img-fluid">
          </div>
        </div>
<br><br><br><br>
        <div class="row">
          <div class="col-lg-12">
            <header class="section-header">
              <h3 translate>POS REWARD SYSTEM</h3>
            </header>
            <br><br>
            <div class="row counters">
              <div class="col-lg-0"></div>
              <div class="col-lg-2 text-center">
                  <div class="card">
                      <div class="card-body" style="background-color: #da4d20;">
                          <p class="card-text" translate>1st Year <strong>10% </strong> Per Month</p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-2 text-center">
                  <div class="card">
                      <div class="card-body" style="background-color: #e25f35;">
                          <p class="card-text" translate>2nd Year<br><strong>5% </strong>Per Month</p>
                      </div>
                  </div>
              </div>
             
              <div class="col-lg-2 text-center">
                  <div class="card">
                      <div class="card-body" style="background-color: #e46a43;">
                          <p class="card-text" translate>3rd Year<br><strong>3% </strong>Per Month</p>
                      </div>
                  </div>
              </div>
    
              <div class="col-lg-2 text-center">
                  <div class="card">
                      <div class="card-body" style="background-color: #e67958;">
                          <p class="card-text" translate>4th Year<br><strong>2% </strong>Per Month</p>
                      </div>
                  </div>
              </div>
             
              <div class="col-lg-3 text-center">
                  <div class="card">
                      <div class="card-body" style="background-color: #ea8f72;">
                          <p class="card-text" translate>5th Year onwards <br><strong>1% </strong> Per Month</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-0"></div>
            
           </div>
          </div>

        <!-- <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4 text-center-md" style="text-align: center;">
            <br>
            <a class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; color: #e66a20; border: 1px solid #e66a20; padding: 1rem 2rem;"
              [routerLink]="['/signup']" translate>BUY NOW</a>
          </div>
          <div class="col-lg-4"></div>
        </div> -->
      </div>
    </section>

    <section id="affiliate">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="background-image: url(/assets/website/img/unique.jpg); background-size:100% 100%;">
              <div class="about-col">
                <div class="img" style="padding: 10%; text-align: center;">
                  <img src="/assets/website/img/mblapp.png" alt="" class="img-fluid" style="width: 45%;">
      
                </div>
              </div>
            </div>
    
          <div class="col-md-6" style="background:#111a23;">
            <div class="about-col">
              <header class="section-header" style="text-align: left; padding: 15% 0px 0px 8%;">
                <h1 style="text-align: left; font-size: 34px; color: #e96f20; font-weight: 700;" translate>ALPHA-X ECOSYSTEM</h1>
                <img src="/assets/website/img/line.png">
              </header>
              <br>
             
              <div style="color: #97999b;padding: 0% 0px 0px 8%; font-size: 16px;" translate>The primary goal of the Alpha-X Eco system, with its AX Coins, is to maintain all products and services using crypto-currencies and AX Coin, regardless of the current banking and economic system. In addition we will safely manage the money and fully utilise it for fast transactions.</div>
                <br>
               <h4 style="color: #97999b;padding: 0% 0px 0px 8%; text-transform: capitalize; font-size: 15px;" translate>Multi-Currency Wallet</h4> 
               <br>
               <h4 style="color: #97999b;padding: 0% 0px 0px 8%; text-transform: capitalize; font-size: 15px;" translate>Your virtual assistant based on Blockchain</h4>
              <br>
              <h4 style="color: #97999b;padding: 0% 0px 0px 8%; text-transform: capitalize; font-size: 15px;" translate>   Power Of Blockchain With Brains Of Artificial Intelligence</h4>
              <br>
               <h4 style="color: #97999b;padding: 0% 0px 0px 8%; text-transform: capitalize; font-size: 15px;" translate>Marketplace assisted with AI and Blockchain</h4>
              <br>
               <h4 style="color: #97999b;padding: 0% 0px 0px 8%; text-transform: capitalize; font-size: 15px;" translate>Trading platform </h4>
              </div>
              <a href="https://marvelapp.com/19e39heg/screen/48177748" target="_blank" class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; color: #e66a20; border: 1px solid #e66a20; padding: 1rem 2rem; margin-bottom: 10px;"
              translate>PROTOTYPE</a>
              <br><br><br>
          </div>
    
    
        </div>
    
      </div>
    </section>    


    <!-- Affilate   under work-->


<section id="affiliate">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6" style="background:#111a23;">
        <div class="about-col" style="text-align: center;">
          
            <img src="/assets/website/img/logo.png" class="img-fluid" style="width: 60%; margin-top: 8%; margin-bottom: 2%; ">
          
        </div>
      </div>
      
      <div class="col-md-6" style="background-color: #de5420;">
         <div class="about-col" style="text-align: center; padding-top: 4%; padding-bottom: 4%;">
          <h1 style="font-size: 26
          px; color: #fff; font-weight: 700;" translate>REFFERAL PROGRAM <strong style="font-size: 46px;">10%</strong></h1>
          <a [routerLink]="['/signup']" class="btn btn-outline-light" style="margin-top: 3%; color: #fff; border: 1px solid #333f50; background-color: #333f50; padding: .75rem 5rem;"
            translate>GET YOUR LINK</a>
        </div>
      </div>


    </div>

  </div>
</section>
    <!-- Affilate End  -->

<!-- Wallets -->

<!-- <section id="wallets">
<div class="container">

  <header class="section-header">
    <h3 translate>WALLETS</h3>
  </header>

  <br>
  <br>
<div class="row">
    
<div class="col-lg-4 col-sm-6">
    <div class="card" style=" background:  transparent;
    box-shadow: 0 2px 2px 1px rgb(233, 111, 32,0.3);
    color: #97999b;">
      <div class="content">
          <div class="row">
            <div class="text">
              <p><strong  style="font-size: 16px;">Windows Wallet</strong></p>
              <div class="text">
                <img src="/assets/website/img/windows.png" alt="Windows" cass="img-responsive" style="width:50%">
              </div>
              <p><strong style="font-size: 16px;" >In Process</strong></p>
          </div>
          </div>  
      </div>
      </div>
</div>

<div class="col-lg-4 col-sm-6">
  <div class="card" style=" background:  transparent;
  box-shadow: 0 2px 2px 1px rgb(233, 111, 32,0.3);
  color: #97999b;">
      <div class="content">
          <div class="row">
            <div class="text">
              <p><strong style="font-size: 16px;">Mac Wallet</strong></p>
              <div class="text">
                <img cass="img-responsive" style="width:50%" src="/assets/website/img/mac.png" alt="Windows">
              </div>
              <p><strong style="font-size: 16px;">In Process</strong></p>
          </div>
             
          </div>
          
      </div>
  </div>
</div>
<div class="col-lg-4 col-sm-6">
  <div class="card" style="background:  transparent; box-shadow: 0 2px 2px 1px rgb(233, 111, 32,0.3);
  color: #97999b;">
      <div class="content">
          <div class="row">
            <div class="text">
              <p><strong style="font-size: 16px;">Linux Wallet</strong></p>
              <div class="text">
                <img cass="img-responsive" style="width:50%" src="/assets/website/img/linux.png" alt="Linux" >
                </div>
              <p><strong style="font-size: 16px;">In Process</strong></p>
          </div>
              
          </div>
          
      </div>
  </div>
</div>
   
  </div>

</div>
</section> -->
<!-- Wallets End -->
<section id="wallets">
    <div class="container">

      <header class="section-header">
        <h3>Wallets</h3>
      </header>
      <div class="row about-cols" style="margin-top: 7%;">

        <div class="col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="about-col" style=" background:  transparent;text-align: center;padding: 6%;
          box-shadow: 0 2px 9px 1px rgb(233, 111, 32,0.3);color: #97999b;">
              <h4 class="title" style="color: #97999b;">Windows</h4>
            <div class="img">
              <img src="/assets/website/img/windows.png" style="width: 22%;" alt="" class="img-fluid">
            </div>
            <br>
            <p><strong style="font-size: 16px;"><a href="https://github.com/dev-alphax/AlphaX-Qt" target="_blank">Download</a></strong></p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="about-col" style=" background:  transparent;text-align: center;padding: 6%;
            box-shadow: 0 2px 9px 1px rgb(233, 111, 32,0.3);color: #97999b;">
                <h4 class="title" style="color: #97999b;">Mac</h4>
              <div class="img">
                <img src="/assets/website/img/mac.png" style="width: 22%;" alt="" class="img-fluid">
              </div>
              <br>
              <p><strong style="font-size: 16px;">In Process</strong></p>
            </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="about-col" style=" background:  transparent;text-align: center;padding: 6%;
            box-shadow: 0 2px 9px 1px rgb(233, 111, 32,0.3);color: #97999b;">
                <h4 class="title" style="color: #97999b;">Linux</h4>
              <div class="img">
                <img src="/assets/website/img/linux.png" style="width: 22%;" alt="" class="img-fluid">
              </div>
              <br>
              <p><strong style="font-size: 16px;"><a href="https://github.com/dev-alphax/AlphaX-Qt" target="_blank">Download</a></strong></p>
            </div>
        </div>

      </div>

    </div>
  </section>
<!-- exchange -->
<section id ="wallets" style="background-image: url(/assets/website/img/exchange.jpg);background-size: 100% 100%;">
  <div >
		
    <div class="container">

        <header class="section-header">
            <h3 translate>Exchanges we are Contacting</h3>
        </header>
      
        <br><br><br>
        <div class="row about-cols">

            <div class="col-md-1"></div>
            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="about-col">
                
                  <div class="img">
                    <img src="/assets/website/img/exchanges/acx.png" alt="" class="img-fluid">
                  </div>
                 
                </div>
            </div>
    
            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="about-col">
                
                  <div class="img">
                    <img src="/assets/website/img/exchanges/binance.png" alt="" class="img-fluid">
                  </div>
                 
                </div>
            </div>
    
            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="about-col">
                
                  <div class="img">
                    <img src="/assets/website/img/exchanges/bitfinex.png"  alt="" class="img-fluid">
                  </div>
                 
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="about-col">
                
                  <div class="img">
                    <img src="/assets/website/img/exchanges/bitstamp.png"  alt="" class="img-fluid">
                  </div>
                 
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="about-col">
                
                  <div class="img">
                    <img src="/assets/website/img/exchanges/bittrex.png"  alt="" class="img-fluid">
                  </div>
                 
                </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        <br><br><br>
          <div class="row about-cols">

              <div class="col-md-1"></div>
              <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="about-col">
                  
                    <div class="img">
                      <img src="/assets/website/img/exchanges/upbit.png" alt="" class="img-fluid">
                    </div>
                   
                  </div>
              </div>
      
              <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="about-col">
                  
                    <div class="img">
                      <img src="/assets/website/img/exchanges/polo.png" alt="" class="img-fluid">
                    </div>
                   
                  </div>
              </div>
      
              <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="about-col">
                  
                    <div class="img">
                      <img src="/assets/website/img/exchanges/okex.png"  alt="" class="img-fluid">
                    </div>
                   
                  </div>
              </div>
  
              <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="about-col">
                  
                    <div class="img">
                      <img src="/assets/website/img/exchanges/kraken.png"  alt="" class="img-fluid">
                    </div>
                   
                  </div>
              </div>
  
              <div class="col-md-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="about-col">
                  
                    <div class="img">
                      <img src="/assets/website/img/exchanges/huobi.png"  alt="" class="img-fluid">
                    </div>
                   
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
    </div>
    
  </div>
</section>
<!-- exchange end -->


    

    <!--==========================
      Facts Section
    ============================-->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="background: black;box-shadow: 0 2px 4px 1px rgb(233, 111, 32,0.3);">
          <div class="modal-header">
            <button type="button" class="close" (click)="stopVideo()" vdoId="yvideo" id="CloseModalButton" data-dismiss="modal" style="color: white">&times;</button>
          </div>
          <div class="modal-body">
            <iframe id="videosContainers" width="100%" height="400" [src]="'https://www.youtube.com/embed/' + requestId | safe" frameborder="0" allowfullscreen></iframe>
          </div>
          <!-- <button class="btn btn-outline-light" (click)="stopVideo()" vdoId="yvideo" id="CloseModalButton" data-dismiss="modal" translate>Close</button> -->

          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>

      </div>
    </div>

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title" translate>Alpha-X Roadmap</h3>
        </header>

        <br>
        <br>

        <div class="row">
          <div class="col-md-12" id="timline-desktop">
            <img src="/assets/website/img/timline1.png" class="img-fluid">
          </div>
          <div class="col-md-12" id="timline-mobile">
              <img src="/assets/website/img/mobile-roadmap.png" class="img-fluid">
            </div>
        </div>
        
        <br>
        <br>

        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4 text-center-md" style="text-align: center;">
            <br>
            <a class="btn btn-outline-light" style="margin-left: 8%; margin-top: 6%; background-color: #e66a20; color:#fff; border: 1px solid #e66a20; padding: 1rem 2rem;"
              [routerLink]="['/signup']" translate>BUY NOW</a>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
    </section>
<!-- Social links -->
<!-- <section id ="wallets">
      <div class="container">
          <header class="section-header">
              <h3 translate>SOCIAL LINKS</h3>
            </header>
          <br> <br><br>
         <div class="row"> 
                 <div class="col-md-12 text-center">
       <div id="soc">
          <a href="https://alphax-dev.slack.com/messages" target="_blank" style="background: red;color:white"class="fa fa-slack circle"></a>
          <a href="https://www.pinterest.com/alphax0113" target="_blank" style="background: green;color:white"class="fa fa-pinterest circle"></a>
          <a href="https://plus.google.com/u/1/104456778950569905138" target="_blank" style="background: blue;color:white" class="fa fa-google-plus circle"></a>
          <a href="https://www.facebook.com/alphaxofficialsupport" target="_blank" class="fa fa-facebook"></a>
          <a href="https://twitter.com/alphax_official" target="_blank" class="fa fa-twitter"></a>
          <a href="https://medium.com/@alphaX" target="_blank" class="fa fa-medium"></a>
          <a href="https://web.telegram.org/#/im?p=@alphax_official/" target="_blank" class="fa fa-telegram"></a>
          <a href="https://www.reddit.com/user/AlphaX2807/posts/" target="_blank" class="fa fa-reddit"></a>
          <a href="https://vk.com/public172333507" target="_blank" style="background-color: #45668e; color: #fff;" class="fa fa-vk"></a>
          <a href="https://www.instagram.com/alphax_admin/" target="_blank" class="fa fa-instagram"></a>
          <a href="https://bitcointalk.org/index.php?topic=5028888.80" target="_blank" style="background-color: #f7931a; color: #fff;" class="fa fa-btc"></a>
        </div>
      </div>
        </div>
      </div>
  </section> -->
<!-- social  links end -->

    
  </main>

  <!--==========================
    Footer
  ============================-->
  <div class="text-center">
      <footer id="footer">
       
        <div class="footer-top">
          <div class="container">
            <div class="row">
                
              <div class="col-lg-3 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600" translate>About Alpha-X</h5>
                <p translate>AlphaX is an entirely new generation cryptocurrency based on Scrypt using a complete Proof Of Stake (POS) network.</p>
              </div>
    
             
                  <div class="col-lg-3 col-md-6 footer-info" style="color
                  :#6d6e72">
                      <h5 style="color: #e96e20; font-weight: 600" translate>Legal</h5>
          
                      <a routerLink= "/coinsale" style="color: #6d6e72; " translate>Coin Sale Agreement</a><br>
                            <a routerLink= "/intellectual"  style="color: #6d6e72; " translate>Intellectual Property</a><br>
                            <a routerLink= "/privacypolicy"  style="color: #6d6e72; " translate>Privacy Policy</a><br>
                            <a routerLink= "/termsconditions"  style="color: #6d6e72; " translate>Terms & Conditions</a><br>
                            <a routerLink= "/disclaimer"  style="color: #6d6e72; " translate>Disclaimer</a><br>
                            <a routerLink= "/disclaimerWhitepaper"  style="color: #6d6e72; " translate>Disclaimer for Whitepaper</a>
                          </div>
             
    
              <div class="col-lg-3 col-md-6 footer-info">
                <h5 style="color: #e96e20; font-weight: 600; text-align: left;" translate>Features</h5>
                <p title="Coming Soon" translate>QT-Wallet</p>
                <p title="Coming Soon" translate>Mobile Payment</p>
                <p title="Coming Soon" translate>Exchange</p>
                <p title="Coming Soon" translate>E-Commerce Platform</p>
              </div>
              <div class="col-lg-3 col-md-6 footer-info">
                  <h5 style="color: #e96e20; font-weight: 600" translate>Social Links</h5>
                  <div id="soc">
                      <a href="https://alphax-dev.slack.com/messages" target="_blank" style="background:#e9a820;color:white"class="fa fa-slack circle"></a>
                      <a href="https://www.pinterest.com/alphax0113" target="_blank" style="background: #c8232c;color:white"class="fa fa-pinterest circle"></a>
                      <a href="https://plus.google.com/u/1/104456778950569905138" target="_blank" style="background: #d34836;color:white" class="fa fa-google-plus circle"></a>
                      <a href="https://www.facebook.com/alphaxofficialsupport" target="_blank" style="background-color: #3B5998; color: #fff;" class="fa fa-facebook"></a>
                      <a href="https://twitter.com/alphax_official" target="_blank" style="background-color: #1dcaff; color: #fff;" class="fa fa-twitter"></a>
                      <a href="https://medium.com/@office.alphax" target="_blank" style="background-color: #00ab6c; color: #fff;" class="fa fa-medium"></a><br>
                      <a href="https://web.telegram.org/#/im?p=@alphax_official/" style="background-color: #0088cc; color: #fff;"  target="_blank" class="fa fa-telegram"></a>
                      <a href="https://www.reddit.com/user/AlphaX2807/posts/" style="background-color: #ff4500; color: #fff;" target="_blank" class="fa fa-reddit"></a>
                      <a href="https://vk.com/public172333507" target="_blank" style="background-color: #45668e; color: #fff;" class="fa fa-vk"></a>
                      <a href="https://www.instagram.com/alphax_admin/" style="background-color: #fb3958; color: #fff;" target="_blank" class="fa fa-instagram"></a>
                      <a href="https://bitcointalk.org/index.php?topic=5028888.80" target="_blank" style="background-color: #f7931a; color: #fff;" class="fa fa-btc"></a>
                    </div>
                    </div>
            </div>
          </div>
        </div>
        <hr style="background: #363535; width: 85%;">
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center-md">
                <p style="color: #6d6e72; text-align:center;" translate>&copy; 2018 ALPHA-X - Asaex IT Solutions Inc. Marshall Islands, Reg.No. 97685</p>
              </div>
              <div class="col-lg-4"></div>
              <!-- <div class="col-lg-8 text-right text-center-md">
                    <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">PRIVACY POLICY &nbsp;&nbsp; |</a> </li> 
                    <li class="list-inline-item"><a href="#" style="color: #6d6e72">TERMS & CONDITIONS</a></li>
                    
                  </ul>
                    
                  </div> -->
            </div>
          </div>
        </div>
      </footer>
      </div>
  <!-- #footer -->

    
        <!--the pop up-->
        <div id="modal">
        <div id="mymodal" *ngIf = "isVisible">
          <!--the close button of the pop up-->
          <button id="close" (click) = "closeModal()">x</button>
          <!--the main content of the pop up-->
          <div class="modal-content" style="cursor: pointer;" (click)=callFunction()>
            <img src="/assets/website/img/popup_1.png" class="img-fluid" id="popup">
          </div>
          <!--the redirect button-->
          </div>
        </div>
     


  <a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </a>
 
  
  <!-- JavaScript Libraries -->
  <script src="/assets/website/lib/jquery/jquery.min.js"></script>
  <script src="/assets/website/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/website/lib/easing/easing.min.js"></script>
  <script src="/assets/website/lib/superfish/hoverIntent.js"></script>
  <script src="/assets/website/lib/superfish/superfish.min.js"></script>
  <script src="/assets/website/lib/wow/wow.min.js"></script>
  <script src="/assets/website/lib/waypoints/waypoints.min.js"></script>
  <script src="/assets/website/lib/counterup/counterup.min.js"></script>
  <script src="/assets/website/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/assets/website/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/assets/website/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/assets/website/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
   
  <!-- Contact Form JavaScript File -->
  <script src="/assets/website/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->

  <script src="/assets/website/js/main.js"></script>
  <script src="/assets/website/js/popup.js"></script> 

  <script type="text/javascript">
    $(window).load(function() {
        $('#exampleModalLong').modal('show');
    });
    </script>

</body>

<script>
	$(window).scroll(function () {
		$(".progress-bar1").loading();
		$(window).unbind('scroll');
	});

	function myFunction() {
		var x = document.getElementById("myDIV");
		if (x.style.display === "none") {
			x.style.display = "block";
		} else {
			x.style.display = "none";
		}
  }
</script>
<!-- <script>
	var modal = document.getElementById('myModal');

	var btn1 = document.getElementById("myBtn1");
	var btn2 = document.getElementById("myBtn2");
	var btn3 = document.getElementById("myBtn3");

	var span = document.getElementsByClassName("close")[0];

	btn1.onclick = function () {
		modal.style.display = "block";
		document.getElementById('iframe').src = "https://www.youtube.com/embed/F3LuoSzcxwY";
	}
	btn2.onclick = function () {
		modal.style.display = "block";
		document.getElementById('iframe').src = "https://www.youtube.com/embed/HxJfbbrmagg";
	}
	btn3.onclick = function () {
		modal.style.display = "block";
		document.getElementById('iframe').src = "https://www.youtube.com/embed/HxJfbbrmagg";
	}
	span.onclick = function () {
		modal.style.display = "none";
	}

	window.onclick = function (event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script> -->
<!-- <script>
	$(document).ready(function(){
		$("#Q2").hide();
		$("#Q3").hide();
		$("#Q4").hide();
		$("#Q5").hide();
		$("#Q6").hide();
		$("#Q7").hide();
		$("#Q8").hide();
		$("#hide").hide();

	  $("#show").click(function(){
		$("#Q2").show();
		$("#Q3").show();
		$("#Q4").show();
		$("#Q5").show();
		$("#Q6").show();
		$("#Q7").show();
		$("#Q8").show();
		$("#hide").show();
		$("#show").hide();
	  });
	  $("#hide").click(function(){
		$("#Q2").hide();
		$("#Q3").hide();
		$("#Q4").hide();
		$("#Q5").hide();
		$("#Q6").hide();
		$("#Q7").hide();
		$("#Q8").hide();
		$("#hide").hide();
		$("#show").show();
	  });
	});
</script> -->

</html>