<section class="card pull-up">
  <div class="card-content">
      <div class="card-body">
          <div class="col-12">
              <div class="row">
                  <div class="col-md-6 col-12 py-1">
                      <div class="media">
                          <i class="cc BTC mr-2 font-large-2 warning"></i>
                          <div class="media-body">
                              <h5 class="mt-0 text-capitalize">Bitcoin</h5>
                              <p class="text-muted mb-0 font-small-3 wallet-address">0xd38d9eeb5b9617d758cee2c683e1d385637635e9</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                      <h6>0.019842 BTC</h6>
                      <p class="text-muted mb-0 font-small-3">~ $2650.78</p>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                      <a href="#" class="line-height-3">Deposit</a>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                      <a href="#" class="line-height-3">Withdraw</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
